[2016-11-12 13:00] sobolevn opened #1 "Following naming convention"
Hello, thanks for your library, it is working pretty smooth: https://github.com/wemake-services/razgrebaem.ru/blob/master/src/store/analytics.js

But I have a strong feeling that naming convention is not right. What are my reasons:

1. `$` prefix on `Vue` instance. As I know it, in the `vue`-world the following convention is followed: any plugins, which are registered, bind as-is to the `Vue` inst

[2016-11-12 13:35] MatteoGabriele commented on #1
Hi @sobolevn,

I was actually thinking about adding all methods also in the prototype object, to make them available in every component without importing `Vue` itself: so definitely gonna add it 👍

The name `track` it's just because makes it more readable in an actual line of code.
I see `this.$track.page` and I immediately know what's going on.
`ga` instead doesn't have any semantic for me. Does

[2016-11-12 14:08] sobolevn commented on #1
My opinion is that `ga` is a well-known acronym. I am not sure about `track` actually.

[2016-11-12 14:09] MatteoGabriele commented on #1
I will add an alias for `ga` as well.

Thanks for the suggestions :)

[2016-11-12 14:49] #1 closed

[2016-11-12 15:08] MatteoGabriele commented on #1
I forgot to add in the description of the commit that also the first point is being added, but it's there 🚀

[2016-11-16 04:03] IniZio opened #2 "Displaying google analytics in component"
Is it possible to retrieve the google analyticis like page viewcount from the components?Also awesome to see this plugin as I have been searching for similar function for Vue :+1:

[2016-11-16 06:28] MatteoGabriele commented on #2
can you be more specific,  I don't think I understand what you mean.  you would like to know how many pages a specific component has tracked? or it's a Google analytics api feature?

[2016-11-18 11:05] MatteoGabriele commented on #2
closed due to inactivity

[2016-11-18 11:05] #2 closed

[2017-01-17 19:42] theshanergy opened #4 "Doesn't track initial page load"
Tracking works great except for the initial page load, which isn't tracked at all. I believe this is a result of the page method firing before window.ga is defined. As a workaround I've added a call to the page method in a then() method on the loadScript promise checking on success. The downside is that this seems to result in duplicate pushes to ga if used with the router. Is there a better way t

[2017-01-17 20:05] theshanergy commented on #4
Here is my current implementation, for reference:

`Vue.use(VueAnalytics, { router, debug: true })
loadScript('UA-10749408-27').then((val) => {
  if (val.success) {
    Vue.track.page(router.currentRoute.path)
  }
})`

This doesn't actually seem to be producing duplicate pushes at the moment, but I think that simply comes down to which loads first, the router or ga.

[2017-01-18 09:11] MatteoGabriele commented on #4
The tracking of the initial page is fixed with the **v1.3.4**
There's still the problem of the script that needs to load, and it's a little bit tricky.
For now a workaround can be this:
[code]
I'll have a look later, so for now i won't close this issue

[2017-01-18 21:48] MatteoGabriele commented on #4
I've published a new release **v1.4.0**
You can follow the documentaion [here](https://github.com/MatteoGabriele/vue-analytics#auto-tracking-and-google-analytics-script)

Let me know if you have any other questions about.

[2017-01-21 12:26] jdrydn opened #5 "How does one set a Google Analytics ID without `loadScript`?"
[code]

If you don't call `loadScript`, how should I be setting the GA-ID? Or am I missing something?

[2017-01-21 12:47] MatteoGabriele commented on #5
Usually Google Analytics provides you a little snippet which loads a script file and initialize your session using your Google Analytics domain ID.
The ID is provided by Google Analytics after you create the account for that specific domain.

The `loadScript` method just injects that script for you in the DOM, but you still have to pass your ID.

[2017-01-21 13:09] jdrydn commented on #5
Ah, so I still need the GA script along with this module! Great thank you.

[2017-01-21 13:20] MatteoGabriele commented on #5
No, you can use `loadScript` and pass the Google Analytics ID, or skip `loadScript` and add GA script and the ID manually in the body of your html page.

The only difference is that you don't have to touch your html page and `loadScript` returns a Promise, so you have a callback when the script is loaded.

[2017-01-22 14:09] #5 closed

[2017-01-27 04:10] Async0x42 opened #6 "Can't resolve lodash.merge"
I'm getting the following error upon importing, with the basic auto-tracking config:

[code]

[2017-01-27 06:55] MatteoGabriele commented on #6
Could you please provide me an example or better a little repo with your issue, I can't really reproduce it.

[2017-01-27 17:38] louisbourque commented on #6
I was getting this error too.

I was able to fix it by updating the package.json file. I moved `"lodash.merge": "^4.6.0"` from `devDependencies` to `dependencies`. Then I did an npm install.

It looks like when doing an npm install, only dependencies are installed. If you happen to have lodash.merge installed in that repo or globally, it'll work.

[2017-01-27 17:44] #6 closed

[2017-01-27 17:48] MatteoGabriele commented on #6
Just published v2.0.2

[2017-02-05 12:58] thekonz opened #9 "[Feature] User ID"
As shown [in the ga docs](https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-user-id), we can set the user id on load or after like this:

[code]

I propose, that we implement it like this:

[code]

The `$ga.set(...)` should call `ga('set', ...)`.

What do you think?

[2017-02-05 13:15] MatteoGabriele commented on #9
Hi @thekonz
it's a nice one, didn't know about the User Explorer report.

thanks :)

[2017-02-05 14:34] MatteoGabriele commented on #9
Feature added with v2.2.0

see 9a200515b84ddf20c8278b5b19356485ad2ae0e7

[2017-02-05 14:34] #9 closed

[2017-02-05 14:46] thekonz commented on #9
![oh boy](http://i.imgur.com/89HANHg.gif)

you're quick. thanks!

[2017-02-05 14:56] MatteoGabriele commented on #9
Just updated the readme file.
Obviously I forgot to update it before publishing it! A classic.

[2017-02-05 16:15] thekonz opened #10 "Improved debugging"
Hi again,
the current debugging solution has two flaws:

- You have to use chrome and the google analytics debugging extension
- Tracking still happens, because the hits are still being sent

As documented [here](https://developers.google.com/analytics/devguides/collection/analyticsjs/debugging), you can do a bit more with google analytics for debugging.

I propose that debugging should be configu

[2017-02-05 17:34] MatteoGabriele commented on #10
hi @thekonz, thanks again!

the debug in `vue-analytics` only shows what you are doing tracking events, pageviews and using the `set` method, so you could also just enable that one without using the Chrome extension: but of course if you need more, you need that one.

I never liked the extension because was logging too much and at the end I always wanted only: which page or event.

This debug tool

[2017-02-09 20:15] MatteoGabriele commented on #10
I've published this new feature with v2.3.0

see 0814cd530553acebad4c84204ec90cbca0303c7c

[2017-02-09 20:15] #10 closed

[2017-02-09 20:16] MatteoGabriele commented on #10
@thekonz thanks again and let me know if works as expected :)

[2017-02-12 21:11] thekonz commented on #10
thanks! it works as expected. also, there was a typo in the readme. see #11

[2017-02-22 09:33] shershen08 opened #12 "Avoid using lodash.merge, possible?"
Is that possible to replace lodash.merge with some simpler function,
the [package is 2.2KLOC](https://github.com/lodash/lodash/blob/4.6.0-npm-packages/lodash.merge/index.js) itself which is 10x more that the vue-analytics.js file

[2017-02-22 09:40] MatteoGabriele commented on #12
@shershen08 yes i was thinking to make something custom to shrink the size.

thanks to remind me this actually :)

[2017-02-22 09:44] shershen08 commented on #12
That'd be great!
Since it's used in only one place - merging the options defaults with the actual called options afaik.

[2017-02-22 09:47] MatteoGabriele commented on #12
yeah I think something like an `Object.assign` will do the trick

[2017-02-22 09:53] shershen08 commented on #12
Since Object.assign is ES6, and that's not same browser support as the [original framework, vue.js does](https://github.com/vuejs/vue), so maybe [go for a polyfilled version](https://github.com/sindresorhus/object-assign) -
or e.g. I just did it like [this in vue-masonry plugin](https://github.com/shershen08/vue-masonry/blob/master/src/masonry.plugin.js#L19)

[2017-02-22 20:11] #12 closed

[2017-02-22 20:13] MatteoGabriele commented on #12
@shershen08 just published v2.3.1

[2017-02-24 16:43] timrijkse opened #13 "Not tracking when debug object is present"
Check the object default value if only one property is set

[2017-02-24 19:05] #13 closed

[2017-02-27 12:07] rayoplateado opened #14 "screenview on route change"
Hi!

I'm working with vue-analytics but not sure if I'm doing something wrong.

By now, if I refresh my app, I can see a `pageview` dispatch to Google Analytics, and in fact, Google Analytics get this info.
But if I change my route, it sends a `screenview`, what is not being registered into Google Analytics.

This is my routes file:

[code]

Any clue on this? Thank you!

[2017-02-27 12:27] MatteoGabriele commented on #14
@rayoplateado as far as I can see, this is the wrong repo.
You are using `vue-ua`, this is `vue-analytics` :)

[2017-02-27 12:27] #14 closed

[2017-02-27 16:39] rayoplateado commented on #14
@MatteoGabriele My apologizes.

[2017-02-27 21:02] daniel-keller opened #15 "Analytics only tracked when in debug mode"
I'm sure this is an issue with my implementation as I'm new to Analytics.
I see the session in real time when I initialize vue-analytics in debug mode but without debug mode on I see nothing. At first I thought this was b/c I was on my local environment; however, running the code on my dev server produced the same results. I'm using Vue 2 and Vue Router 2

[code]

[2017-02-27 21:17] MatteoGabriele commented on #15
hi @daniel-keller the purpose of the debug it's actually to show to you what you're tracking: if you are not in debug mode, then the app is still tracking but it is not logging to your console.

when you put `debug.enabled` to `true` I am actually loading a specific library from Google Analytics which is slightly bigger in size, and allows you to see everything is going on.

Never use debug mode i

[2017-02-27 21:23] MatteoGabriele commented on #15
If you want to read more you can click [here](https://developers.google.com/analytics/devguides/collection/analyticsjs/debugging) to the actual documentation of `analytics_debug.js`, but can also skip it!

Basically what you need to know is that

- you are always tracking by default
- if you enable debug you are actually seeing what you are tracking
- you can also see what you are tracking enablin

[2017-02-27 21:26] daniel-keller commented on #15
Thank you for quick response. I understand that debug mode will log in the console and I certainly don't want to us it in production. What I mean is if I turn debug mode on I can login to my google analytics account and see the active user in real time. However if I turn debug mode off I no longer see any real-time activity on the site.

[2017-02-27 21:46] daniel-keller commented on #15
Hmm, well now its started working and I can't reproduce the error. Thank you again for your response.

[2017-02-27 21:46] #15 closed

[2017-02-27 21:49] MatteoGabriele commented on #15
@daniel-keller No idea about the realtime data disappearing on debug false, to be honest: there's no API involved for realtime data on GA.

Let me know if you find any other issue.

thanks

[2017-03-03 23:49] KKSzymanowski opened #16 "Time tracking"
First off, I want to thank you for this package.

I want to propose adding time tracking to the available functionality.
It would use the API described here:
https://developers.google.com/analytics/devguides/collection/analyticsjs/user-timings

I'm no expert in JS but here's the proposed implementation:
[code]

And in the `src/index.js` you'd need to import the file:
[code]
and register it
[code]

[2017-03-04 15:56] cspeer opened #17 "window.ga is not a function in Mobile Safari"
Hi,

I'm running on the latest version 2.3. and I get the following error from a few iOS 10.2.1 devices with Mobile Safari 10:
`window.ga is not a function. (In 'window.ga("create",i.id,"auto",r)', 'window.ga' is undefined)`

Otherwise everything is fine.

Thanks,
Chris

[2017-03-04 18:08] MatteoGabriele commented on #16
@KKSzymanowski yes please, feel free to make a PR.
Looks interesting!

thanks for this feature

[2017-03-04 18:22] MatteoGabriele commented on #17
@cspeer I can't reproduce this error, but i can only test until 10.2.
The version you have has not been released on XCode yet.

Could you provide an example of your setup please? Would help a lot.

Thanks

[2017-03-04 18:28] cspeer commented on #17
You're right, it has not been released for the iOS simulator. And testing on my personal device does not bring up this issue. However, this issue pops up for some other users.
I'll attach a screenshot of the error report in Sentry.

Here is my setup:
[code]

Thanks for looking into this.

[2017-03-04 18:46] MatteoGabriele commented on #17
Ok thanks for the sentry report, I'm going to have a look a the method that loads the script, maybe there's something strange going there.

Btw you can easily disable VueAnalytics just adding this properties to the debug object and you won't track or send hints to the domain associated

[code]

[2017-03-04 19:09] #16 closed

[2017-03-04 19:19] cspeer commented on #17
Thanks Matteo. I appreciate your effort!

[2017-03-04 19:26] MatteoGabriele commented on #17
@cspeer thanks to you for the issue.

[2017-03-04 19:28] MatteoGabriele commented on #17
Due to the new update on the OS, I've added as a low priority but I want to address it asap as always :)

[2017-03-04 19:34] MatteoGabriele commented on #16
@KKSzymanowski  feature published in v2.4.0

[2017-03-07 18:44] emersoncoder opened #19 "2 ids in same page"
How I do 2 google analytics in same page ?

Thanks in advanced

[2017-03-07 20:47] MatteoGabriele commented on #19
You can't! Usually an ID is per domain, so I didn't find that necessary to implement.

What's the use case? Tracking the same events and pages but for 2 different domains?

[2017-03-09 13:48] emersoncoder commented on #19
I have an e-commerce that creates e-commerce pages, and on the pages that customers use, they put their ID, and I put mine too, so it gets 2 ID tracking the page.

[2017-03-09 13:50] emersoncoder commented on #19
I use u code in this way

const ecommerce1 = require('vue-analytics');
const ecommerce2 = require('vue-analytics');

then I do 2 calls with diferent analytics IDS

[2017-03-09 14:43] MatteoGabriele commented on #19
If you need to track the same events with multiple domain IDs I need to make a change in my code, but it's possible

[2017-03-10 20:15] MatteoGabriele commented on #17
I've just released a v3.0.0 which also have your fix.

The `ga` object was called before the script was added in the dom:  that's why `window.ga` was resulting undefined.

Let me know of future issues.

[2017-03-10 20:16] MatteoGabriele commented on #19
feature added in v3.0.0

[2017-03-10 20:16] #19 closed

[2017-03-10 20:18] MatteoGabriele commented on #19
@emersoncoder just pass an array of strings instead of one string and you're good to go.

[code]

[2017-03-11 13:55] cspeer commented on #17
Thanks Matteo! That's awesome!

[2017-03-13 17:05] MatteoGabriele commented on #17
man this safari browser! i hate it! ahhahahah
gonna have a look! :)

[2017-03-13 17:06] MatteoGabriele commented on #17
Yeah, indeed!

[2017-03-15 03:01] zombor commented on #17
I got this same error today, btw!

[2017-03-15 06:14] #17 closed

[2017-03-15 06:18] MatteoGabriele commented on #17
published v3.0.1 :tada:

now I start polling until `ga` is defined. I don't like it but in this cases is necessary.
Let me know guys if you have other issue!

thanks!

[2017-03-15 09:55] cspeer commented on #17
Thanks again Matteo

[2017-03-28 01:28] vwxyutarooo opened #20 "Set the Session Scope Costom Dimmention"
As this title, I'd like no set Session Scope Custom Dimention. I's not working When I trying as following

router/index.js
[code]

I think it should has set before sending initial pageview and `vue-analtics` does not supported yet.
Is it correct?

[2017-03-28 07:40] MatteoGabriele commented on #20
yeah true. now it's not possible.
Thinking on making available a function that is fired before the first hit so it's possible to add everything needed.

[2017-03-28 07:58] #20 closed

[2017-03-28 08:00] MatteoGabriele commented on #20
I just moved the `onAnalyticsReady` callback. now it fires before the first hit so you can do stuff there.

published v3.0.2

[2017-03-31 00:32] wopian opened #21 "Support for Google Optimize (ga require)"
[Google Optimize](https://optimize.google.com) requires inserting `ga('require', 'GTM-XXXXXXX');` into Analytics to function correctly. However it's currently only possible to add `ga('set')`.

[2017-03-31 18:55] MatteoGabriele commented on #21
@wopian I will make a `require` method and also maybe also a method that can do everything if really needed. Could maybe be handy.

thanks for the suggestion :)

[2017-04-01 15:51] MatteoGabriele commented on #21
I've added the `require` method so now you can write `Vue.$ga.require('GTM-XXXXXXX')`
Also added the `query` method that allows you to pretty much do everything i didn't implement yet

available in the v3.2.0

[2017-04-01 15:51] #21 closed

[2017-04-06 17:22] foundryspatial-duncan opened #22 "Command ignored. Unknown target: undefined"
I've got a single-page app and I'm *not* using vue-router. Since it's not using a router, I'm trying to manually fire `trackPage` in the root component, but the Google Analytics Debug Chrome extension is saying "Command ignored. Unknown target: undefined":

[code]

This app is using the vue-cli `webpack-simple` template, so my main entry point looks like this:

[code]

and the root component, `App

[2017-04-06 17:54] MatteoGabriele commented on #22
Hi @foundryspatial-duncan
vue-router is not mandatory, I'll have a look right now to see if I can find something, otherwise I'll gonna ask maybe to share a reproduction of the error.

Thanks!

[2017-04-06 18:20] MatteoGabriele commented on #22
I can't reproduce the `Command ignored. Unknown target: undefined` but I do see that calling the track event from the `mounted` component can cause issues: can happen that it doesn't track because the Google Analytics script is not loaded yet. The application booting is faster.

You might want to wait until the script is loaded and mount your application using the callback function in the options

[2017-04-07 15:21] thatandyrose opened #23 "Add supported vue and vue-router versions to readme"
Hey!

Just a quick nitpick that might actually be useful to others. It would be good to add supported versions of Vue to the readme...?

thanks for this awesome library!

[2017-04-07 15:29] #23 closed

[2017-04-07 15:30] MatteoGabriele commented on #23
done! :)

thanks for you suggestion!

[2017-04-07 15:30] thatandyrose commented on #23
@MatteoGabriele wow that was quick :-) 👍

[2017-04-10 17:41] mikereinhold opened #24 "Auto-Tracking does not update the tracker page reference"
Currently the auto tracking feature only sends the pageview hit and does not update the tracker's internal page location reference via
[code]
As a result, events, social interactions, user timings, etc always show the landing page as the "page" for the event in Google Analytics - reducing visibility to where the event, social interaction, or user timing actually happened.

For reference, see Googl

[2017-04-11 05:59] MatteoGabriele commented on #24
issue closed
see PR #25

[2017-04-11 05:59] #24 closed

[2017-04-11 06:03] MatteoGabriele commented on #24
fix available with v3.2.1

[2017-04-12 10:21] MatteoGabriele commented on #22
@foundryspatial-duncan I'm closing this ticket. Feel free to open it again if you still have the same problem

[2017-04-12 10:21] #22 closed

[2017-04-13 16:26] necevil opened #26 "How to wait for GA Event "Sent" in the case of Form Submission / User Redirection?"
In my use case I am submitting a form and triggering an event to be sent when that form is submitted.  The trick is that I want to wait until I KNOW that GA has recorded the event before I allow the user to be redirected.

Google Analytics docs normally suggest something like this:

[code]

My question is, how can I listen for the hitCallBack with Vue-Analytics?

[2017-04-13 18:52] MatteoGabriele commented on #26
Currently is not possible with the `trackEvent` method, I'll going to make some adjustment to support also objects, but for now you can simply use the `query` method available since v3.1.0

[code]

[2017-04-14 03:38] mikereinhold commented on #24
Thanks! :)

[2017-04-14 09:51] MatteoGabriele opened #27 "page tracking with VueRouter instance"
should be possible to pass the router instance to the `$ga.trackPage` method to track the current route

[code]

[2017-04-14 09:59] MatteoGabriele opened #28 "allow the page tracking to use callbacks"
Some methods from GA allows to pass callbacks to check when a hit is received.
To allow that, is necessary to pass all arguments and let the developer choose the way he wants to track a page.

Right now is possible to track a page like so

[code]
but this type of notation doesn't allow the developer to use all GA specs so we need to use the `query` method and type it manually

[code]

So should be

[2017-04-14 10:00] MatteoGabriele commented on #26
see #28

[2017-04-14 10:00] #26 closed

[2017-04-14 10:03] MatteoGabriele opened #29 "social interactions tracking"
see https://developers.google.com/analytics/devguides/collection/analyticsjs/social-interactions

[2017-04-14 10:07] MatteoGabriele opened #30 "exceptions tracking"
see https://developers.google.com/analytics/devguides/collection/analyticsjs/exceptions

[2017-04-14 17:01] necevil commented on #26
Great answer @MatteoGabriele
Worked like a charm and already into up and running!
Thanks a ton!

[2017-04-14 21:33] MatteoGabriele commented on #26
@necevil You're welcome and thanks for your feedback!

[2017-04-16 16:13] #29 closed

[2017-04-16 16:13] #30 closed

[2017-04-17 01:05] MatteoGabriele commented on #27
see 6934f5095e20609e614324f35ddc8bea65f88776

[2017-04-17 01:05] #27 closed

[2017-04-17 01:06] MatteoGabriele commented on #28
see 6934f5095e20609e614324f35ddc8bea65f88776

[2017-04-17 01:06] #28 closed

[2017-04-18 01:01] zombor opened #31 "Query parameters for site search"
Hi, I'm trying to use site search on GA, but it doesn't appear to be getting any data. Any chance that query params aren't being sent to GA? I'm not exactly sure if it gets it from the `page` or `location` key. `page` doesn't seem like it would include it.

[2017-04-18 05:38] MatteoGabriele commented on #31
Hi @zombor
Could you please provide some code you are using? Like which options are u passing to the plugin, which method doesn't work,  how you are implementing that and which version of vue-analytics

Thanks :)

[2017-04-18 12:39] marktheis opened #32 "feature request: delay page auto tracking"
Hi. When using the page auto tracking feature, it would nice if you could delay the page tracking on each route.

Reason:
If I set `document.title` on my `created` hook, vue-analytics uses the old title instead of the new title I just set. If I could delay vue-analytics by x ms, It'll pick up the new title I think.

Or is there a better way to achieve this?

And great plugin btw :)

[2017-04-18 13:27] marktheis commented on #4
@MatteoGabriele Hi is it possible to disable tracking of initial page load?
My plan is to do custom tracking, and currently I'm getting double tracked on initial load.

This is with the auto tracking disabled.

[2017-04-18 13:44] MatteoGabriele commented on #4
hi @marktheis yes the first load is auto-tracked by default, I'm going to have a look at the code.
which version are you running now?

[2017-04-18 13:47] marktheis commented on #4
@MatteoGabriele Latest: 4.0.0

[2017-04-18 13:48] zombor commented on #31
Yep, I should have done that in the first place! It's all pretty standard, just using auto-page tracking:

[code]

My package.json has `"vue-analytics": "^3.0.1"`.

[2017-04-18 13:50] MatteoGabriele commented on #32
hi @marktheis if you are using the auto-tracking is not using `document.title` but the `name` property on your route.

currently if you need custom page tracking you need to go with the manual way like

i.e. your component
[code]

[2017-04-18 13:56] MatteoGabriele commented on #31
hey @zombor thanks but I still don't understand what you need to track, what's the expected behavior you're looking for

thanks

[2017-04-18 14:03] MatteoGabriele commented on #32
I can maybe look at how to customize more the auto-tracking with a proxy object, I'll have a look :) in the meantime let me know if that code helps you

[2017-04-18 14:04] zombor commented on #31
I'm trying to use the Site Search feature in GA, but it's not getting any data showing up in GA with the query param that I use for my search page. I have a hunch that it needs the query params sent in the `page` param of `pageview`, but this package only sends the path: https://github.com/MatteoGabriele/vue-analytics/blob/master/src/features/page.js#L11

`location` *does* send the full url with q

[2017-04-18 14:23] MatteoGabriele commented on #31
ok I'll have a look! thanks! :)

[2017-04-18 14:29] marktheis commented on #32
Ohh. I thought it was using document.title because I think it uses that **only** on initial load. I see now it uses the name property otherwise. Thanks.

Okay so this really isn't a problem for me then. You can close it for my sake. I can't see any other use for it.

[2017-04-18 14:31] MatteoGabriele commented on #32
ah ok! I thought you had some sort of reasons to use the `document.title`, maybe for Server Side Rendering

[2017-04-18 14:35] MatteoGabriele commented on #32
I will still going to add a feature for a better customization of the auto-tracking :)

thanks for your feedback

[2017-04-19 07:33] #31 closed

[2017-04-19 07:48] #4 closed

[2017-04-19 07:52] MatteoGabriele commented on #4
@marktheis fix available on 4.0.2
first page hit is now only on auto-tracking enabled but it's still possible to disable that when you are using auto-tracking by set `pageviewOnLoad` property to the options

[code]

[2017-04-19 07:54] MatteoGabriele commented on #31
@zombor the feature is available on `v4.0.2`

[2017-04-19 08:38] marktheis commented on #4
@MatteoGabriele Thanks. It works 💯

[2017-04-19 10:34] #32 closed

[2017-04-24 03:21] mikereinhold opened #33 "VueAnalytics Error Handling"
### Description

There are a variety of scenarios in which Google Analytics may fail to execute properly for a user on a site (Google Analytics API issue, user browser blocking analytics code, organization or vpn provider blocking analytics code, etc).

Though these scenarios don't occur very often, when they do occur it will cause the currently running portion of the Vue application to fail. Exam

[2017-04-24 07:14] MatteoGabriele commented on #33
hey thanks for your feedback again.
not really sure on how to achieve this error handling that your talking about.

do you have an example on how you would handle that "manually" right now?

i will try to install this plugin and see what i can do :)

[2017-04-24 10:07] MatteoGabriele commented on #33
I looked at what actually the blocker is doing and it is only blocking http requests and I have no access to them: the script will never go in my try/catch.

The only request i can handle is the script loading part, but I'm already taking care of that one.

For now i can't do anything, sorry.

If you find a way let me know
Thanks again for you feedback :)

[2017-04-24 10:07] #33 closed

[2017-04-25 17:51] wcarron27 opened #34 "GA tag placement"
Don't know where elst to ask this: But, I'm getting and Error from the Google Tag manager informing me of "A Non-Standard Implementation". It says that it's detecting the Script requests, but cannot locate the script in the web page. Do I need to place the plain google analytics script in the index.html for it to work properly?

[2017-04-25 19:09] MatteoGabriele commented on #34
Hi @wcarron27 could you please add some more information? like the entire error, some screenshots?

thanks :)

[2017-04-26 03:43] mikereinhold commented on #33
@MatteoGabriele - I did some more digging on this... The problem was that I was wrapping up all my analytics needs into a single set of exports, including trying to merge Vue.$ga into my export during onReady. This worked fine when Google Analytics properly loads, but onReady never fires when the analytics script is blocked... Leaving the functions that should be exported from Vue.$ga as undefined

[2017-04-26 07:02] MatteoGabriele commented on #33
no problems!

thanks again for your feedback and have a nice day!

[2017-04-26 17:12] wcarron27 commented on #34
I will tonight once I am home from work, thank you.

[2017-04-27 01:14] KeeepMoving opened #35 "tracked page load ga.js which spends more time, why not to use local js file from your vue-analytics modeule?"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

What are you reporting?

### Expected behavior

Tell us what you think should happen.

### Actual behavior

Tell us what actually happens.

### Environment

Run these commands in the project folder and fill in their results:

1. `npm ls vue-analytics`:
2. `node -v`:
3. `npm -v`

[2017-04-27 05:40] MatteoGabriele commented on #35
Besides the fact that you just skipped the entire issue template and wrote only a huge title, adding the analytics file directly in the npm package  means that you are going to bundle the entire library in your application file which will take even more time to load.

[2017-04-27 05:40] #35 closed

[2017-05-01 15:25] MatteoGabriele commented on #34
i will close this ticket for inactivity. you can open it again if you still have the issue

[2017-05-01 15:25] #34 closed

[2017-05-04 17:45] officert opened #36 "Add support for/expose _setReferrerOverride"
I need to override GA's referrer by using `window.ga.push(['_setReferrerOverride', document.referrer]);`

I looked through the code and the custom methods docs but don't see anything that exposes this.

Would it be possible to add?

[2017-05-04 17:52] MatteoGabriele commented on #36
sure thing! thanks for the suggestion :)

[2017-05-04 19:32] MatteoGabriele commented on #36
@officert apparently the `push` method doesn't exist anymore. It's a method from the ga.js libarry not for the new analytics.js. Are you sure you can't achieve what you need in another way?

[2017-05-04 19:52] MatteoGabriele commented on #36
Ok I think i got it!

You need to set a field so you can just you the `set` method like so

[code]
this is a reference to the api https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#referrer

let me know if works! :)

[2017-05-04 19:52] #36 closed

[2017-05-12 09:21] MatteoGabriele opened #37 "'?' character in every page track"
The `?` is added to the `page` property even if there is no query string in the url.

[2017-05-12 09:22] #37 closed

[2017-05-12 20:04] zsalzbank opened #38 "pageviewTemplate is only called once on page load, not when route changes"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

When auto-tracking is enabled, and a `pageviewTemplate` is supplied, the callback is only called on the initial route.

### Expected behavior

I would expect it to be called on each route change, so the parameters passed to the tracker can be dynamic based on the route.

### Ac

[2017-05-12 21:14] #38 closed

[2017-05-12 21:17] MatteoGabriele commented on #38
Hi @zsalzbank
Thanks a lot for your issue and the example!

Fixed it with vue-analytics@4.1.2

Let me know if everything works

[2017-05-14 12:59] zsalzbank commented on #38
Works! Thanks for the quick turnaround!

[2017-05-17 03:16] Baozi2 opened #39 "require does'not work"
when I use
[code]
but it  does not require ec.js。
I find that when i use **this.$ga.require('ec')** this time the google analyticsjs.js does' not
loaded,so  window.ga is undefined

### Environment
vue-analytics@4.1.2
node -v6.2.1
npm -3.9.3
Mac
chrome
Then, specify:

[2017-05-17 11:37] MatteoGabriele commented on #39
hi @Baozi2
this issue is because `mounted` doesn't mean that the google analytics script is loaded, they are two different things.

Do you need to add that plugin only when a specific page is mounted? otherwise you can just add it in the `onReady` method in the configuration object

[code]

[2017-05-18 01:12] KeeepMoving commented on #35
sorry about that :)

[2017-05-21 04:11] Baozi2 commented on #39
get  it，thx

发自网易邮箱大师
On 05/17/2017 19:37, Matteo Gabriele wrote:

hi @Baozi2
this issue is because mounted doesn't mean that the google analytics script is loaded, they are two different things.

Do you need to add that plugin only when a specific page is mounted? otherwise you can just add it in the onReady method in the configuration object

Vue.use(VueAnalytics, {
  id:'UA-12345678-1',
  onRea

[2017-05-21 06:00] #39 closed

[2017-06-05 21:41] jamiecarter7 opened #41 "Triple pageview fire on initial pageload"
### Description

I am getting a triple pageview fire on the initial load of the website.

From this point browsing the site seems to fire the correct amount of views

### Expected behaviour

It should fire once

### Actual behaviour

<img width="1035" alt="screenshot 2017-06-05 01 59 51" src="https://cloud.githubusercontent.com/assets/9541902/26804301/608e30c8-4a3f-11e7-9676-1a1d1768772f.png">

Th

[2017-06-06 09:30] MatteoGabriele commented on #41
hi @jamiecarter7

could you please create a public repo with the issue replicated so I can debug it better?
I currently don't see this issue

Usually the application dispatches 2 events:
- runs the `ga("set", "page", "/")` command to change the page context
- runs the `ga("send", "pageview", {page: "/", title: "home", location: "http://localhost:8080/"})` for actually tracking the current page

th

[2017-06-06 09:33] MatteoGabriele commented on #41
I also suggest you to update your package to the latest version, since lot of improvements, bug fix and features are implemented in the newest version 4 :)

[2017-06-06 09:38] MatteoGabriele commented on #41
I see that in version 2.4 that you have, there's still an extra `pageview` hit send it, but it is already fixed.
I also see two different routes in your console, so you are probably redirecting from the home page to something else.

[2017-06-08 23:50] jamiecarter7 commented on #41
Thanks for the reply!

I updated to the newest version which reduced the initial pageview to 2. I then removed the initial page view load which leaves it to just one pageview on intital load and then it tracks views from there.

I knew it would be something on my route, I am still unsure what but its tracking the site correctly now! Thanks for the great package!

Closing issue

[2017-06-08 23:50] #41 closed

[2017-06-09 06:51] MatteoGabriele commented on #41
no problem!
glad that it works :)

[2017-06-11 19:10] jamiecarter7 commented on #41
I've implemented this onto the site and I've found that i think it was an error with our development version of the site. I turned the pageload: false and found on the live site it didnt fire with the user first landed!.

It seems all is working well its just a localhost issue.

Thanks!

[2017-07-10 20:40] Cosbgn opened #43 "Can we setup a custom "url" for a page?"
Hi,

Thanks for this plugin, is great. My question is:

I have a django app which will render a static html page if the user in not authenticated at the root domain (e.g. site.com), If the user is authenticated it will load a vue single page app where I use your plugin, all routes are tracked correctly except of home which looks like (site.com/#/).

Google Analytics will correctly think that this

[2017-07-12 05:39] leighwilliams commented on #15
I think I've come across the original issue described here.

[code]

Above is disabling `sendHitTask` even though `enabled` is set to false.

[code]

This is required to make it work while keeping `debug` key present.

[2017-07-12 07:30] MatteoGabriele commented on #43
Hi @Cosbgn
If I understood correctly you just want to get rid of the automatic track of a certain page and do it yourself.
If so the only thing you need is to set the filter for the route you don't want to track using the `ignoreRoute` property. check documentation [here](https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/page-tracking.md#ignore-routes-on-page-auto-tracking)

and the

[2017-07-12 07:52] MatteoGabriele commented on #15
This is the exact value of the default state of the debug object https://github.com/MatteoGabriele/vue-analytics/blob/master/src/config.js#L7-L11

`debug.enabled` is not referring to `sendHitTask` property or `trace`, but is referring to the actual debug mode.

so if you don't want to sendHitTask to your Analytics account during development, simply write

[code]
as described here in the source cod

[2017-07-17 20:59] nchutchind opened #44 "PageView location is incorrect"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

When tracking pageView automatically using the VueRouter and default settings, the location is the previous page rather than the page being navigated to.

### Expected behavior

If navigating from localhost/A to localhost/B, I would expect the pageView tracking to have a "page"

[2017-07-17 21:05] nchutchind opened #45 "UserId isn't set correctly"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

Google Analytics thinks the user id I'm providing is the tracker name.

### Expected behavior

When configuring vue-analytics, including a configuration like the following should set the user id:

    {
        id: "UA-123456-78"
        userId: "1234-ABCD"
    }

### Actual be

[2017-07-18 10:28] #44 closed

[2017-07-18 10:28] #45 closed

[2017-07-18 11:17] MatteoGabriele commented on #44
@nchutchind  Thanks a lot for your feedback!!

[2017-07-18 11:18] MatteoGabriele commented on #43
i will close this issue, but feel free to open it again if you still have problems

[2017-07-18 11:18] #43 closed

[2017-07-19 10:08] patrickbolle opened #47 "Track outbound links with vue-analytics?"
Hi! Love the plugin, been working perfectly on my site so far - www.travelcurated.com

I'm trying to track outbound links and am having troubles.

I've been trying to use the Custom Methods page in the docs for this : this.$ga.query(...)

My code is -
`  <a :href="url" target="_blank" v-on:click="outboundClick()">Visit Site</a>`

`outboundClick: function() {
      this.$ga.query('send', 'event', '

[2017-07-19 18:28] MatteoGabriele commented on #47
hi @patrickbolle
thanks for your feedback :)

I'm sorry but I tried and for me works: I click the anchor tag and the `hitCallback` callback is successfully fired before leaving the page.

[code]
if your application goes in the debugger, then I can't do much I guess.

Take in mind that `this.$ga.query` it's just the plain `ga` instance of Google Analytics and it works when features like this are no

[2017-07-19 18:45] MatteoGabriele commented on #47
Might be because that you're actually using the default behavior of the anchor tag and the javascript part doesn't have time to fire the event.

try this

[code]

[code]

[2017-07-20 00:30] patrickbolle commented on #47
Ahhh that could be it @MatteoGabriele

Now my issue with that is -- I need the link to open in a new tab. And looks like that isn't possible to do properly with JS (without it looking like a pop up).

Will try this and let you know though, thanks!!

[2017-07-20 06:12] MatteoGabriele commented on #47
Sure! :)
For now, since this is not an issue of the plug-in itself, I will close it. Feel free to open it again if you need so.

[2017-07-20 06:12] #47 closed

[2017-07-31 02:01] HAKASHUN opened #48 "Feature Request for cross-domain tracking"
### Description

Feature Request for cross-domain tracking

### Expected behavior

- set allowLinker option
- add codes to use linker

[code]
https://support.google.com/analytics/answer/1034342?hl=en

### Actual behavior

There is no way to track cross-domain with this library.

### Environment

Run these commands in the project folder and fill in their results:

1. `npm ls vue-analytics`: vue-ana

[2017-07-31 09:52] #48 closed

[2017-07-31 09:57] HAKASHUN commented on #48
Thanks! 💯

[2017-07-31 10:02] MatteoGabriele commented on #48
thanks for your feedback :)

you can find the documentation here https://matteogabriele.gitbooks.io/vue-analytics/content/cross-domain-tracking.html

[2017-08-11 03:25] bigbanana opened #49 "File page.js page function has a serious bug"
File page.js page function has a serious bug, when the implementation of **npm run build**, because **UglifyJsPlugin**, **VueRouter** class constructor.name not _VueRouter_ string, so **getDataFromRouter** method will not be implemented, resulting in statistical error , Hope to quickly solve, thank you!

[2017-08-11 07:18] MatteoGabriele commented on #49
Thanks for your feedback.
I made a reproduction of the error myself but please next time take time to fill the template issue that I made: is there for a reason.
The issue template helps me to understand better the issue and fix it as quick as possible: if you just type your thoughts without a reference to the actual problem, makes everything more long to me to process.

Thanks :)

[2017-08-11 07:43] #49 closed

[2017-08-11 09:09] MatteoGabriele commented on #49
@bigbanana bug fixed on 4.2.2

thanks again

[2017-08-11 12:56] asifkilwani opened #50 "Doesn't work within Cordova"
I am using vue-analytics within cordova. App runs on localhost, works well with analytics but when app install and run from play/app store, it doesn't show any results in analytics report?

[2017-08-11 13:08] MatteoGabriele commented on #50
![1tx3ru](https://user-images.githubusercontent.com/5337152/29214248-df76e0ba-7ea6-11e7-8d7c-9bf5951bd37a.jpg)

[2017-08-11 13:22] MatteoGabriele commented on #50
I don't ask for an entire application reproduction, but at least the vue-analytics configuration object and the version used.

thanks :)

[2017-08-13 11:00] jigsawsoul opened #51 "Am I doing something wrong here, as its not working!"
[code]

Sorry, I just can't see why I am not getting any real time data.

[2017-08-13 11:28] MatteoGabriele commented on #51
Yes, you need to add the VueRouter instance, not the routes array :)

[2017-08-13 11:28] #51 closed

[2017-08-13 14:11] jigsawsoul commented on #51
How would I do that in my case, sorry this is new to me.

[2017-08-13 14:14] MatteoGabriele commented on #51
[code]

[2017-08-14 14:33] asifkilwani commented on #50
Hi,

My current vue-analytics version is 4.2.2 and below is the configuration

`Vue.use(VueAnalytics, {
  id: 'UA-100213456-1',
  linkers: ['afripods.com', 'example2.com'],
  debug: {
    enabled: true,
    trace: false,
    sendHitTask: true
  }
})`

here is the debug there
`Running command: ga("send", "pageview", {page: "/discover_trending", title: "Explore > Trending", location: ""})
Unallowed

[2017-08-14 15:01] MatteoGabriele commented on #50
I personally don't work with Cordova, so I have no clue about its environment.
Does Cordova provides a `window.location.href`  ?

[2017-08-14 15:03] asifkilwani commented on #50
yeah but it's running on file:/// protocol.

I found a solution over the internet but don't know how to implement below with vue analytics config

`ga('create', 'UA-**********-6', {'cookieDomain': 'none'});
ga('set', 'checkProtocolTask', function(){ /* nothing */ });`

[2017-08-14 15:13] MatteoGabriele commented on #50
As it is now, you can't add any options in the 'create' call, but I can actual fix that: it's nice to inject whatever you like in the initialization of analytics.

for the other one you can simply use `this.$ga.set('checkProtocolTask', function () {})`

[2017-08-14 15:19] MatteoGabriele opened #52 "Add access to the `create` call options"
add new configuration property to inject any kind of variables in the `create` call during initialization

[2017-08-14 15:20] MatteoGabriele commented on #50
I've created a ticket for the options ( see #52 )

[2017-08-15 18:01] MatteoGabriele commented on #50
@asifkilwani does the `ga.set` fix your problem or you're waiting for the other ticket to be fixed?
if so I can close this and live the other one open.

Let me know. thanks!

[2017-08-15 18:04] asifkilwani commented on #50
Yes, below code solved the issue.

`this.$ga.set('checkProtocolTask', null);
this.$ga.set('checkStorageTask', null);
this.$ga.set('historyImportTask', null); `

[2017-08-15 18:05] MatteoGabriele commented on #50
ok perfect. I'll close this one then.

I will add the option functionality asap, in the meantime I'm glad that you're not stuck!

thanks for your feedback again! :)

[2017-08-15 18:05] #50 closed

[2017-08-16 21:04] nishal opened #53 "Cannot use 'in' operator to search for 'currentRoute' in path sent..."
Not sure whats going on here. When running locally if I somehow manage to get 'currentRoute' initialised, calls to this.$ga.page(path) work fine. But when I deploy, I get the following error when I call this.$ga.page(path):

TypeError: Cannot use 'in' operator to search for 'currentRoute' in <path I sent as String, e.g. "/project">

I'm manually tracking each page hit.

[2017-08-16 21:51] nishal commented on #53
I've managed to get a work around for now, sending the following object seemed to work ok:
{
    page: '/project',
    title: 'project',
    location: window.location.href
}

Not sure why the simpler construct with sending a string doesn't throws an error.

[2017-08-16 22:20] #53 closed

[2017-08-16 22:22] MatteoGabriele commented on #53
@nishal thanks a lot for your feedback.
I really need to write tests to avoid these errors.

The fix is published with 4.3.1

[2017-08-16 22:29] MatteoGabriele commented on #53
Before I was doing that check looking at the `value` constructor name, but when code is minified and mangled, name of the constructor changes and so that check fails.

To check if you are passing a route or not, i need to know if you are a router object: so I check if you have the `currentRoute` property.

It fails because you can check that against a string.

Very stupid error 😄

[2017-08-16 22:37] nishal commented on #53
Thanks @MatteoGabriele  for the quick turn around.

[2017-08-18 12:20] MatteoGabriele opened #54 "Time to refactor! ( v5.0.0 )"
- [x] refactor the plugin code structure
- [x] implement semantic release
- [x] implement unit testing
- [x] add support for SSR

[2017-08-19 18:12] ebisbe opened #55 "Single page without vue-router"
If I want to trigger the page vie using this plugin without the router because I'm using a super simple web page. Where should I put the
[code]

At the moment I have put it in the App.vue created() event.

[code]

 But it is not triggering at all.

[2017-08-19 18:49] MatteoGabriele commented on #55
I'm working on a new update where I store all events triggered before analytics is ready and them fire them later on, but for now you should mount your application when the onScriptLoaded promise is resolved. Mounted or created doesn't matter.

[code]

[2017-08-19 18:49] #55 closed

[2017-08-22 13:18] HeuHax opened #56 ""Document is not defined" with SSR"
Using server side rendering throws error: document is not defined.

Anything special i need to do to make this work?

    Vue.use(VueAnalytics, {
        id: 'UA-*******',
        router
    });

[2017-08-22 13:29] MatteoGabriele commented on #56
which version are you using?

[2017-08-22 13:31] HeuHax commented on #56
vue: 2.4.2
vue-router:  2.7.0
vue-analytics: 4.3.1

[2017-08-22 13:36] MatteoGabriele commented on #56
I will make a check for `window` and `document`. If you are in a hurry, you might want to install the plugin when client side is ready

[2017-08-22 13:42] HeuHax commented on #56
Not sure how to install it when client side is ready. Got a quick example ?

[2017-08-22 13:59] MatteoGabriele commented on #56
The moment you know your app is mounted client side, is when `mounted` is triggered: add the installation at `mounted` of your main application

Something like this

[code]

[2017-08-22 14:05] HeuHax commented on #56
Ahhh yeah of course !

Thanks a lot !

[2017-08-22 14:08] MatteoGabriele commented on #56
Maybe not the most elegant way to install a plugin, but it works for this scenario.
I'll add the check soon :)

[2017-08-22 22:21] MatteoGabriele commented on #56
see 346f648d56db48ff7ea13633f095276be6603c1f

now in 4.4.0 release

[2017-08-22 22:21] #56 closed

[2017-08-25 02:40] duxinxiao commented on #39
I think it's better to list in document

[2017-09-01 00:51] cjblomqvist commented on #54
I'm a little bit skeptical of the way SSR is implemented (https://github.com/MatteoGabriele/vue-analytics/commit/346f648d56db48ff7ea13633f095276be6603c1f). If you want to do a proper SSR solution, you will need to be able to cope with the router being created per request (see https://ssr.vuejs.org/en/data.html for this pattern). Preferably, everything is run based on a lifecycle hook that gets tri

[2017-09-01 08:04] MatteoGabriele commented on #54
Hi @cjblomqvist
Well I need to access `window` and `document` objects, and they are both not available server side so I just don't track until the client is ready.

I only make the check so that your application doesn't break, as soon as it boots up it should start tracking.
You can even install the plugin on the `mounted` hook of your main application component if you needs so.

I will see if I c

[2017-09-07 09:19] Mouvedia commented on #50
@MatteoGabriele I need `'cookieDomain': 'none'`. Should I drop vue-analytics or is there a quick fix ?

[2017-09-07 09:27] MatteoGabriele commented on #50
@Mouvedia you could use vue-analytics@5.0.0-beta.3 ( or vue-analytics@next ) where you can add endless properties to the create call. For now version 4 doesn't support that I'm sorry.

Version 5 tho it's stable enough, currently working on unit testing :)
It's up to you

[2017-09-07 09:29] MatteoGabriele commented on #50
with the 5 beta you should write something like this

[code]

[2017-09-07 10:15] MatteoGabriele commented on #50
@Mouvedia what's this?

[2017-09-07 15:51] MatteoGabriele commented on #50
@Mouvedia you should explain what you need instead of pasting random links and text.
An issue on Github is not a rebus

[2017-09-08 00:50] z1haze opened #58 "how to use without a router"
How can this be used just on a plain vue project? I followed the simple getting started where it just has the single use statement and passing in the ID, and its not tracking for me.. There is nothing more to do that call the Vue.use just for basic functionality?

[2017-09-08 06:00] MatteoGabriele commented on #58
Hi @z1haze
well the basic functionality is just that it loads the script for you and it creates the trackers based on your domain ID: but that's it!
I don't know what you want to track and I have no access to your router instance out of the box, so I can't track your pages.

When you add the router instance to the plugin, then it starts tracking for you automatically every page you made.

If you w

[2017-09-08 06:00] #58 closed

[2017-09-08 12:46] z1haze commented on #58
Thank you, I noticed as well where it mentioned manual setup. I added the this.$ga.page('/') but I wasn't able to get ga loaded. I checked this by monitoring my ga dashboard like usual but it wasn't showing any activity. I was able to get activity to show manually by just pasting the ga snippet from google at the end of the body, outside of the vue scope, so I know it wasn't my account that isn't

[2017-09-08 13:05] MatteoGabriele commented on #58
the problem with version 4 is the time between action fired and script loaded.
in next release I've introduced the `untracked` feature that will store event fired before google script is properly loaded and then re-fired them as soon as window.ga is injected in your application.

I'm finishing few tests, but it is stable enough, I'm already using it in my projects.

what I suggest for now with ver

[2017-09-08 13:07] MatteoGabriele commented on #58
this is the way you could fix your app with version 4
https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/when-google-analytics-is-loaded.md if you don't want to use the beta version

[2017-09-08 14:12] lbogdan commented on #58
@MatteoGabriele Maybe this issue - tracking is ignored until GA script loads and it's initialized - should be mentioned in https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/installation.md , at least until the new version is released. It's basically the first issue you encounter, and it makes for a not so nice developer experience.

Btw, for me `onReady()` worked, `onScriptLoaded()`

[2017-09-08 14:15] MatteoGabriele commented on #58
`onScriptLoaded` it's a promise and `onReady` it's a callback.
I will mention this issue in the README file

[2017-09-08 14:16] lbogdan commented on #58
Yes, I know that, what I was saying is that `onScriptLoaded().then(...)` didn't work for me.

[2017-09-08 14:35] MatteoGabriele commented on #58
For me works. which version are u running?

[2017-09-08 18:10] MatteoGabriele commented on #58
I've added couple of lines in the "Get started" part, where I talk about the script + events problem.
If you can give me your version number for the onScriptLoaded problem, I will check that as well.

thanks guys for the feedback
hopefully i will release the new major version soon

[2017-09-08 18:38] lbogdan commented on #58
It's the latest version:
[code]

[2017-09-09 08:25] MatteoGabriele commented on #58
I'm not able to reproduce this problem.
if u have time, would be nice to have a small repository with this problem running and a separate issue.
Thanks again

[2017-09-13 12:18] MatteoGabriele commented on #54
see #59

[2017-09-13 12:18] #54 closed

[2017-09-13 12:18] MatteoGabriele commented on #52
see #59

[2017-09-13 12:18] #52 closed

[2017-09-13 16:40] darkopetreski opened #60 "Check if the script tag is already created and do not crate new if present"
I have a problem using this plugin together with prerender spa plugin. Prerender plugin is used for seo, it takes a snapshot of the page and saves it. Also it contains the script tag. Then, when the page loads, GA is executed and creates a script tag again. And the script tag is duplicated.

I already reported here https://github.com/chrisvfritz/prerender-spa-plugin/issues/102 but it seems it will

[2017-09-13 16:52] MatteoGabriele commented on #60
Hey @darkopetreski
yeah shouldn't be a problem to add a check on that. I will have a look!

thanks for your feedback

[2017-09-14 11:34] #60 closed

[2017-09-14 11:35] darkopetreski commented on #60
Thank you, you are the best :)

[2017-09-14 11:37] MatteoGabriele commented on #60
@darkopetreski I've added few lines in the guide so you can choose the approach that works the best for you
https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/script-loader.md

thanks :)

[2017-09-14 11:41] darkopetreski commented on #60
Very nice, thank you!

[2017-09-14 11:42] MatteoGabriele commented on #60
@darkopetreski be aware that I can't remove my trackers! I couldn't find a solution for that: it is too important that I create that myself or don't have control on the hits i send.

I hope that this won't be a problem for you're application.

[2017-10-05 15:17] javisoi opened #62 "Custom Dimension"
Question:

I want to send some custom data using a Custom Dimension/Variable?

Would this be the way of doing so?
https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/page-tracking.md#auto-track-with-custom-data

[2017-10-05 15:36] MatteoGabriele commented on #62
hi @javisoi
do you have the API reference to this feature you're talking about?
thanks

[2017-10-05 15:37] javisoi commented on #62
https://support.google.com/analytics/answer/2709828#example

[2017-10-05 15:41] MatteoGabriele commented on #62
you can then just use the `set` method

[code]

[2017-10-05 15:41] #62 closed

[2017-10-05 15:42] javisoi commented on #62
would that be before or after this?

[code]

[2017-10-05 15:45] MatteoGabriele commented on #62
[code]

[2017-10-05 15:47] javisoi commented on #62
ok! thank you for your explanation! I was a bit confused what to do.

[2017-10-05 15:48] MatteoGabriele commented on #62
@javisoi you're welcome :)

[2017-10-20 03:34] seanwash commented on #32
I see that we now have the option of using `autoTracking.pageviewTemplate()` to track custom data like `document.title`, but I'm noticing the same issue as the first comment - I'm using this in conjunction with a nuxt.js plugin, and occasionally the title tracked refers to the previous page's title. I assume that's because the autotrack happens before `head()` runs and `$metaInfo` is updated.

Is

[2017-10-20 06:57] MatteoGabriele commented on #32
Unfortunately this happens only using Nuxt, so far, so for me it's not really possible to adjust it because it is a bug within a specific framework.
If there's a place in Nuxt where all the routing happens correctly you can just use the manual page tracking there or use it on mounted of the page.

[2017-10-20 12:48] seanwash commented on #32
No worries!

It seems like for me (and possibly other nuxt users) that the solution is to turn off auto page tracking and use `this.$ga.page()` in the mounted hook. I made a simple mixin and tossed it into each component inside `/pages`. Works like a charm!

[2017-10-26 07:52] martinoroma88 opened #64 "Anonymize IP"
Hi, what about IP Anonymization? Being in Italy I would like to implement it because of our Privacy Policies...

Thank you, great plugin!

M

[2017-10-26 08:13] MatteoGabriele commented on #64
Hi @martinoroma88
you could easily achieve that by writing this in your plugin options

[code]

thanks for your feedback :)

[2017-10-26 08:14] martinoroma88 commented on #64
Good. Thank you so much!

[2017-10-29 11:31] wolfscott opened #65 "Page Auto Tracking - is it possible to omit the params?"
What a great tool -- love it!!

Question: Since this is almost a no-brainer to implement using the Page Auto Tracking, is there a way to omit the params in the routes reported?  It would seem it could "know" the params and be clever.

I did see where I can omit entire routes, but not specifically any params.

Thanks,
\\//\\//olf

[2017-10-29 11:57] MatteoGabriele commented on #65
Hi @wolfscott
thanks for your feedback: very appreciated!

Could you be more specific? which params? Do you have a small example?

thanks :)

[2017-10-29 12:01] MatteoGabriele commented on #65
Do you mean that there's no way to remove the params of a route to become part of the query string?

[2017-10-29 12:54] MatteoGabriele commented on #64
Hi @martinoroma88
I've added a new feature that now allows you to add an array of fields to set directly from the plugin configuration without too much boilerplate

just follow this instructions
https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/set.md#set-multiple-fields-before-first-hit

[2017-10-29 19:42] cjblomqvist commented on #54
It seems like you are most correct actually - sorry for bothering you with non-issues! :-) Great plugin!

[2017-10-29 22:29] wolfscott commented on #65
Happy to provide the details -- should have thought to do that before ... :)

That is correct.  The ":projectId" becomes part of the tracked route, thus not receiving a count of "/app/project" specifically

My route as defined in the app:
 { path: '/app/project/:projectId', name: 'AppProject', component: AppProject, props: true },

and the result in analytics:
"/app/project/59218za2d23ed1e81fe5399

[2017-10-30 07:20] MatteoGabriele commented on #65
Yesterday I have already added this feature so in the latest version you now can just add this property to your configuration

[code]

[2017-10-30 13:04] wolfscott commented on #65
@MatteoGabriele, thank you very much.  Greatly appreciated.  I looked through the code last night and actually saw that but couldn't get it to work.  Didn't realize you had just added that feature and I had not updated the module to 5.2.0 so that makes sense.  I was just poking and experimenting to see what would happen and it looked like it could be what I was seeking. :)

So I just now updated t

[2017-10-30 14:07] MatteoGabriele commented on #65
Ok now I got it.
I did an error calling it `transformRouteParams` because it actually just removes what is passed as queryString from the `page` property.

What you ask is not that simple, to be honest.

Assuming that you have this url `app/project/:slug/item/:id/details` for example, wouldn't you like to add this entire url in your report, instead that only `app/project`?

Probably I have to intr

[2017-10-31 05:13] wolfscott commented on #65
@MatteoGabriele, yes, that does make sense.

Upon some consideration, I wouldn't mind adding an additional parameter to the routes which would be the 'analyticsUrl ' and although would add some redundancy to the routes, but does provide complete control over what is reported.

Given that I may name my routes anything I choose in my projects, I'm speculating that it is not a breach to have the anal

[2017-10-31 08:41] MatteoGabriele commented on #65
@wolfscott to maintain everything more abstract and with known patterns, I will add the structure that I have wrote before: so you will be able to write a proxy for what concerns the data that is going to be tracked.

[2017-10-31 18:53] wolfscott commented on #65
@MatteoGabriele sounds great -- I appreciate your efforts -- let me know if there is anything I can do to help.

cheers,
\\//\\/olf

[2017-11-02 15:31] #65 closed

[2017-11-02 22:30] MatteoGabriele opened #66 "Dependency"
remove load-script dependency and create a custom script loader

[2017-11-03 16:56] #66 closed

[2017-11-03 21:32] timothynott opened #67 "Is gtag.js support coming?"
I love this plugin and hope to be able to use it in an upcoming project. Will there be gtag.js support?

[2017-11-04 00:13] MatteoGabriele commented on #67
Thanks man, I've actually never heard about it, I need to have a look and see what I can do

Thanks for the feedback :)

[2017-11-04 00:43] lesenther opened #68 "Recommeneded way to alter route names and paths reported to GA"
My project is in a sub-directory on my server and I'm using the [base constructor option](https://router.vuejs.org/en/api/options.html) in my router config, which looks like this:

[code]

Going to https://www.foo.com/app/ causes GA to incorrectly report the 'page' as '/' and not '/app/'.

Potentially related to [issue 43](https://github.com/MatteoGabriele/vue-analytics/issues/43).

[2017-11-04 01:14] MatteoGabriele commented on #68
hi @lesenther
thanks for reporting this: i'm going to check if a base url is added and merge it to the path url.
in the meantime, if you are in a rush, you can do something like this

[code]

[2017-11-04 01:14] timothynott commented on #67
I just setup a new GA instance and saw the new code. Looks like the old way
of doing it will be around for a while.

On Fri, Nov 3, 2017 at 7:13 PM, Matteo Gabriele <notifications@github.com>
wrote:

[2017-11-04 01:20] MatteoGabriele commented on #67
I've found this link that talks about migration from analytics to gtag https://developers.google.com/analytics/devguides/collection/gtagjs/migration

I'm going to have a look but for now i'll put it in low priority, also because probably it's quite a big feature to add :)

thanks again

[2017-11-04 09:43] wolfscott commented on #68
Don't know if this relevant to this discussion, but figured I would throw this into the mix. If Google receives an '//app/routename' (notice the double leading slashes) it will eat the app and record it as /routename only -- stumbled across this by accident while playing around with constructing a custom template --

[2017-11-04 21:26] MatteoGabriele commented on #67
So I've read about it little bit more and I think that this cannot be really a feature, but probably a totally different package ( as soon as the documentation and its purpose are more clear )
For this moment I will close this issue and see if later on should be open again.

Don't worry, if I come up with another tool I will let you know :)

thanks again: really useful news!

Matteo

[2017-11-04 21:26] #67 closed

[2017-11-04 21:43] timothynott commented on #67
No problem. I was thinking at best it might be a fork.

On Sat, Nov 4, 2017 at 4:26 PM, Matteo Gabriele <notifications@github.com>
wrote:

[2017-11-04 21:46] MatteoGabriele commented on #67
@timothynott what do you mean with that? :)

[2017-11-04 22:32] timothynott commented on #67
I mean given that gtag is substantially different from the prior implementation of GA, it might require a form from the current vue-analytics codebase.

[2017-11-06 14:39] voke commented on #67
@MatteoGabriele, I can see that you already reserved the package name [vue-gtag](https://www.npmjs.com/package/vue-gtag). Is there a public git repo where we can follow the progress and contribute?

[2017-11-06 14:49] MatteoGabriele commented on #67
@voke yeah sure!
https://github.com/MatteoGabriele/vue-gtag
but it's reeeeally basic, I just reserved the package and created the repo ahahahha
there's basically nothing yet :)
I want to read the whole documentation first

[2017-11-07 09:52] duxinxiao opened #69 "Question: Recommended way to add custom GA ads campaign"
Thanks a lot for writing this project. I add some custom GA ads campaign ( just some query string like utm_source, utm_medium ). My web app will receive these query params when load, so should I send it by writing some code? Or if these will be done automatically should I pass the same query string when router change? For now, I'm doing nothing ( just load the web app with query string ), GA data

[2017-11-07 13:40] MatteoGabriele commented on #69
Hi @duxinxiao
Sorry I don't really have ads campaign knowledge but I'm pretty sure that these query string parameters are already handled by Google services.
You can maybe read this article [here](https://support.google.com/analytics/answer/1033863?hl=en)

Cheers

[2017-11-07 13:40] #69 closed

[2017-11-07 14:47] MatteoGabriele commented on #67
@voke feel free to contribute! I will push the boilerplate for development but, has you can see, the project hasn't started yet and the documentation might still be kinda unclear: every kind of help it is super appreciated.

First problem I am encountering is: how to debug with gtag.js?

Cheers

[2017-11-08 11:19] voke commented on #67
@MatteoGabriele According to [this article](https://support.google.com/analytics/answer/1008083?hl=en&ref_topic=1008079) they suggest using Tag Assistant to find errors and warnings. Anyway, I will also read the docs :)

[2017-11-08 11:34] MatteoGabriele commented on #67
@voke Thanks man!
They made already to complicated to debug for my taste! They always need to complicate stuff instead of make them easier ahahhahaha
I hope this is not the only way we can debug: I hate to relate on third party extensions/app

[2017-11-11 15:06] #68 closed

[2017-11-13 10:58] MadReal opened #70 "Ecommerce Tracking"
What is the approach to tracking ecommerce events? I've tried different set ups and I always get an error.

I've imported the ecommerce plugin like so:

[code]

I've created a module in the store with the action:

[code]

and I get an error. I've also tried Vue.VueAnalytics(...), Vue.ga(...), VueAnalytics.ga(....), Vue.$ga.ecommerce(...)

always get an error along these lines: __WEBPACK_IMPORTED_M

[2017-11-13 21:58] MatteoGabriele commented on #70
Hi @MadReal
thanks for you feedback!

First thing first: you can't use `this` inside a Vuex store module because the scope is totally different from a Vue component.
When you are inside a Vue component `this` refers to its instance that inherits the Vue prototype object: that object has all plugin methods.
Another place where methods are shared is the Vue instance itself as you can see in this pie

[2017-11-14 06:44] mesqueeb opened #71 "Adblock blocks google analytics"
Dear Matteo,

It seems that Adblock on chrome prevents Google Analytics to be loaded.
I think people who use Adblock are about half, so that's kind of sad.

Any ideas to improve this?

-Luca Ban

[2017-11-14 09:56] MatteoGabriele commented on #71
Hi @mesqueeb
I'm sorry but this is an issue for Google Analytics and AdBlock, not for this plugin that just functions as a wrapper of the Google API.
I can't do much about it

cheers!

[2017-11-14 09:56] #71 closed

[2017-11-15 00:01] MadReal commented on #70
Yes this worked! Thanks very much for the fast reply and awesome plugin

[2017-11-15 00:01] #70 closed

[2017-11-15 08:46] MatteoGabriele commented on #70
Nice to hear that and thanks for your feedback.
I might going to add the e-commerce methods later today

[2017-11-15 21:31] espiegel opened #72 "TypeError: Cannot read property 'options' of null"
Was a breaking change recently introduced?

We're starting to see this error: `TypeError: Cannot read property 'options' of null`

I think it has to do with this line: https://github.com/MatteoGabriele/vue-analytics/blob/master/src/lib/page.js#L35

Currently we are passing in the router as an argument to the page() function but it looks as though the `page` function grabs the router from `src/conf

[2017-11-15 21:45] MatteoGabriele commented on #72
Hi @espiegel
yeah you are right, I should check if there's a vue-router instance assigned first
don't know why I gave it for granted!

thanks for your feedback

[2017-11-15 21:54] espiegel commented on #72
We're going to use the exact version of `5.1.1` for the meantime instead of `^5.1.1`

[2017-11-15 22:09] #72 closed

[2017-11-15 22:12] MatteoGabriele commented on #72
The fix is already published
Obviously feel free to reopen the issue if you still see problems

Thanks a lot for your feedback

[2017-11-23 12:44] MatteoGabriele commented on #70
@MadReal I've added new ecommerce features with the v5.4.0
check the documentation if you're interested

cheers

[2017-11-24 10:46] MadReal commented on #70
Great! Thanks

[2017-11-26 02:25] wxsms opened #73 "Ignore hash jumps with vue-router"
Hi, thank you for the nice plugin 👍

Have a simple question here: How can I ignore **hash jumps** (e.g. from `/a/b#1` to `/a/b#2`)? Since vue-router takes this as a route change, so if I pass the entire router instance to this plugin it results in hash jumps are also counted, which is not actually expected.

I have read the doc and found no solutions, can you pls help me?

[2017-11-26 08:53] MatteoGabriele commented on #73
Hi @wxsms
is not possible at the moment, I need to have a look and see how to implement this kind of filter

thanks :)

[2017-11-28 10:11] MatteoGabriele commented on #73
Hi @wxsms
Can you setup a super small reproduction of your issue?
I can't reproduce it on my own

Thanks a lot :)

[2017-11-28 10:46] wxsms commented on #73
Maybe you can check out directly on one of my online website:

https://uiv.wxsm.space/alert

Click on any anchors on toc / heading of the page and see how the analytics data send.

Here's how I use your plugin:

https://github.com/wxsms/uiv/blob/master/docs/main.js

You might also want to checkout the router file:

https://github.com/wxsms/uiv/blob/master/docs/router/index.js

Thanks for your help

[2017-11-28 11:10] MatteoGabriele commented on #73
@wxsms so you want to be able to not track that page again at all?
example: I land on the /getting-started page and it tracks it, but if I click on an anchor tag and go to /getting-started#something it shouldn't fire anything, right?

[2017-11-28 11:12] wxsms commented on #73
Yes. because user is **actually in the same page** between hash-only route changes.

[2017-11-28 15:41] #73 closed

[2017-11-28 15:48] MatteoGabriele commented on #73
@wxsms you can find options [here](https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/page-tracking.md#customize-router-updates)

I've added a simple option, which is the `skipSamePath` property, but it only checks if paths.
If you need something more accurate I've added also the `shouldRouterUpdate` method that allow you to decide which logic apply to the router updates

hope that w

[2017-11-29 03:30] wxsms commented on #73
Awesome! Thank you very much.

[2017-12-04 19:30] paumoreno opened #75 "Tracking events outside the scope of a component"
Hi!

I don't know if I'm missing something, but I haven't found the way to track an event outside the scope of a component (e.g. in my Vuex store).

I think that the [documentation](https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/event-tracking.md) assumes we're inside a component. How can I track an event when I don't have access to `this.$ga`?

Thanks!

[2017-12-04 19:39] paumoreno opened #76 "A stylistic suggestion about event tracking"
I like the approach of passing the event attributes to `this.$ga.event` as an object.

I think it would be even more comfortable to use if the attribute keys didn't have the `event` prefix (in my opinion it's a bit redundant) so:

 - `eventCategory` -> `category`
 - `eventAction` -> `action`
 - `eventLabel` -> `label`
 - `eventValue` -> `value`

...while maintaining the prefixed keys for backwards

[2017-12-04 19:47] MatteoGabriele commented on #75
Even though I don't suggest to use it inside a vuex store, you could just use the Vue instance by importing vue itself in your file

[code]

[2017-12-04 19:47] #75 closed

[2017-12-04 19:51] MatteoGabriele commented on #76
Thanks for your suggestion but I didn't decide the api structure: these names are what Google Analytics needs when you pass an object instead of a series of arguments.

I will leave them like this because they follow a pattern that is persistent in the Google Analytics library

thanks again :)

[2017-12-04 19:51] #76 closed

[2017-12-15 16:46] wannymiarelli opened #78 "Dynamic Trackers"
What if i need to track dynamic UA-codes, let's say i have to make a http request to get the list of ids to track

tracking.js
[code]
is this one a good idea? Do you see any issue?
I was thinking that there might be problems understanding when the plugin is actually active.

[2017-12-15 18:29] christophmayrhofer opened #79 "set('userId', 'some_user_id') does not cause GA to recognize users on the page"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

Setting the userId does not cause data to show up in the GA user id view

### Expected behavior

GA Dashboard shows > 0 active users

### Actual behavior

active users = 0

### Environment

`-- vue-analytics@5.6.0

1. Operating system: WIN 10
2. Browser and version: Chrome 63

[2017-12-16 10:25] MatteoGabriele commented on #78
Hi @wannymiarelli
unless you bootstrap the application after the same http request, you will encounter some issues with that because probably you will call some plugin methods that are not installed yet or you will miss several hits to Analytics.

To achieve this I will need to accept a Promise as a value of the `id` property.
The Promise will the return a string, in case of a single id, or an arr

[2017-12-16 10:27] MatteoGabriele commented on #79
Hi @christophmayrhofer
if you enable the debugging mode, is that `userId` hit registered by Google Analytics in the console?

thanks for your feedback

[2017-12-16 11:28] christophmayrhofer commented on #79
@MatteoGabriele

Running command: ga("set", "userId", "DC9867E0-E0CF-11E7-BB84-6B403B8B2EC4")

[2017-12-16 11:48] MatteoGabriele commented on #79
try this setup

[code]

using the Vue instance or the component scope doesn't matter, this is just to check if in you application you see Googla Analytics script firing the hits in the console.

[2017-12-16 12:15] wannymiarelli commented on #78
@MatteoGabriele Okay, for now i will bootstrap after the request, we have a single app distributed to all of our customers, based on the parameters given in the url we load the UI Data, it would be good to have support for promises in the initial method.
Would like to help with a PR in the next days.

[2017-12-16 15:48] christophmayrhofer commented on #79
@MatteoGabriele

Setting the user Id from within the component works as well:

Executing Google Analytics commands.
analytics_debug.js:10 Running command: ga("set", "userId", 123456)

Unfortunately the user count still remains 0 in the dashboard.

[2017-12-16 16:06] MatteoGabriele commented on #79
Then I'm sorry but probably there are some issues with your account. The API works :)
I don't log these events myself, but I use the Google analytics debug API: they are real data sent to your account.

[2017-12-16 16:06] #79 closed

[2017-12-16 16:54] MatteoGabriele commented on #78
Now that I see the code again, making the ID a Promise is quite a refactor.
The issue is not waiting until it's resolved, because I could just add that to the queue of promises I have already, but I want to be able to track event meanwhile I'm waiting your http request to be done and it's not really easy right now.

[2017-12-16 16:56] MatteoGabriele commented on #78
But please drop the PR when you have time: maybe you have already something in mind :)

cheers

[2017-12-16 22:54] MatteoGabriele commented on #78
see 8fddca1

[2017-12-16 22:54] #78 closed

[2017-12-16 22:54] MatteoGabriele commented on #78
@wannymiarelli the feature has been added with the 5.7.0

let me know if it works for you!

[2017-12-17 14:34] FlorianWerndl opened #80 "Docs for v-ga: this.$ga.track -> this.$ga.event"
On the docs page for v-ga: https://matteogabriele.gitbooks.io/vue-analytics/content/docs/v-ga.html

Shouldn't it be
`this.$ga.event('randomClicks', 'click', 'name', name)`

instead of
`this.$ga.track('randomClicks', 'click', 'name', name)`

Best

[2017-12-17 15:51] #80 closed

[2017-12-17 15:52] MatteoGabriele commented on #80
@FlorianWerndl thanks :)

[2017-12-20 15:18] wannymiarelli commented on #78
@MatteoGabriele Wounderful :) more or less what i was thinking about :)
I will test it and report back to you

[2017-12-26 11:51] nicooprat commented on #75
Why do you think it's not a good idea to track an event inside an action?

Looks like pretty solid to track it here instead of the element itself, on the click event for example: it could be triggered somewhere else in the future, and the GA event wouldn't be tracked.

[2017-12-26 12:18] MatteoGabriele commented on #75
Because the purpose of Vuex store is to handle the state of your application: not to track information for Google Analytics.

Every part of your application should do _only one thing_: it's called separation of concerns.
If you start spreading functionalities everywhere you will never know exactly where to find your code.

This is just how I usually code, not really a religion :)

[2017-12-26 15:10] nicooprat commented on #75
Understood, but Vuex actions (not mutations) seem to be a good *central* place to trigger these events. How/where would you rather do this?

[2017-12-26 15:21] MatteoGabriele commented on #75
well vuex actions need to dispatch a mutation: nothing else :)

I would just track a click event right where it happens, so when you're looking for it, it won't take you extra time to remember where you did it: it's where it belongs.

If you need to centralize your tracking system because you are maybe writing the same thing multiple times, you can use the `command` object in the configuration obj

[2017-12-26 15:49] nicooprat commented on #75
Didn't see this `command` thing, looks perfect, thanks!

[2018-01-03 06:55] DaxChen opened #81 "[Feature request] Consider googleanalytics/autotrack"
Consider adding support for [Autotrack](https://github.com/googleanalytics/autotrack)?

Looks promising and very convenient for most use cases!

Thank you for your great package!
Dax

[2018-01-03 07:06] MatteoGabriele commented on #81
It sounds very interesting!

Thanks for your feedback :)

[2018-01-04 10:22] mateomorrison opened #82 "Newbie quickstart"
Hello, I'm a newbie in VueJS and I am on a constant learning. I need to integrate this to my App, but find it hard to get it working. I created a file called `vue-analytics.js` and try to call it on the router, but it's not tracking.

One thing that helps me get started with new packages are the demos, on an actual App.vue or router/index.js on how to insert it. Please help me, after creating the

[2018-01-04 10:41] MatteoGabriele commented on #82
well I don't really know your application structure but I can assume that you have a file where you bootstrap you application: something where there is

[code]
So usually what I do is register all plugin before this code is fired and I will have in the case of Analytics something like this

[code]

let me know if this helps

[2018-01-04 18:32] DaxChen commented on #34
I got this same warning, but I think it's okay?
The warning is from Google's [Tag Assistant Chrome extension](https://chrome.google.com/webstore/detail/tag-assistant-by-google/kejbdjndbnbjgmefkgdddjlbokphdefk)

The associated explanation is here: [Non-standard implementation](https://support.google.com/tagassistant/answer/3207128?ref_topic=2947092#nonstandard

@MatteoGabriele  This is really okay,

[2018-01-04 18:38] mateomorrison commented on #82
@MatteoGabriele Hello, this totally worked. I checked analytics and the hits are getting to the right place. The problem is when I run `npm run build` it's showing this:

`ERROR in ./src/main.js
Module not found: Error: Can't resolve 'vue-analytics' in '/home/ubuntu/fangoo/src'
 @ ./src/main.js 12:0-41`

[2018-01-04 18:44] MatteoGabriele commented on #82
@mateomorrison I'm glad that it works :)
for the build, I'm sorry but I don't know how you are handing it. Looks like you didn't install the module.

[2018-01-04 18:44] #82 closed

[2018-01-07 12:35] ycmjason opened #83 "Wouldn't it be nice if $ga is given as the first argument in command?"
https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/v-ga.md

According to the above documentation, we have to use bind so that we could access to `this.$ga` in the tracking command. Wouldn't it be nice if the `$ga` is injected by default as the first argument?

[2018-01-10 18:48] macheeto opened #84 "update documentation to reflect new $ga function names"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

Documentation lists incorrect function names.

### Expected behavior

Documentation should use new function names.

### Actual behavior

Tracking functions names don't match.

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-analyt

[2018-01-11 08:00] MatteoGabriele commented on #84
hi @macheeto
I don't really understand what you wrote, can u be more specific?

[2018-01-11 08:02] MatteoGabriele commented on #83
yes would be nice, didn't find a solution so far: I need some time to see what's the best approach on that.
If you have any ideas, drop a PR :)

thanks

[2018-01-11 08:06] ycmjason commented on #83
Is it necessary to bind this to the tracking command? I don't think it's a good idea to access to component value in the tracking command anyways. Will inspect and submit a PR.

[2018-01-11 08:11] MatteoGabriele commented on #83
yeah that's for sure, I already suggest to avoid that in the documentation.
was the first approach that popped up in my head that day 😄
Not the best but works and I needed that feature: totally in for a refactor!

[2018-01-11 08:17] ycmjason commented on #83
According to what I see you currently don't do anything to the commands right? Just put them to the config?

[2018-01-11 08:32] MatteoGabriele commented on #83
nope, it's just an object and I pass the component context in the directive when I read the property

https://github.com/MatteoGabriele/vue-analytics/blob/master/src/directives/ga.js#L14

[2018-01-11 08:55] ycmjason commented on #83
Ok. I personally hate the directive. I rather using `@click="doSomething(); $ga.commands.f()`

[2018-01-11 10:05] MatteoGabriele commented on #83
I find that kind of approach little bit dirty, but tastes and needs are always different.

[2018-01-11 10:14] ycmjason commented on #83
The obvious easy approach would be when `vue-ga` is first initiated, wrap each commands in a function.

[code]

[2018-01-11 10:24] ycmjason commented on #83
https://github.com/MatteoGabriele/vue-analytics/blob/9f1d3a2aa2253abc847ae172c622d80c886fd478/src/bootstrap.js#L28
Doesn't look needed..

[2018-01-11 10:28] ycmjason commented on #83
After inspecting the code, I have a strong feeling that this whole thing should be redone... hahaha did you make this in a rush?

[2018-01-11 10:55] MatteoGabriele commented on #83
First thing first: always keep a polite approach because we don't know each other.
Second: if you have a better solution just do a PR or suggest the actual code, laughing at developers that do open source is the most irritating thing ever, because you can otherwise just do it yourself.

Thanks

[2018-01-11 11:08] ycmjason commented on #83
I didn't mean it. Please accept my apologies.

[2018-01-11 12:07] MatteoGabriele commented on #83
@ycmjason Thanks

If you have suggestions for other topics, please add or re-open another ticket, to avoid confusion.
This will be focusing only on the commands and maybe the directive.

I will have a look as soon as possible at the scope of the commands methods asap

thanks again for your feedback

[2018-01-12 00:26] macheeto commented on #84
Open this link in a browser:
https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/event-tracking.md

Look at examples:
this.$ga.event('category', 'action', 'label', 123)

Function names are out of date, this does not work anymore. Actual function names start with "track" word:
this.$ga.trackEvent('category', 'action', 'label', 123)

You can run this code to see the actual names:
Object

[2018-01-12 13:28] MatteoGabriele commented on #84
I don't really follow you, where do you read that 'event' it's a deprecated name?
the `$ga` object is created by me and it's an interface of the Googla Analytics API

[2018-01-13 14:12] MatteoGabriele commented on #84
well of course if you are using an old version, the documentation is different. Usually also because breaking changes since version 2.

if you want to see old documentation you just need to go and check the tag matching your current package version.

Example: this is your [documentation](https://github.com/MatteoGabriele/vue-analytics/tree/v2.4.0)

[2018-01-13 14:12] #84 closed

[2018-01-13 16:58] macheeto commented on #84
I see what happened. Your project's main page shows this:
Requirements: Vue ^2.0.0
At a glimpse that looks like the current vue-analytics version, it's the most prominent number on the page. I added that to package.json thinking that that was the latest vue-analytics version. Can you tell me where is the correct vue-analytics version displayed, is it the npm package field?

[2018-01-13 17:05] MatteoGabriele commented on #84
Yes, it's right there on top where you see "npm package" or just check the tags list, or go to npm

[2018-01-23 16:26] christophmayrhofer opened #85 "e.replace is not a function when using a function for id"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

The docs claim that it is possible to use a function instead of a string to setup the ga ID:

    Vue.use(VueAnalytics, {
        id: () => 'UA-0000000000-0'
    });

### Expected behavior

    Vue.use(VueAnalytics, {
        id: () => 'UA-0000000000-0'
    });

should be equiv

[2018-01-23 16:46] MatteoGabriele commented on #85
hi @christophmayrhofer
this feature has been added after the 5.7.0 release. I suggest you to just to the latest version which is currently 5.8.0

thanks

[2018-01-23 16:46] #85 closed

[2018-01-23 16:58] christophmayrhofer commented on #85
Thanks that fixed the problem

[2018-01-27 12:49] matteocrippa opened #86 "Gitbook typo"
Ciao Matteo, just to notify a typo in the gitbook of the project ( https://matteogabriele.gitbooks.io/vue-analytics/content/ ), here you are: `On Analaytics script ready` there's an A more than expected.

Btw great work!

[2018-01-27 14:59] MatteoGabriele commented on #86
@matteocrippa thanks for that :)

cheers!

[2018-01-31 17:03] XXLeeS opened #89 "Set userId from vuex store onAnalyticsReady."
I want to set `userId` from the state in the vuex store after vue instance created.
Therefore, I can't just adding the `set` property to the configuration object.

Here is my code:
[code]
However, if I do so, the `userId` won't be set correctly due to it runs before `ga('create', ...)`.
Currently I resolve this problem by `setTimeout`, but I think there should be a better solution.(maybe a new hoo

[2018-01-31 20:25] MatteoGabriele commented on #89
Hi @XXLeeS
Can I ask what's the use case for this?

Why do you need to set it from the Store? Perhaps is not the best place to handle it, in my opinion.
I would try to keep those things separated.

Thanks for the feedback

[2018-02-01 03:56] XXLeeS commented on #89
I store the user login info ( like id, username, ... ) in the vuex store.
Therefore I can use it globally in different components.
Maybe I should not store it in vuex? ( I'm not a pro developer :( )
But no matter where I store these variable, I have to assing it to `userId` after the vue instance created. ( to make sure after user refresh the browser, I still have correct `userId`)

Thanks for hel

[2018-02-01 08:22] MatteoGabriele commented on #89
it is a very specific use case and not super easy to tackle.
because your tracking system depends on your user id that comes from an API, I suppose, you should probably try to initialize the entire plugin only when you have that data.

you could try to listen to the store mutation by subscribing to the store and listening to a specific mutation type that matches the one that brings you that data.

[2018-02-01 08:34] MatteoGabriele commented on #89
something like this

[code]

it is not the most pretty thing to type, but it is a little bit better that messing with vue instances in the store and timeouts :)

[2018-02-05 09:28] henroid commented on #82
@mateomorrison : I've followed your instructions yet, it seems to work locally but not when I deploy

[2018-02-05 10:18] MatteoGabriele commented on #82
@henroid if you can create a repository with this issue I can take a look at it

[2018-02-05 10:52] henroid commented on #82
We resorted to using analytics directly, however, if it would be valuable to post an example repo, I can post it.

[2018-02-08 01:23] msassa opened #91 "Exceeded rate limit for sending hits. Aborting hit."
When you exceed the quota to send events to analytics, I get that message.
Maybe you consider to add some kind of queue work, to send a event batch and then another, and so on. That will be nice to solve this problem

[2018-02-08 04:34] purvishah165 opened #92 "Vue-analytics for components"
How to track components using this? In my application, the route is not changing but the components are dynamically changing as per user selection. In such cases, how do I analyse which components were used?

[2018-02-08 07:50] MatteoGabriele commented on #92
if you are not using a routing system or you also need to track component that you are manually switching, you basically have to do it yourself simply using the available api

example
[code]

[2018-02-08 07:50] #92 closed

[2018-02-08 12:34] wdmtech opened #93 "`this` not bound to command"
I'm trying to consolidate all my URL clicks into one command like so:

[code]

Here is my command declaration:

[code]

As you can see below, `this` is not bound to the method:

![image](https://user-images.githubusercontent.com/7282262/35973175-bbe2c5f8-0cd4-11e8-8d27-f6a99d41ee86.png)

I'm probably doing something wrong (or misunderstanding the use of the directive!)

Any ideas?

[2018-02-08 13:20] msassa commented on #91
What I want to say, is that I have many articles on the home page, and I want to send an 'impression' event for each one. They are around 50 articles.

Then, in a foreach I sent an event for each article, and fulfilled the GA rate (10 first events and then 1 per second) I start to get that result: Exceeded rate limit for sending hits. Aborting hit.

What I had done in a previous app, was to genera

[2018-02-08 13:22] MatteoGabriele commented on #93
hi @wdmtech
it should work. Could you please create a small public repo with vue-cli where you re-create this error and then send the link to me?

thanks a lot

[2018-02-08 13:28] MatteoGabriele commented on #91
ah ok I get the point now.
I need to see how to handle it, but looks like a nice idea.

[2018-02-08 16:42] cspeer opened #94 "New Sessions generated constantly"
### Description

Hi there,

I'm not sure where this is coming from and as I've exhausted my resources I'm turning to you.
What I'm seeing is some very weird behavior. Please take a look at this Google Analytics evaluation:
<img width="1474" alt="screenshot 2018-02-08 14 46 39" src="https://user-images.githubusercontent.com/326824/35985242-7c1e69c8-0cf6-11e8-8aea-7f1d33373554.png">
<img width="1757

[2018-02-08 16:56] MatteoGabriele commented on #94
Hi @cspeer
I was reading the documentation again and I admit that the auto-tracking part doesn't sounds super straight forward from outside: gonna try to rewrite few parts.

Yes, you should actually use routing with a name for auto-tracking:
* it is used here as title of your tracked page https://github.com/MatteoGabriele/vue-analytics/blob/master/src/lib/page.js#L44-L49
* I gave it for granted be

[2018-02-08 17:02] MatteoGabriele commented on #94
But I think that the missing name, cannot be the reason of your multiple sessions
have a read [here](https://support.google.com/analytics/answer/2731565?hl=en) if you haven't done yet.

[2018-02-08 17:10] cspeer commented on #94
Thanks for the speedy reply. I've read the resource from Google you pointed out before, but I can't see what might go wrong. We implement your library in a standard way. Nothing out of the ordinary, no hacks. It also only has like 6 public routes.

So are you saying that the name attribute only serves that one purpose that you highlighted there?
Regardless, I have now added names to all our routes

[2018-02-08 18:32] wdmtech commented on #93
Aha! I made a small test case and it worked, so I compared it to my project, and I believe it's because my links are in a v-for that's on the same element as the `$v-ga` directive

The following is working in my project:

[code]

I tried moving the loop to a parent element, which had the same error as above:

[code]

[2018-02-08 18:41] wdmtech commented on #93
Here you go 👍

[https://github.com/wdmtech/vue-analytics-ga-directive-test](test repo)

[2018-02-08 19:41] MatteoGabriele commented on #94
I'm actually not 100% sure about it, since I have never experienced such issue. The plug-in is just a Google analytics with some automation to make developer life easier: nothing fancy going on in the background.

Sorry it I can't help you more.
Let me know

[2018-02-12 09:33] cspeer commented on #94
Aright, the weekend has passed but adding `name` didn't make any difference to our analytics. I'm stuck. And I'm sorry but I don't have any further information for you.
I'll probably kick out vue-analytics and try including the standard Google Analytics lib and see if it makes a difference. If it does, we can be certain that it's something within your lib. I'll get back to you as soon as I know mo

[2018-02-12 09:44] MatteoGabriele commented on #94
Hi @cspeer
I'm sorry for that, but yes please let me know if does fix your issue, so that I can see what's going on in the library.

I am 90% sure that shouldn't be the library because nothing really happens at the end and nobody complained about this in the last year: but never say never!

Thanks for your time

[2018-02-12 09:47] cspeer commented on #94
I know! It's so weird. Especially since we do nothing out of the ordinary.
Here's my config, just in case:
`
.use(VueAnalytics, {
    id: 'UA-*********',
    router,
    debug: {
      enabled: false,
      trace: false,
      sendHitTask: process.env.NODE_ENV === 'production'
    }
  })
`

[2018-02-12 09:51] MatteoGabriele commented on #94
The configuration looks normal to me.
You could enable debug if it's not production, so that you might spot something in your console and the trace is false by default, you can remove it if you want.

I always have `debug.enabled` on `process.env.NODE_ENV !== 'production'`

[2018-02-15 10:05] MatteoGabriele commented on #94
@cspeer any news about it :)

[2018-02-15 11:46] MatteoGabriele commented on #93
@wdmtech the problem is just that when you are inside a v-for loop, the context changes and to refer to your component, you need to use the `$parent` property that Vue provides.

so in your case will be

[code]

I already have a ticket that suggests to have direct access to the $ga object inside the commands functions, so I will close this ticket.

I hope everything is clear and thanks for your fe

[2018-02-15 11:46] #93 closed

[2018-02-16 09:12] cspeer commented on #94
Sorry, I didn't have the time to change anything yet. I might get to it today. I'll let you know!

[2018-02-16 10:06] MatteoGabriele commented on #94
@cspeer no worries! thanks

[2018-02-18 21:49] #89 closed

[2018-02-18 21:55] MatteoGabriele commented on #89
Hi @XXLeeS
I've created a vuex plugin that you can use to fire events from the vuex store.

here an example for your use case, imagine that we retrieve some user data from the `/user` endpoint

[code]
let me know if this works for you

[2018-02-19 06:45] MatteoGabriele commented on #89
Well actually you should be able to set a user just by calling the store action and nothing else.
Check the new documentation for Vuex in the readme file.

[2018-02-19 09:16] cspeer commented on #94
Alright @MatteoGabriele here's an update:
Because I couldn't figure out what's wrong I switched over to https://github.com/ScreamZ/vue-analytics and boom, now everything in our stats is normal.
Meaning there must be something in your implementation that is not right, causing this weird type of behaviour. I'm sorry that I don't have any more information :(

[2018-02-19 10:06] MatteoGabriele commented on #94
mmmm yeah not really helpful, but yeah I will see what I can find.
no idea!

thanks anyway :)

[2018-02-19 18:23] MatteoGabriele commented on #94
I went to check the code of the other package but it does nothing special, so I don't really get it.

I'm using the basic initial google analytics configuration.

If you can't share other data or thoughts, besides that, I'm going to close it and wait that someone else has a similar issue.

thanks

[2018-02-20 08:23] cspeer commented on #94
yeah, sure. I understand. Thanks for your efforts :)

[2018-02-20 09:30] MatteoGabriele commented on #94
Thanks to you for the feedback, I'll keep an eye on this.

[2018-02-23 14:54] kylewelsby opened #95 "This plugin swallows all errors and makes local debugging impossible"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

[This bit of code](https://github.com/MatteoGabriele/vue-analytics/blob/master/src/lib/exception.js#L11-L16) needs to re-raise the handler like [other plugins do](https://github.com/getsentry/raven-js/blob/0fbdf951067e245bb605f530a4cb7f4f143f5ea7/plugins/vue.js#L24-L44)

### Ex

[2018-02-23 15:19] MatteoGabriele commented on #95
hi @kylewelsby thanks for the feedback

could you please provide a public repository with a simple application done with `vue-cli` and this issue proved with and without the plugin installed?

Thanks a lot for your time

cheers

[2018-02-26 22:29] kylewelsby commented on #95
Hey Matteo,
It will be quite some time before I get to commit some preview code regarding this.  About April time when I'm back at a computer, taking some time off.

On 23 Feb 2018, 15:19 +0000, Matteo Gabriele <notifications@github.com>, wrote:

[2018-02-27 06:49] MatteoGabriele commented on #95
No worries, enjoy your time off and reopen this issue as soon as you have a reproduction

Cheers :)

[2018-03-01 02:32] tomreid76 commented on #95
FWIW, I am seeing this issue as well. Took me a while to track down, but the `5.8.0` release is where it began. It is swallowing some, but not all, errors. `5.7.1` is fine.

Missing data or computed properties that are relied on in my views will still surface errors. Errors thrown in imperative code not directly relied on in the view (for instance reference errors) will fail silently.

[2018-03-01 06:44] MatteoGabriele commented on #95
I will revert to the previous error handling: just listening to the window error exceptions

[2018-03-02 15:27] fiws commented on #95
.... we just lost half a day because of this :\

[2018-03-02 15:29] MatteoGabriele commented on #95
@fiws I'm sorry for that!

I'm going to fix it tomorrow.

When nobody can prove the issue is kinda hard for me to fix it, but I will just rollback to the previous behavior.

[2018-03-02 15:35] fiws commented on #95
@MatteoGabriele it's ok. shit happens.

Just throw an error in the mounted hook inside your main App.vue to reproduce this.

[2018-03-02 15:40] fiws commented on #95
Demo: https://codesandbox.io/s/q82zv7xwj

[2018-03-03 12:51] MatteoGabriele commented on #95
because Vue is handling errors itself, I can't use `window.onerror` or eventListeners because they are swallowed already by Vue

so this could be the new solution for that: it will track errors but they will be silent errors, because of `Vue.config.errorHandler`

it is still possible to add a `Vue.config.errorHandler` **before** installing the plugin and it will be fired as well

[code]

[2018-03-03 15:39] #95 closed

[2018-03-03 17:03] MatteoGabriele commented on #95
Bug fixed with 5.9.1
thanks all for your feedback and sorry again for the struggle

[2018-03-05 22:16] psnoonan commented on #94
My company is in the process of migrating our sites to Nuxt, and we are seeing the same analytics behavior using this plugin. Our number of sessions is going way up, and our pages per session are going way down. Also, as in the images @cspeer posted above, the source is alternating between organic search and paid search for some reason.

![analytics](https://user-images.githubusercontent.com/72964

[2018-03-05 22:27] MatteoGabriele commented on #94
@psnoonan Thanks for that. I will try to understand why it's happening.
If u have any suggestions, they are more then welcome

[2018-03-05 22:45] cspeer commented on #94
Are you currently running an ad campaign on Google AdWords @psnoonan?
We were at the time and still are. Might this have to do with anything?

[2018-03-05 23:27] psnoonan commented on #94
@cspeer I believe we are always running a campaign. It doesn't seem to me like that should affect this plugin, though, I've been surprised often enough before.
@MatteoGabriele I am requesting more info from the SEO department so I can narrow down what is causing this, but I can tell you that some of the links (nuxt-link) on the site are using an object with name and params, and some are using a ha

[2018-03-06 08:19] MatteoGabriele commented on #94
@cspeer  @psnoonan thanks a lot for your support: would be really super helpful to understand why this is happening, also because that's not much going on under the hood, but I'm probably missing something really stupid that is causing this problem.

For me right now it is also hard to test because I don't have any domain to test, so I don't have access to any stats. Only trying now with the demo

[2018-03-06 08:29] cspeer commented on #94
Yeah I know @psnoonan it's a reach, but since the constant switch between organic and paid search is something that sticks out, I thought it might be worth looking into.

@MatteoGabriele What you could do though is install https://github.com/ScreamZ/vue-analytics on a test site and record what it does with the Google Analytics debug tool and then do the exact same thing with your plugin present. T

[2018-03-06 09:15] MatteoGabriele commented on #94
@cspeer I've actually looked at his code and there's nothing more or nothing less in the configurations of the trackers, but I will try to install it and see what he's sending. The odd part is that I know exactly what I am sending and from the logs looks pretty normal to me.

I'll keep searching for something.

[2018-03-06 09:18] cspeer commented on #94
Yeah, I too looked at both code bases and didn't find a anything. Hence my debug output comparison suggestion. Good luck!

[2018-03-06 09:49] MatteoGabriele commented on #94
@cspeer @psnoonan only different thing I see, is that by default vue-ua uses
* screenview and I use pageview
* appName and appVersion as mandatory fields
* transport "beacon" (which is actually deprecated)

that's it. I could try to add a check if you want screenview or pageview and then see if that one helps, but the documentation of Google Analytics for page tracking always uses pageview, so I'm

[2018-03-06 09:52] cspeer commented on #94
https://github.com/ScreamZ/vue-analytics/pull/24
Switching between page and screen view is already built-in. I wrote the code since we needed that for our site. Didn't make any difference in regards to the issue at hand though, it works as expected.

[2018-03-06 14:01] psnoonan commented on #94
- I'm using Nuxt with server-side rendering
- My site's navigation is built dynamically and uses path links `to="/search/new"`
- Other links on the site are passing objects `:to="{ name: 'search', params: { type: 'new' } }"`
- I am using the plugins auto page tracking feature
- I am also sending custom page views `$ga.page`
- I am also sending custom events `$ga.event`
- On the Google side, my com

[2018-03-08 19:47] MarGul commented on #82
I'm not really sure what I'm doing wrong. I have installed the plugin and in my bootstrap (just like you have showed here above) I set Vue to use VueAnalytics. I can see in my head that the analytics.js is getting inserted (and when I add debug: true I can see analytics_debug.js) so it feels like it's hooked up correctly.

However I can't see any tracking info on my google analytics account. Isn't

[2018-03-08 19:53] MatteoGabriele commented on #82
hi @MarGul
I'm not sure why you have this issue, but if data is fired and you see it via logs in the console, I can't do too much after that.
You can read this [article](https://medium.com/@matteo_gabriele/tips-tricks-for-vue-analytics-87a9d2838915) I wrote lately on how to setup few things, but other then that you should check your domain. Maybe you have a new account and still doesn't function c

[2018-03-08 20:02] MarGul commented on #82
Thanks for the rapid answer Matteo. I can't see anything in the logs when I'm trying to fire of a test event using this.$ga.event() and I have debug installed.

I did just create my google analytics account so maybe I just have to wait a bit to see that it's working. Just feels like the real-time should work instantly if everything is setup correctly.

I did read through that article and everythin

[2018-03-08 20:22] MatteoGabriele commented on #82
@MarGul can you show me exactly how you installed it, including the way you import the library?

[2018-03-08 20:26] MarGul commented on #82
import router from './router';

import VueAnalytics from 'vue-analytics';

Vue.use(VueAnalytics, {
    id: 'UA-115412XXX-1',
    router,
    debug: {
        enabled: true
    }
});

/**
 * Create the Vue instance.
 */
const app = new Vue({
    el: '#app',
    store,
    router,
    render: h => h(App)
});`

[2018-03-08 20:27] MatteoGabriele commented on #82
@MarGul looks fine. Sometimes developers use es5 imports and the plugin has a default export so it doesn't work and it doesn't throw any errors

[2018-03-08 20:29] MarGul commented on #82
@MatteoGabriele

I do have a little strange setup maybe. If you look at https://github.com/MarGul/Bidder/tree/master/resources/assets/js and then my bootstrap.js and my app.js you could see the setup.

[2018-03-08 20:35] MatteoGabriele commented on #82
@MarGul yeah well if I can be honest: it is a little bit strange setup :)

One thing that you could try tho, is to create just a fresh new app using vue-cli, add your domain and everything and check console logs with debug true and maybe even a look at your stats.

if it works, then you probably have a problem in your application.

[2018-03-08 20:39] MarGul commented on #82
Hehe yeah it's the first Vue App I'm building so might have to fix this. I will try tomorrow to create a vue-cli app and see if I can get it to work. Otherwise it feels like there is something wrong with my google analytics account. Thanks for the help, I will keep you posted :)

[2018-03-08 20:42] MatteoGabriele commented on #82
@MarGul no worries man!
I always say "more refactoring more skills, more skills more refactoring"

[2018-03-09 07:52] james-brndwgn opened #96 "Suggestion: Add event modifiers to v-ga"
Mainly `.stop` and `.capture` (naming as per Vue's implementation). This would be useful for cases where tracking an event on an element that has multiple click handlers.

For example, imagine a card where users can click the whole card but additionally there's also a button on that card which can be clicked. You want to track whether a user clicks the button or the entire card. Currently if the u

[2018-03-10 17:53] MatteoGabriele commented on #94
@cspeer @psnoonan any luck?

I've been doing some tests, but unfortunately nothing new so far: i can't reproduce it.
I'm also doing a refactor of the codebase in general and i will probably release a beta soon that you could try, but so far no luck.

[2018-03-12 19:35] psnoonan commented on #94
@MatteoGabriele I have not been able to reproduce it on my own either. I've tried everything I can think of to match my company's site and it still isn't splitting the sessions up the same way. You can see what I've tried on the test site: https://github.com/psnoonan/session-bug-test

[2018-03-17 08:12] neorganic opened #99 "[QUESTION] : Can this be used with Google Analytics Embed API ?"
Can this be used with https://developers.google.com/analytics/devguides/reporting/embed/v1/  ?

[2018-03-18 21:46] meta7x opened #100 "Not loading Google Analytics script on Safari when debug mode is disabled"
### Description

On loading the page in Safari, Vue Analytics throws the following error:
[vue-analytics] It's not possible to load Google Analytics script (vue-analytics.js:1:4643)

This occurs locally and served on a server, but only when debug mode is disabled. When debug mode is enabled, the script loads as expected.

Tested on Chrome, Firefox and Safari. The first two work as expected.

### E

[2018-03-18 22:10] MatteoGabriele commented on #99
hi @neorganic
no, this plugin only loads analytics.js or analytics_debug.js and it's meant to be used only for tracking purposes.

[2018-03-18 22:10] #99 closed

[2018-03-18 22:19] MatteoGabriele commented on #100
hi @meta7x
I'm sorry but I can't reproduce this error, would you mind providing a public repository with a simple vue-cli application that reproduces this behavior?

thanks for your time

[2018-03-18 23:00] meta7x commented on #100
https://github.com/meta7x/vue-analytics-bug

Here I used the Vue webpack template, as I did with my project and the issue persists.
I highlighted line 13 in /src/main.js, because changing that from true to false breaks Vue Analytics on my Safari. I've tried closing and reopening Safari and emptying the cache, but so far nothing has worked...

[2018-03-18 23:06] meta7x commented on #100
I've just realized that my Adblock seems to be the problem. Turning it off gets rid of the error.
Is that intended behaviour?

[2018-03-19 06:42] MatteoGabriele commented on #100
I was exactly thinking about browser extensions. It is an intended behavior to have unintended behaviors when u install AdBlock :)
It probably blocks the script from been loaded and so the promise is rejected.
The debug enabled loads a different script called analytics_debug.js and probably AdBlock doesn't care about it.

[2018-03-19 06:42] #100 closed

[2018-03-23 05:59] moogreentea opened #102 "[Ask] Is Plugin support for send Screen Tracking?"
Hi,

i need to send screen views for tracking behevior but not found events for do it.

Is it possible to send Screen Tracking pass by plugin?

Info for App / Screen Tracking https://developers.google.com/analytics/devguides/collection/analyticsjs/screens

Thanks,
Chan

[2018-03-23 06:17] MatteoGabriele commented on #102
Unfortunately not, I actually wanted to add that possibility.
For now you could go with $ga.query() which is like using window.ga and u have access to everything, but the auotracking works only with pageview.

Probably this weekend I'll add it

[2018-03-26 05:27] moogreentea commented on #102
Hi,

Just try to send this.$ga.query('send', 'screenview', { screenName: 'Top 5 News' });
and already set appName

but not found screen tracking data on Google Analytics

Could please any suggest ?

[2018-03-26 05:37] MatteoGabriele commented on #102
Can I see your plug-in installation? Other then that I can only suggest to wait a bit and maybe they will start registering them. Sometimes analytics takes time, sometimes is immediate.

[2018-03-26 05:42] moogreentea commented on #102
Oh, Thanks you for your fast reply :)

i think i will wait more about screen tracking data.

Thanks,
Chan

[2018-03-27 13:29] pirmax commented on #51
How I can import route from NuxtJS routes to use this plugin?

[2018-03-27 14:04] MatteoGabriele commented on #51
@pirmax you don't need it. There's already a Nuxt implementation of this library https://github.com/nuxt-community/analytics-module

[2018-03-28 08:01] graup commented on #69
@duxinxiao Have you had success with this? I'm also struggling. Tried a few different things but the utm_source i not tracked in GA.

[2018-03-28 09:48] harryhazza77 opened #103 "GDPR and the ability to turn off GA programmatically"
Hi, thank you for your plugin. I'm UK based and this issue effects any page being browsed from the EU or Switzerland. We now have to give users a choice to opt out of google analytics tracking i.e. programmatically. Is this currently supported?

[2018-03-28 10:24] MatteoGabriele commented on #103
Ah good one! I actually need to be GDPR friendly as well so I will definitely take care of this feature asap.

Right now is not really possible to disable it once is installed, the only workaround would be to pass 'false' to debug.sendHitTasks but it's a sync operation

[2018-03-28 10:27] harryhazza77 commented on #103
I've found this https://developers.google.com/analytics/devguides/collection/analyticsjs/user-opt-out which contains `window['ga-disable-UA-XXXXX-Y'] = true;` so this might be a workaround for now

[2018-03-28 10:30] MatteoGabriele commented on #103
Ah nice! Will keep that in mind. Thanks for the suggestion

[2018-03-29 07:28] duxinxiao commented on #69
@graup How you add the query params? you have to add both utm_source, utm_medium and utm_campaign, because they are required. You can describe the details. And I can always tracked it in GA( my webapp is in a hybrid app, and my situation is that number of tracked users is wrong, and I decide to use some other tools to track app conversion finally)

[2018-03-29 07:39] graup commented on #69
@duxinxiao My app is a real one-page application, I just add `http://domain.com/?utm_source=abc&utm_campaign=foo` and made sure to enable page tracking in vue-analytics. The page view is tracked but without the source...

[2018-03-29 07:44] MatteoGabriele commented on #69
Is the data fired from GA correct, when u try it locally with debug enabled? I would check that one first

[2018-03-29 08:03] duxinxiao commented on #69
I'm pretty sure you should add utm_medium too, these tree params are required

[2018-03-29 17:28] farbodg opened #104 "No results in GA using vue-analytics and AWS"
Hi,

I've followed the documentation, and added vue-analytics to my vue application by adding the following to my **src/main.js** file (with the appropriate tracking ID):

[code]

I built my application using **npm run build** and uploaded it to my AWS S3 instance. I hopped onto my website and checked my Google Analytics console and I do not see any active users on it. I thought it may take a whil

[2018-04-02 16:07] #91 closed

[2018-04-02 16:07] #103 closed

[2018-04-02 16:10] MatteoGabriele commented on #102
been implemented in v5.10

[2018-04-02 16:10] #102 closed

[2018-04-02 16:12] MatteoGabriele commented on #91
@msassa Sorry it took me a while to be able to code a bit.
I hope it will work as you expected, otherwise I'm open to suggestions :)

thanks again

[2018-04-02 18:58] msassa commented on #91
Thank you @MatteoGabriele
I will try to use it ..

[2018-04-03 13:43] harryhazza77 commented on #103
👍

[2018-04-04 13:19] ligne13 opened #105 "ignoreRoutes does not seem to work"
### Description

ignoreRoutes does not seem to work.
AutoTracking is enabled. I've added a route name to the ignoreRoutes array but the pageview is still called automatically.

### Expected behavior

The pageview should not be triggered when going to the route matching the route name inserted in the ignoredRoutes array.

### Actual behavior

The pageview is called.

### Environment

Run this comma

[2018-04-04 14:07] MatteoGabriele commented on #105
hi @ligne13
thanks for your feedback, I will have a look and see if I can replicate the error

[2018-04-04 21:52] hopscotcher opened #106 "TypeError inside hook (works in v5.9.1)"
### Description

TypeError

### Expected behavior

Executing Google Analytics commands.
Running command: ga("send", "event", "category", "action", "label", 123)

### Actual behavior

[Vue warn]: Error in mounted hook: "TypeError: Cannot read property 'apply' of undefined"

### Environment

`npm ls vue-analytics`: vue-analytics@5.10.0

1. Operating system: Ubuntu 16.04.3 LTS
2. Browser and version:

[2018-04-05 08:01] #106 closed

[2018-04-05 08:09] MatteoGabriele commented on #106
@hopscotcher thanks for your feedback!
fixed with 5.10.1

[2018-04-05 20:25] #105 closed

[2018-04-07 03:26] faisalraja opened #107 "Multiple named trackers support"
Hello, can I create multiple trackers?

If not I assume I could pretty much just use query for everything correct? My use case also would require me to add the tracker only after the route has been loaded. I'll be making these trackers dynamically as they switch to different pages that the user set. Any suggestion or query should suffice for now? Thanks

[2018-04-07 13:00] faisalraja commented on #107
I did see the multiple trackers but what I was looking for is more inline with this:
https://developers.google.com/analytics/devguides/collection/analyticsjs/ecommerce#multitracker

I don't want to trigger all events to the named trackers only events for their own property.

[2018-04-07 13:39] faisalraja commented on #107
Actually I just saw that gtag supports this by adding send_to key on any action. I think this will solve my use case. Thanks

[2018-04-09 16:48] ebisbe opened #108 "Adwords compatible?"
Hello,

Is this plugin Adwords compatible? I'm already using it to track google analytics but now I want to track some conversion of my ads. My marketing coworker has sent me this script:

[code]

If it is could you tell me what section to read?

Thanks

[2018-04-09 18:14] MatteoGabriele commented on #108
hi @ebisbe
Looks like you need an external javascript file to be loaded.
Besides that, everything is the same: if the adwords conversion.js script communicates with analytics.js you only need to add that snippet in your main html page.

[2018-04-15 11:52] MatteoGabriele commented on #108
@ebisbe Does it work? if so I will close this ticket

[2018-04-15 11:53] MatteoGabriele commented on #104
close it for inactivity. feel free to open it again when you have a riproduction

[2018-04-15 11:53] #104 closed

[2018-04-15 12:00] MatteoGabriele commented on #81
Due to naming conventions, I need to move this feature in the 6.x major version.
Sorry for being late but I had a lot of work :)

thanks!

[2018-04-15 12:05] MatteoGabriele commented on #94
This issue still doesn't have any reproductions that show the issue and therefore is not possible to be fixed.
I will close it again.
Please re-open it **only** in case of a repository that proofs this actual behavior. I will obviously keep an eye on it during other projects to see if pops up but so far it didn't.

thanks again all for suggestions and feedback :)

[2018-04-15 12:05] #94 closed

[2018-04-15 12:12] MatteoGabriele commented on #96
Hi @james-brndwgn
can't find a nice way to use modifiers in custom directives. I don't think that there's a native way in Vuejs to interact with these behaviors out of the box, right?
Do you know some libraries that do the same? I might take some inspiration from that

thanks :)

[2018-04-15 12:15] ebisbe commented on #108
Sorry, I've been busy with other things an that it's not really a must for me. I will try it but I'm not sure when...

[2018-04-16 11:13] markusdanek opened #109 "Best way to call opt-out function in a component"
Hi,

I have a own component for a cookie message warning (regarding GDPR).

In this [component](https://github.com/markusdanek/vuejs-meetup-talk-gdpr/blob/master/vue-app/src/components/CookieMessage.vue) I have a method "accept()" which sets a localStorage item and should also set the opt-out function from your plugin.

Would be this the correct way to do it?

[code]

In my main.js file I initiali

[2018-04-16 11:36] MatteoGabriele commented on #109
hi @markusdanek
I don't think this is the best way to do it.

What I would suggest is to have an end-point to call and let its response disable/enable the opt-in.

The `disabled` prop accepts plain booleans, promises, functions, and functions that return promises so you could, for example, opt for something like this

[code]

Of course this one only works if your user has already choosen which opt

[2018-04-16 11:49] markusdanek commented on #109
Hi @MatteoGabriele
thank you for your quick reply! ☺️

I totally understand your suggestion with the end-point but I think it's a litte over-engineering for my use case.

What I want to achieve is a little demonstration how to add a cookie message component to a Vue.js project and when clicking on the "Accept" or "Deny" buttons it should set the disabled boolean to "true"/"false".

So in my case I

[2018-04-16 12:38] MatteoGabriele commented on #109
I totally understand your use case, but Google Analytics can't opt-in/opt-out in runtime: it needs to be done **before** you create the trackers.

You only have two options:
- you already know the user choice and use the `disabled` prop to apply the value of your cookie.
- you need to install it after a click event which I really don't like but I guess it's possible.

[2018-04-16 12:50] markusdanek commented on #109
Ah okay, did not know that with the runtime!

So that would result to the following methods, right?
[code]

In this case it sets the **_ga** cookies but after I reload I do not get any debugs anymore.

I can't understand what you are meaning with that 🙈
Where would I set the prop?

Btw: Is there a way to buy you a beer/coffee? ☺️

[2018-04-16 13:38] MatteoGabriele commented on #109
I am saying that if the cookie/localStorage exists it means that the user already came once and he decided to opt-in or opt-out.
In this case, you could do something like this:

[code]

In case the user just came in your website, you might use that click handler to run analytics, but you don't need to install the plugin if it denies it: will be pointless.

[code]

[2018-04-16 13:42] MatteoGabriele commented on #109
ps: I don't know how you could buy me a coffee, unless you live in Amsterdam :D, but thanks for the gesture :)

[2018-04-17 10:29] harryhazza77 commented on #109
Hi @markusdanek.

I'm not sure why it didn't work for you. I am trying to achieve the same thing regarding GDPR in which, IMHO, this brilliant module must be disabled at the beginning and enabled after asking permission to track the users activity. For me, I was able to toggle `window["ga-disable-UA-XXX"]` at runtime and see tracking events being sent (if allowed) and no longer being sent (if deni

[2018-04-17 11:30] MatteoGabriele commented on #109
Yeah, I misread the API specification.
It is not before trackers but before you do a call to the `ga` object.
I will try to see if there's a way to make property observable without making the application heavier with some strange libraries: I can probably just use a Vue instance.

[2018-04-17 11:33] harryhazza77 commented on #109
Anything to get that ugly window global out of my Vuex Mutation would be great!

[2018-04-17 19:21] tdolsen opened #110 "checkDuplicatedScript option no longer working"
### Description

The `checkDuplicatedScript` option is no longer working. It was removed in commit 0357b615f4f5c576dd754fb3bc2d0cc04effac73. This results in the script being loaded twice using [PrerenderSPAPlugin](https://github.com/chrisvfritz/prerender-spa-plugin) as described in issue #60.

It's not clear to me whether this was intentionally done, enabling some other way to solve this. If that'

[2018-04-18 07:18] ggirodda opened #111 "Dynamic id"
Hello,
I already post this question in nuxtjs google analytics module
https://nuxtjs.cmty.io/nuxt-community/analytics-module/issues/c12
but I think it's more inherent to put it here.
How can I put id dynamically ? I use a custom api module wich retrive some information such as the google analytics id, but it is called in a middleware.
I see that in vue-analytics I can put a Promise instead of the

[2018-04-18 08:09] MatteoGabriele commented on #111
Hi @ggirodda, I'm also in the other repository so no problem with that, but be sure to close that ticket or we'll have duplicates.

About your issue, I'm sorry but the ID field already has plenty of options: strings, arrays, functions, functions that return promises and plain promises.
There's even an integration with Vuex, but the initialization needs to be done as explained in the documentation:

[2018-04-18 08:09] #111 closed

[2018-04-18 08:15] MatteoGabriele commented on #110
Hi @tdolsen, thanks for your feedback.
This feature should still be available, I'm going to check whether or not is still working: otherwise, it's a bug that I will fix :)

[2018-04-18 08:33] ggirodda commented on #111
Ok, thank you for your reply and for your work

[2018-04-18 08:34] MatteoGabriele commented on #111
@ggirodda my pleasure :)

[2018-04-18 09:18] JoseOspina opened #112 "All [Vue warn] message sand JS errors dissapeared"
I am using "vue-analytics": "^5.9.0"

When I add
[code]

to `main.js`, I stop seeing any `[Vue warn]` or Javascript errors while developing.

Its the same in Chrome and Firefox

[2018-04-18 09:32] MatteoGabriele commented on #112
hi @JoseOspina
just adding your ID doesn't mean that the plugin is tracking something: you need to enable auto-tracking or start tracking yourself.

For what concerns error handling, you should update to the last version:
that bug is already fixed ( see https://github.com/MatteoGabriele/vue-analytics/commit/500993c )

[2018-04-18 09:32] #112 closed

[2018-04-18 09:44] JoseOspina commented on #112
Thanks @MatteoGabriele, maybe it is possible to make it clear in the Getting Started page, that adding the ID is not enough.
https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/installation.md

[2018-04-18 09:53] MatteoGabriele commented on #112
I gave that for grunted. In the readme there are also 2 articles I wrote about how to start and tips & tricks.
I might add them also to the installation page then :)

thanks for your feedback

[2018-04-19 03:34] cathyhax opened #113 "ERR_NAME_NOT_RESOLVED"
Hi there,

Set everything up as directed and I'm getting this error:

https://www.google-analytics.com/analytics.js net::ERR_NAME_NOT_RESOLVED
 [vue-analytics] An error occured trying to load https://www.google-analytics.com/analytics.js. Please check your connection.

If you could help me it'd be much appreciated!

Best,
Cathy

[2018-04-19 05:54] MatteoGabriele commented on #113
Hi @cathyhax could you let me know which version are u running and a snippet of your plug-in installation

Thanks

[2018-04-22 19:57] michael-alade commented on #113
I am having this same problem. But I am using Nuxt module with version 2.0.2

[2018-04-24 04:09] cathyhax commented on #113
Hi Matteo,

I am running "vue-analytics": "^5.10.2".

I have the following in my main.js file:

[code]
Any help would be greatly appreciated!

Cathy

[2018-04-24 07:14] MatteoGabriele commented on #113
@cathyhax I can't reproduce this error, but I was wondering if you are using some AD blocker or Analytics blocker in your browser. I would suggest to try in a private browser and check if you still have the same error or I need you to create a small application with `vue-cli` and reproduce this error and make it public so that I can have a look.

thanks for your time

[2018-04-24 07:18] MatteoGabriele commented on #108
as I said I'm closing this issue for inactivity but feel free to re-open when you have more informations

[2018-04-24 07:18] #108 closed

[2018-04-24 09:37] MatteoGabriele commented on #113
@michael-alade I thought so: that error is usually prompt when the script cannot be loaded and usually is due to a connection error, but also ad blockers.
I might go to add another line to the error description so that people checks also blockers in their browsers.

@cathyhax I will close this ticket because I believe you have the same issue, otherwise feel free to re-open it with a reproduction.

[2018-04-24 09:37] #113 closed

[2018-04-24 18:32] sloan-holzman opened #114 "Not detecting window.location.hostname"
Hi!

I am trying to use vue-analytics, but am not receiving any data - except in localhost, where it works fine.

Our situation is unique, in that we have different domains for each customer.  So, the Google Analytics id should change depending on the hostname.

I've set the id to change depending on the window.location.hostname, but it still doesn't seem to work.

Could you please advise where I

[2018-04-25 10:04] MatteoGabriele commented on #114
hi @sloan-holzman
I cannot really have a solution for you, to be honest. The code seems ok, but there are "too many" things that could go wrong outside this snippet.

I would suggest as a first step to enable debugging even in production to see if vue-analytics starts and with which values. That would probably be the starting point for me.

I have to close this ticket because is not related to the

[2018-04-25 10:04] #114 closed

[2018-04-25 17:51] sloan-holzman commented on #114
Thanks, Matteo.

I think it was a simple typo!

On Wed, Apr 25, 2018 at 6:04 AM, Matteo Gabriele <notifications@github.com>
wrote:

[2018-04-25 18:38] bloodf opened #115 "[HELP/BUG] Vuex Ecommerce GA"
I think the Vuex implementation have a problem with the Ecommerce module.

if I use this
[code]

[2018-04-25 19:15] bloodf commented on #115
:)

I was making the use of the plugin on my company project, but can't use everything from now because the VUEX are not working :)

[2018-04-25 19:53] MatteoGabriele commented on #115
the bug has been fixed (https://github.com/MatteoGabriele/vue-analytics/commit/ef1fa26)
update to v5.10.3

you now can use it like this

[code]

[2018-04-25 19:53] #115 closed

[2018-04-25 22:38] bloodf opened #116 "[BUG] Ecommerce VUEX"
The Vuex implementation of the ecommerce are not fully working.

<img width="986" alt="captura de tela 2018-04-25 as 19 37 14" src="https://user-images.githubusercontent.com/1626923/39276612-3589cd62-48c0-11e8-97c1-fc6eb8a175ee.png">

[code]

[2018-04-26 21:29] bloodf opened #117 "[Question] Ecommerce not sending data do Google"
I'm using this , but the GA are not showing anything, event if I do the purcahse action on the payment

[code]

[2018-04-27 14:41] #83 closed

[2018-04-27 22:04] MatteoGabriele commented on #117
This is clearly not a question and this is your third ticket on the same topic.
Create a public repository using vue-cli with the issue you have well explained so I can have a look.

[2018-04-28 15:06] #110 closed

[2018-05-04 19:12] jasonify opened #118 "[Question] this.$ga inside of actions?"
I see the documentation covers how to add part of the functionality via a middleware and requires the use of `commit` but I am wondering if there is support for when you are not using commit? Outside of writing a fake mutation to leverage this inside of actions?

Thanks

[2018-05-04 23:17] brian1037 opened #119 "Possible to use without npm?"
I'm using Vue with a PHP backend so I'm just wondering if it's possible to use this without npm and Node? I don't see Node/npm listed under Requirements, and I can't find a compiled file in the .zip from Github. Ideally I'd like to just load this as a <script> if that's possible.

Sorry if I missed something obvious! Thanks

[2018-05-05 07:43] MatteoGabriele commented on #119
Hi @brian1037
no is currently not possible.
The plugin is deployed automatically on NPM using semantic release so there's no distribution folder in the repository, but other than that I didn't make a bundle compatible for the browser because nobody ever asked: 99% of developers use something like webpack to manage projects.

I will try to see if I can manage a new build process but I'm afraid will

[2018-05-08 22:18] brandonkelly opened #120 "Possible to use this with VuePress?"
I’m attempting to use vue-analytics in a [VuePress](https://vuepress.vuejs.org/) site, but getting the following error when building the docs:

[code]

So looks like SSR support is not fully there. I think VuePress is a pretty typical Vue app.

[2018-05-09 14:03] MatteoGabriele commented on #120
Hi @brandonkelly
thanks for your feedback! I'm going to have a look and see if I can make it SSR friendly :)

[2018-05-09 21:26] manastalukdar opened #122 "Need help - unable to get vue-analytics working"
Implementation [here](https://github.com/manastalukdar/manastalukdar.github.io/blob/master/website/src/main.js).

I do not see any data in my Google Analytics dashboard. I have looked through [this](https://github.com/MatteoGabriele/vue-analytics/issues/51) and [this](https://github.com/MatteoGabriele/vue-analytics/issues/82), and tried some things as suggested there to no avail.

Would appreciate

[2018-05-09 21:43] MatteoGabriele commented on #122
The installation is correct. it could just be some issues with GA, especially if it's a new account.
I'm sorry but events are fired correctly, the plugin works.

let me know in a couple of days of usage if it is fixed, otherwise, create a repository with the error you think the plugin has and I'll have a look.

thanks for your feedback and good luck :)

[2018-05-09 21:43] #122 closed

[2018-05-10 02:56] manastalukdar commented on #122
@MatteoGabriele Thanks. Everything works now. For some reason, GA just took some time to start getting data. Perhaps, as you said, because it was a new account.

[2018-05-10 08:32] MatteoGabriele commented on #122
@manastalukdar yeah I receive a lot of ticket about this scenario and 99% of the time, if the setup of the plugin is good, it's just matter of waiting a bit because it's a new account :)

glad that is working now

[2018-05-14 09:54] goors commented on #79
same here. on the analytics (user view) dashboard it says 0 users.

[2018-05-14 10:07] goors commented on #89
@xxlee0927 can you please paste the code for your solution for this user tracking. I am going crazy because of the same problem.

[2018-05-14 12:16] MatteoGabriele commented on #89
@goors if you create a small application with vue-cli and explain your issue in the repo, I can have a look, otherwise check the documentation for userID or Vuex integration

[2018-05-14 13:40] brandonkelly commented on #120
Thanks for taking a stab at it! I’m still getting an error:

[code]

Here’s a sample project: https://github.com/brandonkelly/vp-analytics-test

[2018-05-14 14:08] #120 closed

[2018-05-14 14:11] MatteoGabriele commented on #120
I've made couple more changes and now I can build the application.
Update to v 5.10.6

thanks for your time, helped a lot :)

[2018-05-14 18:39] brandonkelly commented on #120
Thanks! It is in fact able to build now. I’ve [added it](https://github.com/craftcms/docs/commit/3efae485850c27e98ecf438ec5ddc3657982fb52) to one of our documentation projects, but it doesn’t appear to actually be sending anything to GA. Were you able to test whether it was actually working on your end in that test project?

[2018-05-14 18:41] MatteoGabriele commented on #120
@brandonkelly yes was sending events, even if in the repo you made the domain ID was fake.
when you set the `debug.enabled` to true, you can check all events that are sent to Google Analytics: that's the proof that is working.

[2018-05-16 07:49] Jarzka opened #123 "Question about page tracking"
Relating to:

https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/page-tracking.md
`this.$ga.page('/')`

What is `this` in this example? Can't I just call Google analytics directly to track a page load, for example inside `router.beforeEach` function.

EDIT: In this tutorial, they are using `ga` directly:
https://serversideup.net/google-analytics-vue-router-single-page-application/

[2018-05-16 07:51] MatteoGabriele commented on #123
hi @Jarzka
`this` is the scope of your component.
to track pages just use the instance of your router like described here https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/page-tracking.md#enable-page-auto-tracking

[2018-05-16 07:51] #123 closed

[2018-05-16 07:53] Jarzka commented on #123
Oh, sorry, I did not notice there was that automatic page tracking section.

Thanks for help!

[2018-05-16 07:56] MatteoGabriele commented on #123
@Jarzka no problem :)
btw the example you've posted is just a simple implementation of google analytics inside a vue application, this plugin provides an actual wrapper of that library for Vue and implements more useful utilities like the automatic route tracking and more

[2018-05-17 16:40] mwaldstein opened #124 "Using pageViewTemplate in router prevents page from being set"
### Description

Using pageViewTemplate only causes pageview's to be sent, without any 'set' command, causing events to be mis-assigned to the wrong page.

### Expected behavior

a page 'set' command should still be set

### Problem Exploration

 * In `trackRoute`, if there is a pageviewTemplate, it is used to create the parameter sent to `page` rather than the route - https://github.com/MatteoGab

[2018-05-17 19:06] MatteoGabriele commented on #124
hi @mwaldstein
I've actually seen this bug couple of days ago and I forgot to add an issue for it.

thanks a lot for your feedback, I will fix it asap :)

[2018-05-19 19:18] #109 closed

[2018-05-20 10:24] L-Jovi opened #126 "Confliction between page tracking and screen tracking?"
Hi, it's not a bug, just question as title said.

Is it no possible to enable both page tracking and screen tracking?

I follow the [document - page-tracking](https://matteogabriele.gitbooks.io/vue-analytics/content/docs/page-tracking.html) and successfully record page info, I can see chrome console output when I switch page.

But then I add screenview `track` under `methods` of module, I notice t

[2018-05-20 10:31] MatteoGabriele commented on #126
hi @L-Jovi not really sure about your setup, could you please create a small app with vue-cli and do the same thing so I can have a look.

is not possible to have autotracking with both methods: or you track pageviews or you track screenview, but the screenview method available in the $ga api is available anytime and should work.

[2018-05-20 10:33] #124 closed

[2018-05-20 10:50] L-Jovi commented on #126
Thanks for your reply :)

Maybe I could extract key code to setup new demo by vue-cli later, if I cause any trouble, feel free to close the issue.

regards.

[2018-05-20 10:53] MatteoGabriele commented on #126
no man, no problems.
I tagged it as a question but if you don't reply within a couple of weeks I'll close it: my policy :D

[2018-05-22 15:20] #126 closed

[2018-05-24 06:38] Sephen opened #129 "Home page not registered"
In my Vue App I've got two routes home and page.
Page is being registered in Google Analytics but the homepage is being ignored

[code]

I've tried the following:
`this.$ga.page(this.$router)`

`this.$ga.page('/')`

[code]
But none of the above sends the data to Google Analytics. The other page uses: `this.$ga.page(this.$router)` which just works.

In both routes the Analytics is called in the cre

[2018-05-24 06:56] MatteoGabriele commented on #129
hi @Sephen the autotracking works with your instance of vue-router, not with vue-router itself.

you need to pass what you are currently exporting as default in that first snippet

[code]

[2018-05-24 06:56] #129 closed

[2018-05-25 18:30] pSchaub commented on #64
I think this is the solution - not tested

[code]

[2018-05-26 21:22] darkylmnx opened #130 "Perf issues on v-ga"
This is more of a suggestion than a "bug" but there are issues performances and memory leak on v-ga because you add events but never remove them, so if for example I switch a component 10 times, the events are still somewhere in memory but not used.

[2018-05-27 11:16] MatteoGabriele commented on #130
thanks @darkylmnx
I will look into that :)

[2018-05-30 12:18] wannymiarelli commented on #85
This problem is present also in 5.12.x
<img width="1115" alt="schermata 2018-05-30 alle 14 13 01" src="https://user-images.githubusercontent.com/2851947/40719539-3258ef64-6414-11e8-8df9-db8f29530c2d.png">

the array list up to the error is the resolved result of my promise (an array of string as requested)

[2018-06-05 03:13] Jones-S commented on #69
@graup I did add all the utm parameters, but they would still not show up in google analytics. I also use some chrome extensions to debug the tracking. The page is correctly tracked, showing up in the real-time tab of GA, but the campaign would not show up.

Parameters:
`utm_source=aerztezeitung&utm_medium=print&utm_campaign=inserat`

In GA I even see this:
<img width="562" alt="image" src="https:

[2018-06-06 09:28] haimsitt opened #131 "support for quasar framework?"
Hi!
I tried to run this code, but I couldn't see my page views in google analytics (not locally as well).

![image](https://user-images.githubusercontent.com/39988091/41029568-a3972fea-6984-11e8-8bb3-5b263aa52913.png)

I am using quasar framework and build with:  quasar build -m pwa
I am stuck on this one could you please help me out?

[2018-06-06 09:34] MatteoGabriele commented on #131
I think is because you are passing a `Router` property, but the plugin is looking for a `router` property.

[2018-06-06 13:51] #131 closed

[2018-06-12 19:54] MatteoGabriele commented on #81
Hey @DaxChen I'm literally working on this and I have almost finished, but I'm adding also webpack 4 and other things so...almost there!

[2018-06-16 11:07] vesper8 commented on #129
this could use way better documentation... I shouldn't be finding out how to use this with a router by perusing dozens of issues

[2018-06-16 11:17] MatteoGabriele commented on #129
@vesper8 I'm sorry man but there's plenty of documentation, examples, articles on Medium about this plugin and how to use it.
If you guys just install plugins and pretend to make it work without not event read 2 lines about it and without understanding the tools you use: it's on you.

And the most important thing of all: always remember to be polite with open source developers. We're not paid by a

[2018-06-17 22:11] domface opened #132 "No Events Firing At All"
Okay so, I've been banging my head on this all week and can't figure out WTF is going on.

I've read all issues regarding new accounts, so I've waited a few days to let the new account thing simmer, but i still encounter this issue:

Google Analytics can sense that a user is active on the page, and is active at my NON Vue.js endpoints (i.e. a static admin page).

The only thing i get is, that a us

[2018-06-18 07:13] MatteoGabriele commented on #132
Unfortunately, I don't know what's causing this.
I've just re-tested with a new app, added the plugin and my personal GA domain ID and I can track myself locally in real-time as expected

![screen shot 2018-06-18 at 9 08 44 am](https://user-images.githubusercontent.com/5337152/41522739-ae890b42-72d7-11e8-88ea-a434e91bca24.png)

only think we can try is if you create a simlpe application with vue-c

[2018-06-18 09:35] websanova opened #133 "Plugin doesn't seem to boot."
### Description

Just doesn't seem to be working at all, no idea.

[code]

[code]

* No console / debug output
* No ga scripts loading.
* No other requests for page, etc being made.
* Shows `undefined` when doing  `console.log(this.$ga)` or `console.log(this.ga)`
* No errors

I'm stumped, I thought at least some error, or output, but the plugin seems to be loading...(maybe)

I also tried adding th

[2018-06-18 09:59] MatteoGabriele commented on #133
Hi @websanova
I should probably make this more clear somewhere because you're like the third person that asks me that :)

The plugin has only one build and it has a **default export**.
This means that you can import it with es6 syntax `import VueAnalytics from 'vue-analytics'` or with es5 syntax `const VueAnalytics = require('vue-analytics).default`

I will update documentation to make this clear

[2018-06-18 09:59] #133 closed

[2018-06-18 10:03] websanova commented on #133
Yes,

I just painfully figured this out.

[code]

Thx for the reply :-)

[2018-06-18 10:20] MatteoGabriele commented on #133
you're welcome. I'm actually working on version 6, with some other features, webpack 4 build, also the possibility to load the plugin via script tag and so on.

[2018-06-27 19:43] DevinWatson commented on #133
Just spent a day fighting the same issue. Analytics.js was loading just not doing a GET on the collect endpoint. Maybe update the documentation to be a bit more clear.

[2018-06-27 19:47] MatteoGabriele commented on #133
I've already updated the documentation days ago

[2018-06-29 04:13] graup commented on #69
@Jones-S: Eventually it worked for me. The campaigns just didn't show up in the real time view, but they did later in the reports.

[2018-07-03 05:56] Jones-S commented on #64
Thanks for the help here, but I currently cannot get it to work with this:

[code]

Do I have to set it differently because I use this «auto-tracking» thing, where I don't set things manually?

Thanks for the help.
cheers

[2018-07-03 08:41] Jones-S commented on #64
@MatteoGabriele thanks for the quick reply.
I unfortunately cannot share my repository, but I can share the code I am using:

My app.js:

[code]

Also I use [this extension](https://chrome.google.com/webstore/detail/google-analytics-debugger/jnkmfdileelhofjcijamephohjechhna)  to check if the anonymization works. Normally it would show up there, but this time not. So maybe it is also a problem of t

[2018-07-03 09:00] MatteoGabriele commented on #64
Well I wouldn't rely on other tools: enable the debug mode in the plug-in which will use the official debug API to show you what is sending.
If after that just it is still not working that I'll ask u to create a new repo, I obviously never going to ask you to share private projects. You create a new repo with a simple project created with vue CLI. The minimal the better because sometimes the proje

[2018-07-03 09:10] Jones-S commented on #64
Yeah of course. I understand that. Well I will do the debug and get back to you. Thanks already

[2018-07-03 09:21] Jones-S commented on #64
I realized that this plugin is provided by google themselves. Anyway, I set the debug:

[code]
And I still don't see the anonymized IP property set to true. I will try to build an example, but I am a bit under time pressure, so it may take some time...

[2018-07-03 11:51] QuantumInformation opened #134 "How do you prevent GA reporting when running locally?"

[2018-07-03 11:57] MatteoGabriele commented on #134
https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/turn-off-development.md

[2018-07-03 11:57] #134 closed

[2018-07-03 15:13] goatandsheep opened #135 "[Suggestion] Offline Analytics"
Can we enable offline analytics through [Google Workbox](https://developers.google.com/web/tools/workbox/guides/enable-offline-analytics) ?

[2018-07-03 17:57] Jones-S commented on #64
Hmm... I did setup a simple project with the vue cli and it works... So I have to dig into my stuff. 😿
thanks anyway.

[2018-07-03 19:50] MatteoGabriele commented on #64
Nice to hear, but also shitty cause you have to find out why.

Let me know if I can help u and thanks for your time

[2018-07-03 19:50] #64 closed

[2018-07-04 05:54] Jones-S commented on #64
@MatteoGabriele
I am a dumb f****** idiot 🙈. I still had an old version of vue-analytics (4.4.0). Of course it would not work. Jeez.
Well thanks for the support anyway.

[2018-07-04 05:57] MatteoGabriele commented on #64
Ahahhahaha yeah the right version usually helps 😂
I'm glad u found out

Cheers

[2018-07-04 06:51] Arredatore commented on #132
Hi, I have the same hard to repeat issue.

Although, it is working in a private browser instance indeed, thank you that was helpful. So the question of mine which extensions may cause this to not working? How popular are they, have you done any testings?

[2018-07-04 06:56] MatteoGabriele commented on #132
Most of the times is adblcok or some Google analytics blockers, but you never know when too many plugins that don't know each other start doing stuff under the hood, something must go wrong.

[2018-07-04 09:39] Arredatore commented on #132
So, in my case, I've updated the Vue-CLI and vue/cli-plugin-pwa to the last version and everything works now.
Probably the service worker was the issue.

[2018-07-04 10:35] MatteoGabriele commented on #132
Thanks everyone for the feedback, looks like is not a plugin issue so far and the owner of issue didn't send any reproductions for 2 weeks so I will close this ticket.

feel free to re-open this ticket with a reproduction

cheers!

[2018-07-04 10:35] #132 closed

[2018-07-09 18:50] domface commented on #132
I found a way to reproduce!

[2018-07-12 20:30] aschalund commented on #22
So i know this is a closed ticket but I am experiencing a similar thing.  I am using router but I have an issue where any tracking calls that are made in created() or mounted() trigger this error `Command ignored. Unknown target: undefined` and do not record to GA. Looking at the debugging tool it looks like they are firing before the app inits GA logging.

Here is my router code
`Vue.use(VueAnaly

[2018-07-16 17:11] ben182 opened #136 "Campaign"
Hi,

how can I track campaigns with utm get params?

[2018-07-20 14:01] croossin opened #137 "this.$ga.event not working"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

I can not seem to get the event to report to the GA dashboard

### Expected behavior

Events reported to GA dashboard

### Actual behavior

No events being reported

### Environment

`vue-analytics@5.12.2`

Then, specify:

1. Operating system:
MacOS 10.13.5

2. Browser and vers

[2018-07-20 14:34] croossin commented on #137
Fixed :D

[2018-07-20 14:34] #137 closed

[2018-07-22 13:08] MatteoGabriele commented on #136
I don't really used it for campaigns to be honest. Could you let me know how do you usually do it.

thanks :)

[2018-07-22 15:35] MatteoGabriele commented on #135
I think it's a good idea, but because there's a version number involved, just like using autotrack.js, I'm "struggling" to find to best solution.
If I put this specific version, then you'll always download this version if I don't update the version number. It sucks!

If you have any ideas, let me know

thanks :)

[2018-07-22 16:40] ben182 commented on #136
Hi. Look at this: https://support.google.com/analytics/answer/1033863?hl=en
How can I use it with the API?

[2018-07-22 16:44] MatteoGabriele commented on #136
Well, to me they just look like parameters to add to a specific URL, so just append it to a link like you would do normally. This example doesn't use any of the google analytics API

[2018-07-22 17:48] ben182 commented on #136
The problem is that I does not work with vue router. For example#: http://example.com/#/?utm_source=exampleblog&utm_medium=referral&utm_campaign=summer-sale. It does not send the request to google

[2018-07-22 17:49] ben182 commented on #136
This does not work neither: http://example.com/?utm_source=exampleblog&utm_medium=referral&utm_campaign=summer-sale

[2018-07-23 13:31] Bob-Thomas opened #138 "Mandatory analytics property when using meta for another plugin"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

I have my own vuex plugin running for local storage caching that also uses the meta object.
[code]
and sometimes I want to cache a mutation but not use analytics.
### Expected behavior

Using a `{meta:{cache:true}}` shouldn't trigger the `throw new Error('The "analytics" proper

[2018-07-27 08:17] Bob-Thomas commented on #138
@MatteoGabriele did everything go okay?

Can I close the issue now ?

[2018-07-27 08:42] Bob-Thomas commented on #138
@MatteoGabriele no worries, for now I just use my own fork.
Thank you for delivering this awesome tool take your time

[2018-07-28 10:04] MatteoGabriele commented on #138
I think I get it, probably is due to the recent eslint package hack. NPM had to revoke all tokens.
I think that Travis is not allowed anymore to publish in my account because the token expired.

[2018-07-28 10:30] MatteoGabriele commented on #138
yes! I had to remove the old token and add a new one!
that was a pain in the ass to find out!

thanks again for your contribution!

The package is deployed v5.12.3

cheers!

[2018-07-28 10:30] #138 closed

[2018-07-28 10:44] MatteoGabriele commented on #136
@ben182 could you please create a small repository with vue-cli and recreate this issue on that. Would be really helpful

thanks for your time

cheers

[2018-07-29 12:13] MatteoGabriele commented on #96
closing due to inactivity

[2018-07-29 12:13] #96 closed

[2018-07-29 12:16] MatteoGabriele commented on #81
I have a question @DaxChen
what would be the best way to load this? it's not a package and apparently there's nothing such url that could respect semversioning so I could use a url of the current stable version but if a patch or something comes out you need to wait until I publish a new update and it kinda sucks.

I was thinking about just let you use a property where you paste the url of the vers

[2018-07-31 13:42] i4ntch1k opened #142 "An event triggered before the GA library is loaded is ignored"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

An event triggered by a "mounted" hook in a component is ignored since GA is not fully loaded yet.

### Expected behavior

The event should be delayed until the library is fully loaded and then triggered.

### Actual behavior

The event is triggered and fails since no tracker h

[2018-07-31 16:30] phouri opened #143 "Different configs per id"
I got into a situation where I have 2 google analytics ID, one is ours, and other is the client's that wants to run with his ClientID (not the Googla Analytics Id, but the client ID), I don't want to override ours, but change his config to be something else.

So far I see that it's only one config for all, is it possible to split configs per ID?

[2018-08-02 07:39] MatteoGabriele commented on #142
Hi @i4ntch1k
I've tested it and looks like you're right, event tho I already thought about it when I deployed a fix for that long time ago.
I will have a look again and let you know

Thanks for your feedback

[2018-08-02 07:45] MatteoGabriele commented on #143
Hi @phouri
let me see if I understand: you want the same domain id to start tracking twice the same event but based on two different client id?

Something like this but automatically done by the plugin on every event?

[code]

[2018-08-02 07:51] phouri commented on #143
Nope, something a lot simpler, I have 2 domain ids (one reports to my GA, other to a client using my services GA).

However, the configurations are a bit different (specifically in my case, the config.fields) I'd have gotten around most configurations by getting the correct tracker and setting the configuration but clientId is read only and can only be setup in creation time.

So an example config

[2018-08-02 08:07] MatteoGabriele commented on #143
Ah ok, I see what you mean.

thanks for your feedback

[2018-08-03 13:09] MatteoGabriele commented on #143
@phouri I actually still didn't think about how to handle this, but if you have already an idea I can have a look at you PR :)

thanks a lot for your time

[2018-08-05 14:40] phouri commented on #143
Added the PR :) lmk if it's ok

[2018-08-06 07:38] MatteoGabriele commented on #143
Thanks a lot for your time, I'll have a look next week when I'm back.

Cheers

[2018-08-06 08:28] parcodiyellowstone opened #145 "Doubt on cookies set by GA on $ga.enable"
First of all, thanks a lot for your hard work! This is a really useful plugin!

I have a question regarding the cookies set by Google Analytics using Vue Analytics.

I've created a GDPR module using php and js which hard refreshes the page when users update their preferences.

If the use did opt in before, I have a `_ga` and a `_gid` cookie. If the user opts out, I manually disable all cookies, an

[2018-08-06 08:34] MatteoGabriele commented on #145
Thanks a lot for your feedback :)

I'm currently out of town without laptop so I'll be able to come back to you next week, but I basically use straight Google Analytics API so I guess everything should be ok but I'm not sure because I cannot double check.

I guess you should go on its documentation and see what about these cookies when disabling/enabling the API

Cheers

[2018-08-06 13:56] parcodiyellowstone commented on #145
Hi Matteo,

thanks for your quick reply. I'll read the docs again and see if I can figure it out; that particular bit of Analytics' documentation was a bit obscure to me.

Cheers

[2018-08-07 23:03] Nfinished opened #146 "[Question] Does the analyticsMiddleware plugin need to be used on an action?"
Wasn't in the docs, for synchronous state changes can the meta tag be used on a mutation or does it have to be passed through an action? Might be a silly question because I'm not entirely sure how vuex middleware works.

[2018-08-08 05:26] MatteoGabriele commented on #146
Yes, it needs to go through an action

[2018-08-08 05:26] #146 closed

[2018-08-10 15:51] sweebee opened #147 "dynamicly add extra ID"
I'm doing an API call and i get an analytics ID, how do I add it to the current ID? So it should add it besides the default one that is set in Vue.use().

[2018-08-10 15:54] MatteoGabriele commented on #147
Could you a snippet of your current installation and how are u handling the call?
The `id` property can also be a promise that returns an array, so you could retrieve that second id from API and add it to an array with the first one.

[2018-08-10 15:58] sweebee commented on #147
in my main.js i have

[code]

this is the call:

[code]

[2018-08-10 16:04] MatteoGabriele commented on #147
You cannot add a new domain ID on the fly, needs to be done before everything starts so this is your only option:

[code]

[2018-08-10 16:32] sweebee commented on #147
i get the following error:

[code]

[2018-08-10 16:48] MatteoGabriele commented on #147
Uh! I might have spotted a small bug then :)
For make it work for now, you can just wrap it in a function

[code]

[2018-08-10 16:53] MatteoGabriele opened #148 "ID option - Promise alone not working"
Following the documentation, the ID option should work when just a promise is passed: but it fails with the following error:

[code]

Right now the Promise needs to be wrapped in a function to able to work.

[2018-08-11 13:00] MatteoGabriele commented on #147
@sweebee if it's working I'll close this ticket, I've already opened another one for the little bug I saw

[2018-08-11 13:41] sweebee commented on #147
Yes thanks.

[2018-08-11 13:41] #147 closed

[2018-08-12 05:22] NoraGithub opened #149 "137:1 Uncaught (in promise) Error: [vue-analytics] Route name is mandatory when using screenview."
### Description

It reminds me of `137:1 Uncaught (in promise) Error: [vue-analytics] Route name is mandatory when using screenview.` unexpectedly.

### Expected behavior

[code]

I did it as above and I don't expect any errors in console.

### Actual behavior

It reminds me of `137:1 Uncaught (in promise) Error: [vue-analytics] Route name is mandatory when using screenview.` unexpectedly.

### En

[2018-08-12 05:55] NoraGithub commented on #149
It checkout route.name by [route.currentRoute](https://github.com/MatteoGabriele/vue-analytics/blob/master/src/lib/page.js#L87)and
however, VueRoute init with null.
4.
[code]
[link](https://github.com/vuejs/vue-router/blob/05a5f085fd7e230d4b51862f7a6086fec4378bc6/src/index.js#L80)
3.
[code]
[link](https://github.com/vuejs/vue-router/blob/05a5f085fd7e230d4b51862f7a6086fec4378bc6/src/index.js#L56)
2

[2018-08-13 07:07] MatteoGabriele commented on #149
Hi @NoraGithub
thanks for your feedback but I'm sorry i don't understand the problem.

I need you to create a small app using vue-cli maybe. just a small app with minimal necessary to reproduce this error and then paste the link here in the issue

[2018-08-13 16:07] NoraGithub commented on #149
Here's the [demo](https://github.com/NoraGithub/vue-router-analytics)

If any other things I can help, please let me know.

[2018-08-13 17:52] janswist opened #150 "Requires router to work properly"
Issue is with readme file. I must have read an article that showed me that I have to use 'router' within VueAnalytics object to start tracking. Without it it's not working.

[2018-08-13 18:04] MatteoGabriele commented on #150
You need to pass the instance of your routing ( vue-router ) only if you want to use the auto-tracking feature of the package, otherwise you can do it manually.

[2018-08-13 18:04] #150 closed

[2018-08-13 18:05] janswist commented on #150
Yes, but it's not obvious. I thought it was running and 2 weeks went by and 0 hits on Google Analytics. That's why I created issue because it should work as stated in readme file.

[2018-08-13 18:10] MatteoGabriele commented on #150
That's a list of features. If you go to the chapter dedicated to tracking it will be obvious that you need to pass the router.
If you stay only at that list that you are automatically opt-out from Google analytics service then.

Always read the guide before using a library and test before pushing in production.

[2018-08-13 18:12] MatteoGabriele commented on #150
But thanks anyway for the feedback, I will make it more explicit

[2018-08-14 06:12] MatteoGabriele commented on #149
@NoraGithub
thanks for the demo.
So first problem, which is the one that vue-analytics is warning you, is that to be able to autotrack your routes, you need to add a `name` property to your routes.

example

[code]

Other error I see in the example is that you are not passing the `router` instance to your Vue instance and also that your trying to use `template` for a quick component but you're usi

[2018-08-14 06:14] MatteoGabriele commented on #145
@parcodiyellowstone did u find out what was the issue?

[2018-08-14 20:06] NoraGithub commented on #149
@MatteoGabriele  Thanks for you quick feedback.

My fault for the carelessness. I started the demo with vue-cli, so there were some typos.
I have updated the demo already that I passed `name` to routes and pass the router instance to vue instance. However, there comes the same error.
Would you please review it ? [updated demo](https://github.com/NoraGithub/vue-router-analytics)

[2018-08-15 10:55] Jarzka commented on #137
I have the same problem. How was it fixed?

[2018-08-16 07:12] NoraGithub commented on #149
@MatteoGabriele  Is there anything I can do for this issue?

[2018-08-16 07:49] MatteoGabriele commented on #149
Hey @NoraGithub
I still think that you have made few mistakes in your example that are you probably reflecting in your project as well.

Talking about this demo:

- you are not adding a `router-view` so you never used a route
- you are on that path '/' but you never register a route that matches a '/' path, only '/foo' and '/bar'.
- you still use a template component on a run-time only build, but

[2018-08-16 07:57] NoraGithub commented on #149
I will try  to fix it all later and reply here.

[2018-08-16 11:40] NoraGithub commented on #149
https://github.com/NoraGithub/vue-router-analytics

There came the same error. Please review it again.
@MatteoGabriele

[2018-08-17 02:45] DaxChen commented on #81
Hi @MatteoGabriele sorry for the late reply. I just came back from vacation 😄

I'm not sure if I fully understand the problem correctly, but `autotrack` is published to npm, why not use the npm version? Or maybe use *peerDependency* instead so users can install any version of autotrack on their own without updating `vue-analytics`.

Thank you so much!!

[2018-08-17 07:28] MatteoGabriele opened #152 "Ignore routes with path"
it is now currently only possible to ignore routes based on their names, but should be possible to use the path value as well.

[2018-08-17 07:43] MatteoGabriele commented on #81
@DaxChen
peerDependencies are a good idea but isn't NPM going to warn every time I install the `vue-analytics` and I don't need `autotrack.js`?

[2018-08-17 13:51] NoraGithub commented on #149
@MatteoGabriele  Are there anything wrong I had done?

[2018-08-17 14:39] MatteoGabriele commented on #149
I didn't have time to check it yet, I'll let you know asap

[2018-08-19 15:31] #143 closed

[2018-08-21 03:29] xmsz opened #153 "Can I replace the 'https://www.google-analytics.com/analytics.js' to custom url"
I can't load 'https://www.google-analytics.com/analytics.js' some times. Due to my country often block the Google Website.

So, Can I custom the google analytics load url.

[2018-08-21 05:39] MatteoGabriele commented on #153
You can't do this right now, but it's an easy feature to add :)

[2018-08-21 07:31] my9074 opened #154 "v-ga on UI-Framework (etc. element-ui) not work"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

What are you reporting?

I use UI famework (etc. [element-ui](http://element-cn.eleme.io/1.4/#/zh-CN/component/button)).
and follow the steps of the document. but ```v-ga``` not work on like *el-button*、*el-input* component.

### Expected behavior

Tell us what you think should

[2018-08-21 07:46] MatteoGabriele commented on #154
Please, because it's an issue with a framework involved, take time to create the application on a repository and link it here.

Create a small app with vue-cli, add framework and plugin and re-create the issue

thanks for your time

[2018-08-21 08:42] xmsz commented on #153
Tanks

[2018-08-21 08:42] #153 closed

[2018-08-21 14:35] MatteoGabriele opened #155 "Add custom analytics URL"
see #153

[2018-08-22 09:04] my9074 commented on #154
@MatteoGabriele Can this DEMO reproduce the question？

[2018-08-22 15:47] MatteoGabriele commented on #154
Sorry but I didn't have time yet. I'll ket you know asap

[2018-08-22 18:49] MatteoGabriele commented on #136
closed due to inactivity

[2018-08-22 18:49] #136 closed

[2018-08-24 11:27] ajshortt commented on #142
Any movement on this? Having the same issue. If there was a method for checking that GA was mounted then you use that check before firing your event

[2018-08-25 17:27] #142 closed

[2018-08-25 17:27] #155 closed

[2018-08-25 17:29] MatteoGabriele commented on #148
fixed with https://github.com/MatteoGabriele/vue-analytics/commit/f3fae476d7133dab8d44b1a84b43fb9ddd06caa4

[2018-08-25 17:29] #148 closed

[2018-08-25 17:30] MatteoGabriele commented on #142
The fix has been published.
check vue-analytics@5.15.0

[2018-08-27 13:12] MatteoGabriele commented on #154
I had a look and yeah it doesn't work with this `el-button` component.
I've also tried with a custom button component that I made on the fly and it worked.

I guess that it's more a ticket for the UI framework you're using, that for me: the binding doesn't work passing via their component.

[2018-08-27 13:12] #154 closed

[2018-08-27 14:19] MatteoGabriele commented on #149
So I have checked and the issue seems to be the fact that we're giving a promise of a component to vue-router, and not a component.
This is a good pattern for code splitting but apparently delays the code that evaluates the `$route` or `$router.currentRoute` property which will be `null` for an instant, only at the root route.

I'm not sure if I can fix this and if so to which repository should be

[2018-08-28 09:22] avrelaun opened #156 "Extracting clientId"
I used the analytics.js library previously, and would like to replace it with vue-analytics to ship it directly with the vendors.

The only thing that is missing for completing the transition is being able to extract the clientId (cid) generated from the ga instance. Since parsing the cookies is considered a bad practice I used to access via the tracker like this:

[code]

Is there a way to achiev

[2018-08-28 16:05] MatteoGabriele commented on #154
I'm sorry @my9074, but I don't understand.

[2018-08-30 11:59] NoraGithub commented on #149
@MatteoGabriele  Is it confirmed what the problem is ?

[2018-09-03 08:31] MatteoGabriele commented on #156
Hi @avrelaun
is currently not possible but I could add this feature.
The only thing is that in this plugin is possible to manage more than one domain, so or it will return probably an object map or something like that

[2018-09-04 07:10] avrelaun commented on #156
It would be great !
For now I guess I'll extract the value from the cookie...

[2018-09-04 11:44] Calvin-Huang opened #158 "Incomplete doc at Vuex part"
The README about Vuex part said there is an `event` function can be used to send the ga event.

[code]

However, it will throw an undefined error at runtime since the `event` not exists. I inspected the current `vuex-middleware.js`, there is no implementation for `event` function. Is there any way to make the `event` works fine? Or we need to follow the old `meta` style to send the event via Vuex.

[2018-09-04 12:00] MatteoGabriele commented on #158
hi @Calvin-Huang
you probably need update your vue-analytics package.

After I'll release version 6, the vuex middleware will be removed, because now you can simply use the package API also importing its methods separately.

you can check the release here https://github.com/MatteoGabriele/vue-analytics/compare/v5.15.1...v5.16.0

[2018-09-04 12:00] #158 closed

[2018-09-04 12:02] MatteoGabriele commented on #145
closing for inactivity. feel free to re-open with more insights. thanks a lot

[2018-09-04 12:02] #145 closed

[2018-09-05 09:08] Calvin-Huang commented on #158
Thanks for the explanation.

I noticed the doc was updated, and it works fine now. Thanks again!
[code]

[2018-09-05 09:09] MatteoGabriele commented on #158
Yeah, it was a PR from a contributor that I thought was in master already, instead was in the develop branch :)

[2018-09-07 10:45] zhougonglai opened #159 "Attributes' screenview conflict"
e. 'Route name property is mandatory' means all routing to add the name or don't add?
i think is 'all routing to add the name', But it is still an error
[code]
----
[code]
----
router.js
[code]

[2018-09-07 23:52] devinrhode2 opened #160 "pageViewTemplate not getting called"
### Description

My app reloads, there's only one page, and the autoTracking.pageViewTemplate/pageviewTemplate hook is not getting called.

### Expected behavior

I have a console.error statement inside this hook, and it should be getting logged to the console, but is not.

Here's my main.js with the code:
[code]

### Actual behavior

I do see that some events get sent. Mostly everything else seem

[2018-09-08 01:52] devinrhode2 commented on #160
edit: added .zip file of demo

[2018-09-08 03:10] devinrhode2 commented on #160
I tried using the router meta.analytics option and that didn't seem to work in FF:
[code]

[2018-09-08 21:39] MatteoGabriele commented on #159
Unfortunately it's already an issue #149 So I will close this one
The problem is that VueRouter creates an empty route object at the beginning and then populates it with routes data. Due to the dynamic imports, this process is slightly slower and doesn't happen immediately so the route appears to have `name` as `null`.
I don't know how to fix it and there's a ticket already open to vue-router repo

[2018-09-08 21:39] #159 closed

[2018-09-08 21:48] MatteoGabriele commented on #160
it's `pageviewTemplate` not `pageViewTemplate` and also you have the `screenview` option turned on. The `pageviewTemplate` only works when using page tracking as the name suggests :)

[2018-09-08 21:48] #160 closed

[2018-09-09 15:04] devinrhode2 commented on #160
Ok cool. Thank you.

There is a reference to pageViewTemplate in the docs, which is why I tried
both pageviewTemplate and pageViewTemplate

On Sat, Sep 8, 2018, 4:48 PM Matteo Gabriele <notifications@github.com>
wrote:

[2018-09-09 15:42] MatteoGabriele commented on #160
Could be a typo, can you link the lines here? Thanks a lot

[2018-09-10 16:55] devinrhode2 commented on #160
Best off searching the docs for case-sensitive "pageViewTemplate", maybe there's more than one?

Looks like removing screenview: true made the hooks in router/index.js fire, but not the ones in main.js.

[2018-09-12 07:39] stmegabit opened #161 "TypeScript support"
Hello, thanks for your work. Could you add TypeScript support by adding [declaration file](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html)?

[2018-09-12 15:49] MatteoGabriele commented on #161
Yeah definitely. I like it!
I'll try this link you sent. Feel free to open a PR if you're more familiar with that

[2018-09-12 23:38] devinrhode2 opened #162 "Not sure if $ga.set is a 1-1 replacement of ga('set' call"
I was quite unsure if $ga.set is a 1-1 replacement of ga('set' call.. I need to do ga('set', pageUrl) to override the page url for all events and everything

[2018-09-13 05:14] MatteoGabriele commented on #162
Yes, it is.

[2018-09-13 05:14] #162 closed

[2018-09-14 06:14] simonguldstrand commented on #108
Any further development in this case? I'm in the same boat.

[2018-09-14 06:32] MatteoGabriele commented on #108
Nope. Been close for 5 months

[2018-09-14 13:35] sebastian-raubach opened #163 "window.ga is not a function"
### Description

vue-analytics causes a `window.ga is not a function` error. No tracking is taking place.

### Expected behavior

No error

### Actual behavior

Error

### Environment

Run this command in the project folder and fill in their results:

`-- vue-analytics@5.16.0`

Then, specify:

1. Operating system:
Windows 10
2. Browser and version:
Chrome 68.0.3440.106

### Reproducible Demo
[code

[2018-09-14 23:19] paolodina commented on #163
same here with ubuntu/chrome 69.0.3497.81 (Official Build) (64-bit)

[2018-09-17 07:11] MatteoGabriele commented on #163
I'm sorry but I can't reproduce it. Please create a small app with essential settings and all the steps to reproduce the error described.

thanks for the feedback :)

[2018-09-17 07:48] sebastian-raubach commented on #163
This repository should show the error:
https://github.com/sebastian-raubach/vue-ga-test

[2018-09-17 20:59] MatteoGabriele commented on #163
@sebastian-raubach the project fails to build because of a missing static folder, but other than that, when I fix that issue, doesn't prompt me any errors about window.ga not defined.
Please double check this reproduction before sending it.

[2018-09-18 06:13] sebastian-raubach commented on #163
@MatteoGabriele  I added the static folder. The I checked it out, ran `npm install`, then `npm run dev`, then checked the browser's web console (Chrome) and there is a `window.ga is not a function` error.

[2018-09-18 06:58] MatteoGabriele commented on #163
I'm sorry but an error in the build is the only thing I see in my console.
I was wondering if you all have some analytics blocker or stuff like this, because I cannot reproduce this error.

<img width="1384" alt="screen shot 2018-09-18 at 8 55 51 am" src="https://user-images.githubusercontent.com/5337152/45669584-cac42580-bb20-11e8-881c-5507c6c45ad0.png">

[2018-09-19 08:15] sebastian-raubach commented on #163
Yes, that was indeed the case. Sorry to bother you with this!

[2018-09-19 08:15] #163 closed

[2018-09-19 10:07] MatteoGabriele commented on #163
No worries :)

[2018-09-21 09:35] dotequiet opened #164 "hi, Whether spa hash is supported"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description
url  like www.xxxx.com/a.html/#/aaa
What are you reporting?

### Expected behavior

Tell us what you think should happen.

### Actual behavior

Tell us what actually happens.

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-analyti

[2018-09-21 10:58] #164 closed

[2018-09-24 08:41] Neptius opened #165 "Use google ads AW-XXXXXXXXX"
Hi, I want to integrate the id ads of google (AW-XXXXXXXXX) on my client web site, here is the code put at my disposal.
[code]
It looks like the default code of UA but he doesn't work. Can I use it with vue-analytics? Is there an alternative?

Sorry for my bad english.

[2018-09-24 18:13] MatteoGabriele commented on #165
I'm not sure about Google integrations betweens Analytics and Tag Manager, I'm sorry, but just looking at this code, this just looks like the new version of Google gtags, so if you need gtags support this plugin doesn't have it yet.

If you need to track your pages, event and so on with google analytics or gtags, then you can just use this plugin with no addition to your HTML and pass your domain

[2018-09-25 06:57] zhougonglai opened #166 "the Plugin 'analyticsMiddleware' still working?"
I noticed that your Articles in dailyjs  the ['Tips & tricks for vue-analytics'](https://medium.com/dailyjs/tips-tricks-for-vue-analytics-87a9d2838915)!
It was great!

![simple code like](https://cdn-images-1.medium.com/max/1600/1*068ZXPrcW0xzvlPsoNp5xw.png)

But it seems a little problem when I use
[code]

Trigger code
[code]

[2018-09-25 07:14] MatteoGabriele commented on #166
It should! which version do you have?

I left this unchanged until version 6, where I'm going to remove it because you can already start using a different approach: less weird, I'd say

[code]

[2018-09-25 07:51] Neptius commented on #165
Thank you for your reply.
If I understood correctly, I just have to integrate the code, which I posted above, on my website with the ID (AW -...) and everything will work?

[2018-09-25 07:54] zhougonglai commented on #166
"5.16.0"
will, You are right, This plugin is unnecessary! thank you

[2018-09-25 08:05] MatteoGabriele commented on #165
if you have to track your website with analytics, you don't have to add all that code, but just add the ID in the plugin options following the instructions in the readme.
the plugin doesn't support the gtag script, so depends what you have to do :)

[2018-09-25 08:06] MatteoGabriele commented on #166
I didn't say the plugin is unnecessary :D
I said that I have made some changes in the code and you can import parts of it directly in you store and use it

[2018-09-25 08:06] #166 closed

[2018-09-25 10:28] Neptius commented on #165
I don't know if I can trust this chrome extension because I have no way to see if everything goes well

[2018-09-25 10:34] MatteoGabriele commented on #165
No, like this is wrong: you are already tracking with Analytics using the UA-xxxx-x code so that's fine, don't need to add another ID there.

For what concerns google tag manager I have no clue cause I actually never worked with it.

Sorry man!

[2018-09-25 10:34] #165 closed

[2018-09-25 12:51] adrienbecker commented on #163
Hi guys,

I have same problem in dev and prod environment on Chrome 69 and Safari 12 but not on Firefox 61 and Safari 12 sometime.

You can check the test here http://vueanalytics.bkr.io

Test create with vuejs webpack template

[code]

It's a real issue or just a crazy random f**k bug !!!

Thanks all :)

[2018-09-26 18:27] adrienbecker commented on #163
Great !
The default value of `disable` option is `false`, so any script is loaded…

[2018-09-26 18:31] MatteoGabriele commented on #163
Hi @adrienbecker
I'm not really following :)
Do you still have a problem and btw yes the default value is false because by default I want the plug-in to work

[2018-09-26 18:35] adrienbecker commented on #163
Hi @MatteoGabriele,
Yes I search anywhere since yesterday but it's good !
Thanks your plugins is very pratique 👍 :)
Best,

[2018-09-26 18:46] MatteoGabriele commented on #163
@adrienbecker thanks a lot :)
cheers

[2018-09-30 11:04] MatteoGabriele commented on #81
@DaxChen I know I know, It's getting late with this feature aahhahahah
I was thinking tho that I might move it directly to the vue-gtag repo that I'm working at. Do you know if tracking.js is compatible with gtag.js?

cheers

[2018-10-02 13:35] antonreshetov opened #167 "Tracker name"
I'm sorry, but how can I add the name of the tracker
https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#name

[2018-10-02 19:41] leo-coco commented on #109
@MatteoGabriele Do you have anyway to check wether the tracking is actually disable or enable ?

I trigger this function

or even tried to write

 in the console but it seems to me that nothing happened. When I check on the real time traffic on Analytics, it is still active.

[2018-10-02 20:31] MatteoGabriele commented on #109
Not really, sorry. Could you try it locally enabling the debug mode? You can have a better insight of what's happening in your application

[2018-10-02 20:45] leo-coco commented on #109
I installed Google Analytics Debug extension to check what is going on -> apparently nothing. Triggering the function `$ga.enable or $ga.disable;`do not affect the state of analytic in the debugger but it does change `window['ga-disable-UA-myID']`

[2018-10-02 20:54] MatteoGabriele commented on #109
Analytics debug is already built-in in the plug-in, but yeah is the same thing.
I can just suggest u to create a repository with this issue so I can have a look. Use vue CLI and add the minimum necessary to show me the problem

Thanks

[2018-10-03 12:59] MatteoGabriele commented on #167
hi @antonreshetov
you can't: I generate that automatically from the domain ID as a unique identifier, whenever an array of ids is passed, otherwise there's no need for a tracker name.

Usually the tracker is useful when dealing with multiple domains so normally you would send an event like this `ga('send', 'event', ...)`, but when you add multiple ids, that calls will become like this `ga('send.do

[2018-10-04 20:28] tstrumfels opened #168 "Full url question"
Not a bug - essentially using this library to replicate google tag manager functionality - purpose is to capture the page being accessed by each logged in user, where my google id and userId values are captured in the global scope (window.ga and window.userId), and setting my custom user_id field.

Vue.use(VueAnalytics, {
    id: window.ga,
    fields: {
        userId: window.userId,
    },
    s

[2018-10-04 20:39] MatteoGabriele commented on #168
hi @tstrumfels
thanks for your feedback. Unfortunately I don't know what could cause this.
Did u check the data sent locally? enable the debug option and check what it is sending to have a better insight.

[2018-10-04 21:57] tstrumfels commented on #168
enabled debug - from what I can tell, in an MVC5 multi-page app, the dimensions of interest that I capture are hostname and pagePath - in the multipage app (not using your library), it includes the appname in the pagePath dimension, so /appname/page1.  However, from your lib, it only grabs /page1.

So then, in the console, behind the scenes it shows: Running command: ga("set", "page", "/page1") an

[2018-10-04 22:01] tstrumfels commented on #168
Digging around (excellent work, btw!), wondering if there's additional config to pass in, maybe pageViewTemplate?

[2018-10-05 05:48] MatteoGabriele commented on #168
Yes probably because I use the route path. You could use the pageviewTemplate and create your own object. Let me know if works for you.

Thanks :)

[2018-10-05 14:01] tstrumfels commented on #168
Matteo,
pageviewTemplate worked like a charm.  Was able to extract applicationName from window.location.pathname, then return as such:

            return {
                page: applicationName + route.path,
                title: document.title,
                location: window.location.href
            }

Thanks for pointing me to the debug api, that was very helpful.  Thanks again for your wor

[2018-10-05 14:01] #168 closed

[2018-10-05 14:20] MatteoGabriele commented on #168
Nice to hear that! :)
Cheers

[2018-10-12 14:39] hmaesta opened #170 ""Location" is always the first loaded page"
I am using vue-analytics with debug enabled.

[code]

I noticed on console that `location` is always **the first loaded page**.

So, if user comes to my website directly by a link (`http://localhost/my-account/`, for example), `location` is always `http://localhost/my-account/`

`page` is changing – thats fine.
But `location` shouldn't always be my domain? (`http://localhost/`, in this case).

<im

[2018-10-16 05:56] thepepperone opened #171 "Screenview are recorded but metrics are zero"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

I'm having issues implementing the screen tracking.
Current setup: Vue + Electron.
Analytics setup: Mobile App Tracking (currently tracking using localhost/standalone )

What are you reporting?

### Expected behavior

Tell us what you think should happen.

### Actual behavior

Tell us what actu

[2018-10-16 05:56] #171 closed

[2018-10-16 06:07] thepepperone opened #172 "Screenview tracking metrics are set to zero"
<Apologies. I accidentally closed the previous issue>

I'm having issues implementing the screen tracking.
Current setup: Vue + Electron (Electron to Chromium).
Google Analytics setup: Mobile App Tracking (currently tracking using localhost/standalone in Electron)

What are you reporting?
Whilst it can track and record, the number of hits on screen views is set to zero.
Here's a sample screenshot:

[2018-10-17 06:55] MatteoGabriele commented on #172
enable the debug mode by adding this properties in your plugin setup

[code]

if you see all your events been fired, then it's all ok and the problem is elsewhere and I can't help you.

[2018-10-17 08:56] MatteoGabriele commented on #170
Hi @hmaesta
I think that location is automatically detected by Google Analaytics, the plugin just fires this event options

[code]
only changes if you have a `base` option in your router instance, then that's prepended as well and probably that's the case for you.

if you have a `base` option but your don't want to prepend it to your analytics events, you can simply turn that off in with this opti

[2018-10-17 12:16] Ganesh-Charpe opened #173 "How to add/inject tracking-id at run-time or dynamically."
Hi,

I am getting the google analytic from a response so I want to add it dynamically. So when we get the google analytic then I want to inject that.
But in this, we have to declare at main.js
Vue.use(VueAnalytics,{}).
And I am getting multiple tracking id's with multiple domain's.

Please suggest how to do that?

[2018-10-17 13:00] MatteoGabriele commented on #173
hi @Ganesh-Charpe
this is probably what you're looking for https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/installation.md#use-functions-orand-promises

Take in mind that in the meantime you are receiving the response you won't be able to track anything because you need a domain ID to track your actions.

Better be a fast call :)

cheers!

[2018-10-17 14:50] hmaesta commented on #170
Hey Matteo. Thank you for replying.
I do not use a `base` option. My app runs on root.

I am checking Analytics reports since I installed `vue-analytics` and everything looks fine – as any other website. So, I don't think this `location` detail should be a headache.

Perhaps this issue can be useful for other people that bothers with `location`: at least for me, there is no problem at all on repor

[2018-10-17 14:50] #170 closed

[2018-10-19 21:20] Eduruiz commented on #163
[http://vueanalytics.bkr.io](http://vueanalytics.bkr.io) gives me the same error I'm having in my project, when using disconnect. `window.ga is not a function`.

[2018-10-22 17:37] MatteoGabriele commented on #172
@thepepperone sure!

thanks for the update.

[2018-10-22 17:38] MatteoGabriele commented on #167
I will close this ticket for inactivity, but feel free to re-open it with more info

[2018-10-22 17:38] #167 closed

[2018-10-23 18:40] adrienbecker commented on #163
@Eduruiz Do you use Chrome ?

[2018-10-23 18:51] MatteoGabriele commented on #163
@Eduruiz I'm 99% sure you have an ADs or Analytics blocker.
Please check first on a private browser :)

thanks

[2018-10-23 18:57] adrienbecker commented on #163
Right ! Ghostery extension for me, ADs don't disrupt ga script

[2018-10-23 21:01] Eduruiz commented on #163
@MatteoGabriele it is, disconnect or ghostery block google analytics scripts, but I think we should test if window.ga exists before calling it to avoid trowing errors when users have this kind of blocking scripts. Google Analytics "per se" does it.

[2018-10-24 12:04] alangrainger commented on #156
Here's a couple of ways I'm currently doing this, until the package supports it:

`ga.getAll()[0].get('clientId');`

And if you have more than one property:

`function() {
  try {
    var trackers = ga.getAll();
    var i, len;
    for (i = 0, len = trackers.length; i < len; i += 1) {
      if (trackers[i].get('trackingId') === "ID-PROPERTY") {
        return trackers[i].get('clientId');
      }

[2018-10-24 13:30] neorganic commented on #62
``` Vue.$ga.set('dimension1', 'Level 1')```
or ``` Vue.$ga.set(field: 'dimension1', value: 'Level 1')``` In current version?

[2018-10-24 13:49] neorganic opened #174 "[Q] How to set/send custom dimensions variables?"
My custom dimensions don't seem to be passed to GA - judging by tag manager, chrome dev tools requests query strings params or by the GA web app itself.

I've tried setting the custom params like:
[code]

also
[code]

when  `set` is being imported ```import { set } from 'vue-analytics'```

also :
[code]
But all resulted in zero effect and zero console errors.

The event itself works well - I am us

[2018-10-25 07:12] MatteoGabriele commented on #163
@Eduruiz Google as way more control on his product, I cannot throw an error if `window.ga` is undefined because it will be so a lot of time, especially in SSR applications and during the script loading state.

I'll see what I can find, but probably this is just the way it is.

Hopefully this ticket will provide enough information to the developer to not freak out if it doesn't work.

[2018-10-28 11:46] MatteoGabriele commented on #174
https://developers.google.com/analytics/devguides/collection/analyticsjs/custom-dims-mets these are the official API examples for custom dimensions.

always set the `debug.enabled` to `true` in your plugin setup to see if the informations are sent: if it's all sent in the debug tool, then I cannot make any difference.

if the issue persist and you can re-create it, then I suggest you to create a s

[2018-10-28 11:46] #174 closed

[2018-10-29 10:31] drosendo opened #175 "QUESTION, Cant find analytics.js being loaded... ?"
Im sorry Im missing something here..

[code]

With debug TRUE I can see on my console the  $this.$ga.event and also the this.$ga.ecommerce.addTransaction getting fired, but this ones (this.$ga.ecommerce) are not showing up on the google analytics (I have ecommerce turned on at analytcs). the  $this.$ga.event show up on analytics.

What I dont find is where is the analytics.js loaded? I cant find i

[2018-10-29 10:31] theindra opened #176 "Tracker is created twice"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

I have a html page that includes Google Analytics and a vue.js app that uses vue-analytics.
When I test the page I see that vue-analytics tries to create a second tracker and analytics shows a warning that the second call will be ignored.

![image](https://user-images.githubuse

[2018-10-29 10:49] MatteoGabriele commented on #176
In the documentation I specify that I cannot remove trackers.
Do you have access to your HTML?
Maybe you can remove the trackers or just remove your script loader.

https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/script-loader.md#important

[2018-10-29 10:55] MatteoGabriele commented on #175
No you don't have to add any scripts.
When debug is turned on, analytics.js is not loaded because I load the official debug script from Google Analaytics called analytics-debug.js.

your data is not on Google Analytics website because you have `sendHitTask` on false. What this check does is only shows you in your local environment that events are fired, but it doesn't really send them to Analytics

[2018-10-29 10:55] #175 closed

[2018-10-29 11:04] drosendo commented on #175
Awsome, thanks for the clarification,will try it.

Cheers,
Great work!

[2018-10-29 11:39] theindra commented on #176
Thanks for your quick answer.

Yes I read that. But I thought you don't need to create a new tracker if one exists. So not removing existing trackers but using them.
I have access to the html but the vue.js app is loaded async and we need the GA-tracking on the html pages as soon as possible. If tracking would only be available as soon as our vue.js app is loaded it would be too late.

Any idea ho

[2018-10-29 12:00] MatteoGabriele commented on #176
I could try gather trackers and use them, but I'm not sure about the result and I don't have time right now, so won't be a fast fix, I think

[2018-10-29 12:02] theindra commented on #176
Thank you for the update...
Probably we find some time to help you here.

[2018-10-29 12:35] MatteoGabriele commented on #176
That would be awesome :)
Thanks

[2018-10-30 07:58] gksmf5310 opened #177 "Does not apply in chrome-extension"
Hello, I want use to analytics.js to my chrome-extension.
But it seems that it is not applied better than I thought.

The following is part of the file that initializes vue.
[code]

And in the vue script we entered the event as below.

`this.$ga.event('category', 'action', 'label', 123)`

There was no compile error. However, on Google Analytics pages, data is not being played.

Although guide seem

[2018-10-30 08:40] codeofsumit opened #178 "How to set userId?"
I'm having trouble setting the userId.

In my `main.js` I have this:

[code]

I tried setting the userId from the `LOGIN` action in vuex but I'm getting an error after using the imported `set` function from `vue-analytics`. But I still don't know how to do it from `main.js`.

I considered "installing" VueAnalytics *after* I have the userId but that would mean the plugin is installed multiple times

[2018-10-30 08:47] codeofsumit commented on #178
Ok I found this: `Vue.$ga.set('userId', user.uid);` - is that the preferably way of using it in Javascript files like `main.js`?

[2018-10-30 09:05] MatteoGabriele commented on #178
Yes. You can also use the set array in the plugin setup, it u prefer, but is not possible to add a promise so it needs to be synchronous.

User id can be set at any time

Always look at the documentation first :)

[2018-10-30 09:05] #178 closed

[2018-10-30 09:07] MatteoGabriele commented on #177
Turn on the debug mode in the plugin, which uses analytics-debug.jsand if your data is displayed there, then it's correct on my side and I have no control over it

Thanks for your feedback tho :)

[2018-10-30 09:07] #177 closed

[2018-10-30 09:10] codeofsumit commented on #178
@MatteoGabriele Of course! I couldn't find it in the docs - I searched the issues for `userId`, that's when I found this. On which page is this documented? I looked at

* Get Started
* How to load
* v-ga
* Set
* vuex

[2018-10-30 09:53] MatteoGabriele commented on #178
The set one was probably the right one for you

[2018-10-31 02:50] gksmf5310 commented on #177
@MatteoGabriele There was the same issue before. https://github.com/MatteoGabriele/vue-analytics/issues/50

`this. $ ga.set ('checkProtocolTask', null);`
I put the code above and solved the problem.

So, is there an option to put that code in the process of initializing VueAnalytics?

[code]

[2018-10-31 06:08] MatteoGabriele commented on #177
Yes, u can use this option here https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/set.md#set-multiple-fields-before-first-hit

[2018-10-31 06:55] gksmf5310 commented on #177
Thanks to you, the problem has been solved. Thank you very much :)

[2018-10-31 07:02] MatteoGabriele commented on #177
It's a pleasure :)

[2018-11-13 10:19] ThomasKientz opened #179 "ready () not firing"
The ready hook is never fired :

[code]

Analytics are working fine (receiving hits, and logs with debug mode).

Any ideas ?

[2018-11-13 12:46] MatteoGabriele commented on #179
yep, you are right!
In a refactor I did I apparently forgot to add it back and i wasn't tested.

sorry for that

I'll add it back asap

cheers!

[2018-11-19 06:16] sachaw opened #180 "Auto tracking not working correctly"
After injecting directly into my router for auto tracking, google analytics reports all page hits as whatever the app was loaded on, independent of whatever route the user moves to. i.e:
user loads app at `/`
user navigates to `/about`
google analytics gets 2 hits for `/`
the same behavior can be observed for any route.

here is a sample of code that replicates the aforementioned issue:
https://pa