[2018-11-20 05:58] reneecampanilla commented on #137
I had the same problem. I fixed it by adding trackEvent and set it to true.

`Vue.use(VueAnalytics, {
  id: 'UA-128771822-1',
  trackEvent: true
});`

It displays in the Real Time >> Events page now.

[2018-11-22 21:56] MatteoGabriele commented on #180
Hi @sachaw I'll try to replicate this asap.
Possible issue could be the fact that you're loading components asynchronously, but it shouldn't be the case.

thanks for the feedback

[2018-11-22 21:57] MatteoGabriele commented on #172
I'm closing for inactivity

[2018-11-22 21:57] #172 closed

[2018-11-22 22:04] MatteoGabriele commented on #180
/remind

[2018-11-25 08:38] ThomasKientz commented on #179
@MatteoGabriele Hi mate, just to let u know that I am waiting for this one ;)

[2018-11-25 20:36] MatteoGabriele commented on #179
I'll do it right away. Didn't have time these days, sorry

[2018-11-25 21:36] MatteoGabriele commented on #179
never mind! I have some weird issues in my machine and node is not working... very nice when you want to do a quick fix ahahahhaha

i'll check tomorrow hopefully

[2018-11-27 08:19] #179 closed

[2018-12-01 09:59] nikugogoi commented on #163
hi @MatteoGabriele , thanks for the really cool plugin....
So here is a case when google-analytics script doesnt load

**main.js**
[code]

**index.html**
[code]
In such a scenario the google analytics script doesnt load due to `checkDuplicatedScript` flag
it can be observed in slow network... so turn down the network speed if working in local

[2018-12-01 10:03] MatteoGabriele commented on #163
Thanks man! :)
Can u be more specific, I don't think I understand the problem

[2018-12-03 04:52] zhougonglai opened #182 "How to find the field `exception` and `field` in the analytics ?"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

I have 2 fields although records but have been unable to find ! `exception` and `field`

### Expected behavior

Should find the corresponding record in analytics!

### Actual behavior

Can find only ` time ` and `event`

### Environment

Run this command in the project folder a

[2018-12-06 19:50] BenjjinF commented on #71
Handling being blocked by AdBlock in regards to onAnalyticsReady() could be generally useful though.

Can't catch the error on it.

[2018-12-10 08:22] MatteoGabriele commented on #182
hi @zhougonglai
I'm sorry but I don't understand what's the problem

[2018-12-10 13:57] zhougonglai commented on #182
I realized that some of the API does not seem to have any practical effect. like `field` and `exception`

[2018-12-12 07:38] shawhu opened #184 "Ecommerce gives error says Plugin "ec" does not have method "addItem"."
### Description
"ec" does not have method "addItem".

### Expected behavior
not giving error
and the ecommerce message sent

### Actual behavior

Tell us what actually happens.

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-analytics`:
npm ls vue-analytics
gatest@1.0.0 /Users/shawhu/Projects/elephant/gatest
└── vue-analytics@5.16.1
Then, specify:

[2018-12-12 07:42] MatteoGabriele commented on #184
That's strange, didn't touch that feature for a while. Thanks for the feedback, I'll have a look asap

Cheers

[2018-12-12 07:44] shawhu commented on #184
trying to upload a zipped proj for testing
[gatest.zip](https://github.com/MatteoGabriele/vue-analytics/files/2670890/gatest.zip)

[2018-12-12 07:44] MatteoGabriele commented on #180
I'll close this one for inactivity, but please open it again when you have a repository with a  reproduction ready

[2018-12-12 07:44] #180 closed

[2018-12-12 07:48] shawhu commented on #184
Many thanks!

[2018-12-17 12:02] jakubjanuzik commented on #184
Hey, I do have the same issue in a project I participate with

apparently this line is not called:
`ga('require', 'ecommerce')`

After I've done such a thing in a debugger, it works just fine.

More info https://developers.google.com/analytics/devguides/collection/analyticsjs/ecommerce#loadit

[2018-12-17 12:10] jakubjanuzik commented on #184
@MatteoGabriele
Removing `enhanced: true` helps, but then you probably won't have access to the enhanced API.

[2018-12-17 16:32] mystrdat commented on #109
Same issue here, but I don't see the module switching `window['ga-disable-UA-myID']` correctly.

[2018-12-19 06:52] shawhu commented on #184
better than nothing, thanks @jakubjanuzik

[2018-12-19 10:05] MatteoGabriele commented on #184
Thanks for the workaround! Unfortunately I'm out of town and without laptop so you have to hold you breath for a couple more weeks.

Cheers!

[2018-12-27 17:29] derevandal opened #185 "GA Lite"
Hi, is there a way to use [ga-lite](https://github.com/jehna/ga-lite) instead of official?
Even changing `customResourceURL` to my local `ga-lite`'s script, doesn't work because `ga-lite` uses `galite()` function instead of `ga()` function.

[2018-12-31 08:16] MatteoGabriele commented on #185
No, I'm sorry but this is not possible. I'm always using ga library and also would an update that at this point I'm not going to do because I'm working on moving the project from the analytics.js library to gtag.js

thanks

[2018-12-31 08:16] #185 closed

[2019-01-01 11:39] rominf commented on #47
@MatteoGabriele, I need to track outbound links too. What do you think about moving the code from your comment to the codebase?

[2019-01-07 02:07] jamiecarter7 opened #187 "Does this.$ga.enable() fire a pageview?"
So this is a question, not a bug report.

I've been playing with the new GDPR settings on my website, and I just want to confirm, that up until the accept button is pressed on my GDPR notice, and `this.$ga.enable()` is run. The app does not collect any data?

[code]

Also can I confirm that on `this.$ga.enable()` being run the plugin does not send a pageview for the page currently being browsed?

[2019-01-07 21:18] MatteoGabriele commented on #187
Confirmed. When `disabled` is true by default, nothing is collected.
When you re-enable it, nothing happens until the next action.
If you would like to trigger the current page the user is in when he accepts the privacy policy, then you need to trigger that yourself.

hope it's all clear

Cheers :)

[2019-01-07 21:18] #187 closed

[2019-01-07 22:38] jamiecarter7 commented on #161
I used the code from this tutorial and it seems to work well, I did add 2 extra lines for the new disable and enable functions

[code]

[2019-01-07 22:41] MatteoGabriele commented on #161
I was actually just now looking at it but I was wondering if it's enough to create a folder types and throwing this file in or I have to do something else

[2019-01-09 10:08] basvangeffen commented on #130
Maybe I misunderstood the issue @darkylmnx addresses, but it sounds like its about (not) removing the event handler on unbind. I was worried about that specific issue, but after looking into this, it seems like Vue takes care of this. See [this discussion and issue](https://github.com/vuejs/vue/issues/314) for an elaborate explanation -- in particular the last few comments.

[2019-01-10 06:43] darkylmnx commented on #130
@basvangeffen well it seems that there's no final answer on this as on the Vue forum, Linus was sayinf it's better to remove events, but I guess it's more about non DOM-reated events, things like events on window or on the document, events not on the directive root node or it's children so yeah, for this issue it's no more accurate.

[2019-01-13 00:20] bluelovers commented on #161
a lazy way is try rename all { .js => .ts }
and add this into `tsconfig.json`

[code]

then typescript will auto create `.d.ts` from your `.ts` file

---

and remember add follow code into `.npmignore`

[code]

[2019-01-16 16:49] ericcirone opened #188 "During bootstrap, collectors() should be called before untracked()"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

In a mounted() function of a component i have a ```$ga.event``` being fired. In the instantiation of vue-analytics i have sets, like anonymizeIp,  being set. When I look at the google analytics debug console, the event is being fired before the set is being applied resulting in

[2019-01-17 13:59] QuantumInformation opened #190 "vue-analytics always reports no page hits on google analytics"
I have issue with vue-analytics

### Description

I have this site in GA

![image](https://user-images.githubusercontent.com/216566/51323313-18698400-1a68-11e9-9a27-c086996a1778.png)

and use it like this

[code]
But I never see any hits, the live deployment is here:

http://quantumjs.com

### Expected behavior

page tracking

### Actual behavior

I expect to see page views, not nothing like this:

[2019-01-17 14:00] QuantumInformation commented on #104
I used the router and have the same issue on google cloud

https://github.com/MatteoGabriele/vue-analytics/issues/190

[2019-01-19 19:21] mnording commented on #184
@MatteoGabriele  have you had any time to investigate this?

[2019-01-21 22:12] nicholasjhs opened #191 "Event Tracking 101 (how to)"
Hi all,

I am trying to fire off an event tracking on a form submit, but it doesn't seem like it's working.

main.js

`Vue.use(VueAnalytics, {
  id: ['UA-XXXXXXXX-X','UA-YYYYYYYYY-Y'],
  router,
  trackEvent: true,
  // debug: {
  //   enabled: true
  // },
});`

I think this setup is okay, but I'm not sure if I'm doing the right thing in my component.

form.vue

`this.submit({form: formattedForm,

[2019-01-21 23:12] #188 closed

[2019-01-22 14:13] nicholasjhs commented on #191
The events didn't appear in real time, but it now seems to be working (Behaviour -> Events). I think the addition of "trackEvent" did the trick. Thank you

[2019-01-22 14:13] #191 closed

[2019-01-23 19:32] aislerGitHub commented on #149
@MatteoGabriele: any news regarding this issue? I have the same issue and I don't see any useful feedback on the other ticket

[2019-01-26 07:47] jahvi opened #192 "Enhanced analytics not being tracked when using vue-router"
### Description

Enhanced Ecommerce events are not being reported to GA when using vue-router, looks like the problem is the order in which events are being ran.

Right now using vue-router and vue-analytics on their own works fine, it will automatically trigger the `pageview` event when router change, however for enhanced ecommerce GA expects the `pageview` event to run **last**, after the ecomme

[2019-01-26 17:51] rominf opened #193 "Handle outbound links in <router-link>"
I propose to make it possible to send outbound links to Google Analytics. For example, I put:
[code]
When the user clicks to this link, the browser opens http://localhost:8081/#/https://google.com/, router understands that this is the external link, sends an event to Google Analytics and redirects to the https://google.com/.

I really need this feature and I don't know how to implement correct out

[2019-01-27 04:38] rominf commented on #193
Related: https://github.com/vuejs/vue/issues/9378, https://github.com/vuejs/vue-router/issues/1280

[2019-01-27 13:18] rominf commented on #193
I implemented what I wanted. If someone is interested, I can extract the code. But anyway, it's better to implement this in the plugin.

[2019-01-28 15:34] Dadibom commented on #190
You told it to not send the hit
`sendHitTask: false`
Remove the line or set it to true to send the event

[2019-01-28 15:35] QuantumInformation commented on #190
I thought that was just to disable local hosting hits?

[2019-01-28 16:02] Dadibom commented on #190
That's what it was implemented for. Set `sendHitTask: false` *in development* to avoid sending hits.

[2019-01-28 16:02] Dadibom commented on #190
It won't check your `window.location.host` for you

[2019-01-28 16:07] QuantumInformation commented on #190
That would be a nice feature
--

Kind regards

Nikos Katsikanis

[2019-01-28 16:10] QuantumInformation commented on #190
I done this thx!

    sendHitTask: window.location.hostname === "localhost" ? false : true

[2019-01-28 16:10] #190 closed

[2019-01-29 08:00] mstrofbass commented on #93
Just ran into this issue. Is this noted anywhere in the docs? If not, can it be added (e.g., to the v-ga page)?

[2019-01-29 08:07] MatteoGabriele commented on #193
can't you just make a component out of it just for you outbound clicks and that one automatically checks fires the google event and redirect to the link?

[2019-01-31 18:14] himberjack opened #194 "Less sessions than new users"
### Description

In GA, we see sessions/users ~0.5 but we barely have returning users.
Seems like something is wrong as only 1 sessions per 2 users is being counted.
We ran the debug tool of GA and it looks fine: ga('set', xxxx) and then ga('pageview', xxxx).
We are not sure why this happens,

### Expected behavior

We expect to be around 1 sessions per user ratio

### Actual behavior

We have sig

[2019-02-01 07:15] MatteoGabriele commented on #194
I am sorry but if events are fired and in the correct order then the plug-in is working. Everything else is not in my control and I don't know how to help you, tbh.

This is just a wrapper for Google analytics, not the actually Google analytics library :)

[2019-02-01 07:15] #194 closed

[2019-02-02 05:54] himberjack commented on #194
Thanks @MatteoGabriele however this is not quite true. The GA plugin fires ga.create on every page load on a non-SPA, this is probably creates the session start event. Here, when we move around routes, we only have set(page) and send(pageview) but no create event

[2019-02-02 08:34] MatteoGabriele commented on #194
I'm doing what's written in the guide
https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications

If you find some mistakes, you're more than welcome to let me know :)

Thanks

[2019-02-08 23:11] dijs commented on #94
@psnoonan Did you ever figure out a fix to this issue? I am seeing the *exact* same problem but in a React project.

Please let me know if you found a solution.

[2019-02-08 23:25] cspeer commented on #94
Sorry no I didn't @dijs. I had to switch to a different plugin. https://github.com/ScreamZ/vue-analytics

[2019-02-09 01:25] psnoonan commented on #94
@dijs No I didn't. If I remember correctly, I moved back to a previous version that worked.

[2019-02-18 14:44] frankoostrum commented on #193
@rominf I'm running into the same issue. Care to share your solution?

[2019-02-19 11:57] rominf commented on #193
@frankoostrum, I can share the solution at weekend.

[2019-02-24 05:48] rominf commented on #193
@frankoostrum here is the solution I use right now:

1. Initialize VueAnalytics as described in the documentation.
2. Extend `Vue.prototype`:
[code]
3. Add `Redirect.vue` page template. Put anything you want inside, but probably you want just add this function:
[code]
4. Adjust `routes.js`:
[code]
5. Use `<router-link>` like this:
[code]

That's it. @frankoostrum, looking for your feedback.

[2019-02-26 15:36] frankoostrum commented on #193
@rominf Thank you for this. Works like a charm.

As for the feedback, maybe you can change the `Vue.prototype` extension to regular JS to make it useful for more people. Also the `router-link` example should have some innerHtml.

[2019-02-26 16:00] rominf commented on #193
@frankoostrum, thank you for feedback. I made a fix.

[2019-02-26 16:12] frankoostrum commented on #193
@rominf One downside though is that now outbound links show up as both events and pages (since you direct to http://www.example.com/#/https://www.google.com which ga registers as page.

[2019-02-26 17:29] rominf commented on #193
Thank you for noticing. Do you have a workaround?

On Tue, Feb 26, 2019, 19:12 Frank <notifications@github.com> wrote:

[2019-03-04 08:17] zisuzon opened #198 "GA ecommerce command firing order of ecommerce:addTranscation and ecommerce:send"
### Description

I've placed ecommerce vue-analytics code on mounted hook with some business logic so that whenever the thank you page load, it will send report to GA. But the *ecommerce:addTranscation* command is firing after the *ecommerce:send* command on page reload (The thank you page after the payment done). As a result, it's not submitting any report to GA. (I found the command firing order

[2019-03-06 03:08] mrodrig commented on #137
I was running into an issue with getting events working and figured I'd post here with what my issue was in case it helps someone else down the road... I was sending a string for the `value` field, but per Google Analytic's help docs, the `value` must be an integer (https://support.google.com/analytics/answer/1033068?hl=en  - scroll down to the Value section). When sending a String, I wasn't seein

[2019-03-09 15:45] MatteoGabriele commented on #198
there's a typo in your script `this.this.$ga.ecommerce.send()` with a double this
also it's not really possible that the plugin decides which one to fire, if you fire one first and the other one second, that will be the flow.

provide an easy reproduction if you really are experiencing this

[2019-03-09 15:48] MatteoGabriele commented on #149
apparently no one cares about this issue so I'll close this ticket, I can't do much and so far only 2 people had it so... will see

cheers

[2019-03-09 15:48] #149 closed

[2019-03-09 22:44] Hydrog3n commented on #149
Nope I have too. :)

[2019-03-09 22:48] MatteoGabriele commented on #149
@Hydrog3n "nope I have too"? what does it mean?
also why thumbs down? it's a third party issue, it core team doesn't fix it I have no clue and I hate to keep this ticket open for no reasons

[2019-03-11 23:08] nztomas opened #200 "Property '$ga' does not exist"
I can't make it works on my cli3 vue2 typescript spa. I don't use router, so I just defined the vue dependency:

const VueAnalytics = require('vue-analytics').default
Vue.use(VueAnalytics, {
  id: 'UA-somenumbers',
});

If I leave it like that I was expecting to get GA hit on page load (that doesnt happen but I can googleanalytics.js is downloaded).

So I try to use this.$ga in my components but I

[2019-03-12 00:20] nztomas commented on #161
@jamiecarter7 I followed your steps (and also steps from that Japanese page) but still can't access this.$ga in my components - any idea why?

[2019-03-12 01:26] nztomas commented on #200
Okay you can close - I found out in other issue how to setup typescript version and types, works fine after that, would be great to get the typescript support officially though as I've spent almost day getting it work ;/

[2019-03-12 01:26] #200 closed

[2019-03-12 01:27] nztomas commented on #161
Okay found it - stupid vscode was complaining but the app was actually working fine. I just had to restart VSCode to reload *.d.ts

Thanks

[2019-03-19 04:57] kimyearho opened #201 "Electron vue support?"
Hi,
I have a question.
My project uses Electron4 + Vue 2.x + Webpack4.
The build process uses ElectronBuilder.

It is normally tracked during the development phase, but if you build it with Production, it will not be tracked. Is there any solution or support for this?

[code]
Thank

[2019-03-19 08:57] #201 closed

[2019-03-20 17:58] jonorozcoc opened #202 "Don't send data on development environment"
In order to keep Google Analytics production data as clean as posible the library has to detect the environment where is running. There are many ways to do that.

The most accurate way is using hot-reload window variable that is not present in production build.

If you want to test library usage, it could be added an option called "test" (Boolean) if true it bypass environment detection.

I can se

[2019-03-28 19:50] shanestillwell commented on #202
@jonorozcoc why not just remove the Google Analytics tracking id in development? It should be an environment variable anyway.

[code]

[2019-03-28 20:00] MatteoGabriele commented on #202
There's already a way of turning on and off data sending: just using the debug property `sendHitTask`

There is literally a link in the Readme called "Turn off during development"

https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/turn-off-development.md

[2019-03-28 20:00] #202 closed

[2019-03-28 20:06] MatteoGabriele commented on #182
This is the link to the available fields you can use: you cannot create your own

https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference

[2019-03-28 20:06] #182 closed

[2019-03-28 20:06] MatteoGabriele commented on #198
closed due to inactivity, please open it again in case of a reproduction

[2019-03-28 20:06] #198 closed

[2019-03-28 20:09] MatteoGabriele commented on #192
Sorry! I didn't see this ticket before.

I will have a look asap. Let me know if you still have this problem @jahvi
Sorry again for the long wait

[2019-04-03 11:09] sgtfrankieboy opened #203 "Support Promises (async) on beforeFirstHit and ready"
I was wondering if there is a possibility of support promises on the `beforeFirstHit` and/or `ready` methods. I need it to set a dimension for the logged in user, preferably right before the first pageview is send. It's a User scope dimension so the session information will be overwritten/set on their second page view, but its important to not miss the first pageview hit.

Here is an example of ho

[2019-04-04 15:02] Dadibom opened #204 "beforeRouteEnter with delay causes duplicate page views"
### Description

When using routes with beforeRouteEnter and a delay before next is called (for example the api call necessary to populate the page), there will be an initial page view tracked as the url `/`

This only happens on the initial load of the page

### Expected behavior

Only the second (correct) page event should be sent

### Actual behavior

two events are sent, and the first has the

[2019-04-07 21:01] mrwwalmsley opened #206 "Make the documentation clear that page views with router object won't work for paths in ignoreRoutes"
I added several of my pages to ignoreRoutes so that I could manually trigger page views for those pages.

Then I used `this.$ga.page(this.$router)` to trigger page views for those pages. This didn't work, since they were in `ignoreRoutes`.

Perhaps the documentation should make this clear?

[2019-04-16 12:48] hrishikeshpaul opened #207 "Event Tracking not getting registered on Google Analytics"
### Description

Hi, I am not sure if I am doing it the right way, but there is a problem I have encountered while trying to register events. So I am trying to track the clicks of a button (very basic). I have installed `vue-analytics` and set it up just like the documentation has said. I have `debug` set as true for me to see the outputs.

### Expected behavior

The `eventCategory`, `eventAction`

[2019-04-16 15:57] lludol opened #208 "Lighthouse performance"
### Description

Lighthouse told me that Google analytics is not well loaded when I use your plugin.

### Actual behavior

Here is the Lighthouse "error":
[code]

Here is the Google documentation: https://developers.google.com/web/fundamentals/performance/resource-prioritization#preconnect

They told us to "just" add ```preconnect``` attribute like this:
[code]

Thank you if someone can fix it. If

[2019-04-16 16:30] MatteoGabriele commented on #208
Thanks! A PR would be nice, I'm currently out of town :)

[2019-04-17 05:01] hrishikeshpaul commented on #207
Hey, so I found out that the events **do** get registered in Behaviour -> Events. Its just that it takes a couple of hours. This method definitely works!

[2019-04-17 05:02] #207 closed

[2019-04-22 03:59] japhfortin opened #210 "How to implement google analytics on vue app on multiple domains?"
I have multiple domains that use the same files (from git master branch). Now, I want to implement google analytics on each domain.

I've tried this vue-anlaytics package multiple domain tracking (see link - https://medium.com/dailyjs/tips-tricks-for-vue-analytics-87a9d2838915#7ead) but the problem is whenever I try to visit domain1.com. It also registers on the domain2.com google analytics dashbo

[2019-04-22 06:58] MatteoGabriele commented on #210
The multiple domain tracking is exactly that: you add an array of IDs and they will all register the same things. Multiple tracking doesn't mean that it is going to detect in which domain it is and fire only one of them.

You need to add your personal logic for that, it's a fairly easy check :)

[2019-04-22 06:58] #210 closed

[2019-04-22 07:02] japhfortin commented on #210
Thanks! I've solved it by using an environment variable.

[2019-04-22 07:03] MatteoGabriele commented on #210
Perfect solution

[2019-04-30 11:24] miskomv opened #211 "Change analytics ID in subdirectory [help wanted]"
Hi, i have a SPA in a url like this:
http://www.domain.com

And i have a different SPA in a subdirectory, like this:
http://www.domain.com/subdirectory

How can i change Analytics ID ( UA field ) to be different in the subdirectory ¿?

[2019-04-30 12:47] MatteoGabriele commented on #211
If you have two different builds, I would you an environment variable and then switch ID based on that, otherwise you might need to read your URL and detect if you're under the "subdirectory" and switch from there

[2019-04-30 12:47] #211 closed

[2019-05-02 11:41] Yusadolat commented on #2
Hi @MatteoGabriele I think the point he's trying to make is to have the Analytics report display on a component. Getting the report from google analytics and display it on a vue component.

[2019-05-02 11:41] Yusadolat commented on #2
Is there a way to g around that @MatteoGabriele

[2019-05-02 11:47] Yusadolat opened #212 "Displaying Analytics Report on on Component"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description
Displaying analytics report on Vue Component
What are you reporting?
I'm asking fo feature if it doesn't work the way asked
### Expected behavior

Tell us what you think should happen.
I will like to display some of what i see on google analytics on part of my vue components.
##

[2019-05-02 12:12] MatteoGabriele commented on #2
The main purpose of this component is to send data, not displaying it.
It would be out of its scope

Thanks for the suggestion tho

[2019-05-02 12:50] Yusadolat commented on #2
Thanks for the reply @MatteoGabriele. Is there a way to go about this?

[2019-05-08 11:21] lluisltk commented on #204
We run into the same problem where we were randomly seeing initial `/` events for users landing on non-home pages.

It seems like at bootstrap time for _pageviewOnLoad_ , the code is often obtaining the `router.currentRoute` set to `/` on a race condition before the Vue Router it is _ready_.

We are evaluating the following fix in the `src/lib/page.js:83` file where we added `&& router.history.rea

[2019-05-08 23:15] josh-king opened #213 "Programmatically disabling/enabling tracking"
### Description

My current build is using nuxt.js - I have tried the specific wrapper module but it seems to produce the same issue. Whenever I try to disable on the fly and then check the real time tracking I can still see a user connected and all the page events that user is sending.

### Expected behavior

When disabling using the 'this.$ga.disable' call, K should not longer be able to see a u

[2019-05-08 23:17] josh-king commented on #213
* programmatically

[2019-05-09 06:08] MatteoGabriele commented on #213
no you shouldn't. the command turns off analytics using its own global variable and all events are aborted.
You can see the code here
https://github.com/MatteoGabriele/vue-analytics/blob/master/src/no-ga.js#L9

[2019-05-09 08:13] josh-king commented on #213
Thanks for the reply - I'll get a build up and running soon - however until then do you have a project where this is working?

[2019-05-09 08:17] MatteoGabriele commented on #213
No I don't, but last time I check was working and I never touched that part again since the first time I published it

[2019-05-09 08:23] josh-king commented on #213
Okay - it may be how nuxt loads the plugin as the tracking code is defined in the plugin file which if I'm correct is loaded once as the start

[2019-05-09 08:28] MatteoGabriele commented on #213
Yeah I'm not super sure about Nuxt. I personally never used it, I just made that wrapper plug-in but this plug-in came first and I always develop it based on a normal non-ssr application, even if I try to be ssr friendly.

[2019-05-09 08:29] MatteoGabriele commented on #213
Your reproduction should be based on a simple as possible Vue app. Basic Vue, no Nuxt. If you have Nuxt specific issues you might want to drop it in the other repo and I'll take it from there but it's quite tough to make "everyone" happy sometimes

[2019-05-09 08:35] josh-king commented on #213
Sure no problem - I have added a bug report on the nuxt module version, however, now that I look over it again, I can see it has been reported a couple of times that programmatically disabling/enabling is not working (just not reported correctly)

[2019-05-09 08:41] josh-king commented on #213
https://github.com/nuxt-community/analytics-module/issues/49#issue-441740887

Link to the issue raised on the module wrapper

[2019-05-09 14:40] lluisltk commented on #204
@MatteoGabriele , @Dadibom , we have opened a pull request with the above fix that solved this issue for us. Let us know what you think. Thanks!

[2019-05-16 11:32] handplant opened #215 "Is it possible to get the settings in a component?"
I would like to know if ga is disabled or enabled.

[2019-05-16 15:39] homerjam commented on #85
This still seems to be an issue 🤔

[2019-05-16 15:43] MatteoGabriele commented on #85
@homerjam what version you have?

[2019-05-16 15:44] homerjam commented on #85
`5.16.4` - I'm using via the official Nuxt.js Google analytics module

[2019-05-16 18:56] MatteoGabriele commented on #85
I do need a reproduction to check tho. Something easy done with a simple Vue app. No Nuxt.
Then if works without Nuxt we will isolate the problem

[2019-05-25 12:11] Amareis opened #216 "Query params with value "undefined""
### Description

Simple showcase:
`<v-btn :to="{name: 'someRoute', query: {param: undefined}}">Button</v-btn>`
Vue router forms right query string (without `param` entirely), but in GA this page shows with `param=undefined`
![image](https://user-images.githubusercontent.com/4806617/58369088-17ad9680-7f0f-11e9-98c4-9345d510bf15.png)

### Expected behavior
Page route in GA match the vue-router one.

[2019-05-27 05:39] nieroda opened #217 "Catching 'window.ga is not a function error'"
What are you reporting?

If the user is using an adblock / track block this error will throw.
vue-analytics.js?0183:1 window.ga is not a function

Is it possible to catch it so we know that the user is using blockers? I tried wrapping it in a try catch to no avail.

[2019-05-27 06:02] MatteoGabriele commented on #217
I also ask myself why there's a template for issues and nobody ever uses it.
Btw tell me which version you have.
This ticket should also already be around cause I remember it

[2019-05-27 13:22] nieroda commented on #217
Sorry - I thought of it less of an issue and more of a feature request since it all works as advertised

[2019-05-28 16:01] MKRazz opened #218 "Make existing GA detection more strict"
The check for existing Google Analytics is a bit vague and can easily cause false positives.

https://github.com/MatteoGabriele/vue-analytics/blob/0809338d490508b5c328f7f6facd0201a1b1d5ad/src/helpers.js#L45-L54

A site I loaded this plugin on has 'analytics' in the host name and it caused GA not to load 😅.

[2019-05-30 19:27] MatteoGabriele commented on #218
uh! will check a better one thanks

[2019-05-30 19:28] MatteoGabriele commented on #216
but why would you pass underfined as a querystring value?

[2019-05-31 06:46] Amareis commented on #216
![image](https://user-images.githubusercontent.com/4806617/58686847-63da5a00-8399-11e9-885a-972eea329ea8.png)
Just for shortening

[2019-06-04 08:26] MrMoins opened #220 "Conflict with already loaded analytics script"
I made a embeddable widget and I want to track events in it.
When the widget is embedded on a website not using Google Analytics all is fine, tracking is done correctly.
But when the website is already using Google Analytics tracking in widget does not work anymore, events are fired on website property.
I try to instantiate with a table of IDs (but just one ID) and that doesn't solve my issue.

Se

[2019-06-05 07:40] MatteoGabriele commented on #220
you might want to read this part of the documentation

https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/script-loader.md

[2019-06-05 07:44] MatteoGabriele commented on #216
I would put `null` if I was you, but I will look into it to check if the property value is undefined or null, to no add the property at all

[2019-06-05 10:13] MrMoins commented on #220
I saw well. But the problem is not there.

It would be necessary that vue-analytics allows to explicitly give a name to the tracker (or generate a random one) and then use it during tracking.

This would not conflict with a tracker already present.

[2019-06-07 04:10] gnwankpa opened #221 "NPM vulnerabilities after install"
Hey Matteo, thanks for this great package! Recently while installing this package I got the following messages from npm. Its very concerning that they are ranked as high vulnerabilities. Any feedback?

================post npm install vue-analytics OUTPUT===============
+ vue-analytics@5.17.0
added 427 packages from 801 contributors and audited 43746 packages in 12.357s
found 12 high severity vuln

[2019-06-07 05:01] MatteoGabriele commented on #221
Thanks for the feedback, I will look into it

[2019-06-07 10:04] mateuszs opened #222 "Custom fields are not being sent"
### Description

When I set custom fields like below, no 'someMetric' query param is being sent.

[code]

### Expected behavior

It should be 'someMetric' query param in analytics request.

### Actual behavior

No additional key is sent

### Environment

1. Operating system: OSX
2. Browser and version: Chrome newest

[2019-06-10 14:54] MatteoGabriele commented on #221
so I've checked and I have 1 high vulnerability from semantic-release (the tool I use to deploy the package on commit) and most other vulnerabilities come from the same package.
I'm currently checking out and there's already an issue open there https://github.com/semantic-release/semantic-release/issues/1147

i'll see what I can do

[2019-06-10 15:37] MatteoGabriele commented on #213
I'm closing this one because has been already opened in the nuxt module repo

thanks for your feedback

[2019-06-10 15:37] #213 closed

[2019-06-10 15:38] MatteoGabriele commented on #212
I'm sorry but this it's a bit out of the scope of the library. I do deal with UI for this library: it's only a vuejs wrapper of Google's library + some automations.

thanks anyway

[2019-06-10 15:38] #212 closed

[2019-06-10 15:46] MatteoGabriele commented on #208
@lludol I was having a look at this but link is not for js files so it is kinda weird that lighthouse was suggesting you this

[2019-06-14 13:41] MatteoGabriele commented on #206
I might need to ignore routes only when used by my internal router change so that manually will still be possible to achieve

thanks for the feedback

[2019-06-15 10:14] cawa-93 opened #223 "Method is not exported"
### Description

I try import one method in my Vuex module
[code]

And build app using rollup.

### Actual behavior
Error:
[code]

The same error is repeated if you try to import any method

### Environment

[code]

### Rollup config

[code]

[2019-06-15 10:24] MatteoGabriele commented on #223
I'm sorry but I never used roll-up and this error you have is based on your set-up not about this plug-in so I have to close this one

[2019-06-15 10:24] #223 closed

[2019-06-18 02:00] robsonsobral commented on #113
Hi, @MatteoGabriele !

Is there a way to prevent the loading of a script in case of an ad blocker?

[2019-06-18 05:31] MatteoGabriele commented on #113
@robsonsobral Can you be more specific?

[2019-06-20 18:24] robsonsobral commented on #113
Just to avoid the "[vue-analytics] An error occured! Please check your connection, if you have any Google Analytics blocker installed in your browser or check your custom resource URL if you have added any." in case of an ad blocker.

In case of a blocked connection to Google Analytics, do not even try to load the script.

[2019-06-21 19:02] FirefoxMetzger commented on #222
I might be wrong (quite new to GA), but are you sure it is possible to track custom fields in the cookie?

My understanding is that the field has to be one of those specified in the [Field Reference](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference)

[2019-06-21 19:59] FirefoxMetzger opened #224 "v-ga documentation parses string into event value"
In the doc for `v-ga` ([here](https://github.com/MatteoGabriele/vue-analytics/blame/9b7125472dc1313823e6c03538434d22b4edad8a/docs/v-ga.md#L39)) the example passes the name as the value field to google analytics.

Why does this work? From what I understand you must pass positive integers in the value field and no other variable types are allowed. Am I overlooking something or is this an error in th

[2019-06-24 08:43] banbanmasa opened #225 "Want to Send Custom Dimension in component"
### Description

I want to send [Custom Dimension](https://support.google.com/analytics/answer/2709828?hl=en) in component.But look like it's doesn't work.
My code like below.

- In main entry js
[code]
I set GA tracking code.

- In Page Component.like [this](https://matteogabriele.gitbooks.io/vue-analytics/content/docs/installation.html)
[code]
I want to send authority which is Custom Dimension.B

[2019-06-25 08:29] banbanmasa commented on #225
Sorry it was my misunderstanding.It's works.

[2019-06-25 08:29] #225 closed

[2019-06-30 15:28] MatteoGabriele commented on #208
please re-open this when you have some more details

thanks

[2019-07-18 13:34] Major666RUS opened #227 "[Suggestion] Installation in components"
Installation vue-analytics looks like that.

[code]

But such way of installation requires from me to know tracker's id. In my project there are trackers's id in the database. I get it throw API in my single-file-component. So I need to install vue-analitics in the component. But I can't do it.
Yeah, I know I can use Promise, like that:

[code]

But I can't get access to router.params (in order to

[2019-07-21 20:05] kukoo1 commented on #161
any update on this ?

@MatteoGabriele Just create new file named index.d.ts in types/ directory. That's all.
User's typescript compiler will automatically detect *.d.ts in node_modules/${packgage} by default.

[2019-07-23 13:00] TDola commented on #50
Is there a way to set the client ID on create like shown in the example in the link above?
[code]

[2019-07-26 14:11] bohdan-shulha commented on #224
I believe this one is just a mistake because Google Analytics documentation clearly says the value must be an integer.

https://support.google.com/analytics/answer/1033068?hl=en

[2019-07-26 14:20] bohdan-shulha opened #228 "[Suggestion] Allow to pass array to v-ga"
### Explanation

Currently, we can use argument-less commands this way (example 1)

[code]

And command with arguments like this (example 2)

[code]

As you may see, there is a bit of boilerplate when the command accepts arguments.

### Use Cases

I use Nuxt.js and it is not possible to use `v-ga` for cases when the command needs to receive an argument, `$ga` is simply not defined and example 2 ju

[2019-07-27 18:24] dan2600 opened #229 "Page error with redirect"
Hi,

I'm using this library in part to track an event when users click an outbound link. Clicking the link fires the event, preventing the default, and then i set the window location to go to the link.

The problem is if I do the code like this:

this.$ga.event('outbound click', 'target title', 'target category')
window.location = e.target.parentNode.href

The GA event gets attached to the next pa

[2019-07-29 05:45] jongbonga opened #230 "Could not find a declaration file for module 'vue-analytics'."
I'm getting a

Could not find a declaration file for module 'vue-analytics'. '/Users/jonathan/Code/odbf/node_modules/vue-analytics/dist/vue-analytics.js' implicitly has an 'any' type.
  Try `npm install @types/vue-analytics` if it exists or add a new declaration (.d.ts) file containing `declare module 'vue-analytics';`

on import

[2019-08-01 00:37] litagaki commented on #230
This looks like a duplicate of https://github.com/MatteoGabriele/vue-analytics/issues/161
I ended up using the advice there to create my own declaration file 'vue-analytics.d.ts' which has content as follows:

This file lives in a '@types' directory in the src directory of my Vue project, where I keep similar files for other plugins that don't have builtin typescript support.
I then have a single

[2019-08-06 22:34] fm-adam opened #232 "GA Site Speed with Vue-Analytics"
Hello,

Great package and docs. Vue-Analytics was a breeze to install and to get started with. Thank you. I am now looking at enabling Site Speed (`siteSpeedSampleRate `) to get GA metrics for Avg. Page Load Time, Avg. Redirection Time, etc, but I cannot find any reference for support for this feature in your docs or issue tracker, and the data is definitely not showing up in my GA dashboard. So,

[2019-08-07 00:02] ok200paul opened #233 "Multiple trackers in ID array appear to send no data to either GA accounts"
Quickly to begin: Thanks so much for such a useful package, I've used it for a long time! Hopefully this issue is valid, and not something I've missed. Paul

### Description

When using an array of multiple GA IDs, it looks like neither account gets data sent to them. Using a single ID within an array appears to work OK.

### Expected behavior

Placing multiple IDs into the `id` array sends data t

[2019-08-13 09:05] rubenheymans commented on #174
where can you find these custom variables in analytics? and how do you fetch them using the analytics api? I can't find anything in the docs

[2019-08-13 09:08] rubenheymans commented on #62
where can you find the dimension in google analytics dashboard?

[2019-08-13 09:58] MatteoGabriele commented on #232
Thanks for your feedback :)

I believe that siteSpeedSampleRate is a field that needs to be added on create of the tracker, so you might want to try

[code]

reference link https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#siteSpeedSampleRate

[2019-08-13 09:58] #232 closed

[2019-08-13 13:38] maxleistner opened #234 "this.$ga.enable() does not work (undefined)"
vue@2.6.10
vue-analytics@5.17.0

I am calling `this.$ga.enable()` function within created within a component.
GA Analytics is disabled from the main.js file and should now be enabled after reading the contents of a cookie file.

main.js
[code]

Component (Part of export default)
[code]

Cookie "enable-tracking" not present

Error after page load:
`[Vue warn]: Error in created hook: "TypeError: Can

[2019-08-13 13:45] maxleistner commented on #234
Added Screenshot

[2019-08-15 10:04] thebspin opened #235 "Not load analytics.js when disabled and/or disableScriptLoader are being using"
### Description

I am trying to comply to the GDRP. From my understanding if  i load the analytics js i am already in violation, even if i technicly only load it and don't use it.

### Expected behavior

Using:
disableScriptLoader: true,
disabled: true

I would expect that analytics.js is not being loaded.

### Actual behavior

analytics.js is being loaded in the header.

[2019-08-15 14:36] leo1200 opened #236 "Check if tracking is disabled"
A function like this.$ga.disabled() returning a boolean would be great.

[2019-08-16 18:21] f213 commented on #217
@MatteoGabriele Could you please apply the patch from 8121bf7 to the master branch?

Drop me a line if you have no time for this — i will create a PR for you.

[2019-08-16 18:53] MatteoGabriele commented on #224
it was a simple example to be honest, I wasn't paying attention on what I was passing, but thanks for the feedback

[2019-08-16 18:53] #224 closed

[2019-08-16 19:08] MatteoGabriele commented on #229
try this

https://github.com/MatteoGabriele/vue-analytics/issues/47

[2019-08-16 19:08] #229 closed

[2019-08-18 13:30] #216 closed

[2019-08-18 13:30] #217 closed

[2019-08-18 14:49] MatteoGabriele commented on #222
it doesn't work because it only works when you use multiple IDs. in your example you use only one ID so there's no need for targeting customIdFields

[2019-08-18 14:49] #222 closed

[2019-08-18 14:53] MatteoGabriele commented on #215
the disable/enable variable comes from your own code, so you should be able to know when it's on or off.

[2019-08-18 14:53] #215 closed

[2019-08-18 14:59] #130 closed

[2019-08-18 15:05] MatteoGabriele commented on #234
I'm sorry but the enable/disable feature works and I can't reproduce this error.
I'm able to set it disabled by default and then re-enable it.

I'm going to close this one, if you still have it and have time for a reproduction, please feel free to reopen it

thanks :)

[2019-08-18 15:05] #234 closed

[2019-08-18 15:17] MatteoGabriele commented on #233
hi @ok200paul thanks for your feedback
I've found your setup a bit hard to test tbh, could you please create a simple application with vue-cli? it is a standard stable setup + I'm able to run webpack without need to recompile each time I make a change

thanks a lot

[2019-08-18 15:40] #235 closed

[2019-08-18 15:41] MatteoGabriele commented on #235
thanks for the feedback! didn't catch this one :)

[2019-08-18 20:00] MatteoGabriele commented on #236
Can i ask you for what purpose?

[2019-08-18 20:05] MatteoGabriele commented on #227
trackers are created at the very beginning and also the fact that you need a tracker for each page is a very very specific use case so I can't really focus on this one, I'm sorry.

cheers

[2019-08-18 20:05] #227 closed

[2019-08-18 20:06] MatteoGabriele commented on #204
this has been merged

[2019-08-18 20:06] #204 closed

[2019-08-19 07:00] leo1200 commented on #236
Integration of a feature to stop GA for the current session - enabling the
user to check if GA is still disabled. This, however, is not necessary
anymore, as I decided on a different implementation:
https://lernzettel.org/#/funktionen/google-analytics-deaktivieren

Matteo Gabriele <notifications@github.com> schrieb am So., 18. Aug. 2019,
22:00:

[2019-08-19 07:20] MatteoGabriele commented on #236
can't really read the content of that link but in this case I will close the ticket
thanks

[2019-08-19 07:20] #236 closed

[2019-08-19 07:22] MatteoGabriele commented on #230
this is a duplicate ticket indeed see #161
sorry but at this moment is not on top of my list but, if someone has time, a PR is always welcomed!

thanks :)

[2019-08-19 07:22] #230 closed

[2019-08-23 16:31] jrtnq514 opened #240 "Question: Loading script at a later time?"
I really want to use this plugin but have a situation (security policy) where I cannot load the script on the page until a check (ajax call) is made. Unfortunately I can't just disable the script it has to be completely off the page. I have thought of a few possible options and want to confirm if they're possible or not.

1. Set `disableScriptLoader: true` add the analytics script myself at a late

[2019-09-03 08:03] johnjcamilleri commented on #161
Using the code above I was getting this error:

[code]

This version works for me (I don't really understand the details of why):

[code]

Versions:
- typescript 3.4.5
- vue 2.6.10
- vue-analytics 5.17.0

[2019-09-10 07:17] kevinmarrec commented on #208
@lludol Any news about fixing this ?

I got a screenshot here

![image](https://user-images.githubusercontent.com/25272043/64592182-bb7e5d80-d3ab-11e9-88e5-2bc5ed17c4f1.png)

It's from Lighthouse results run on https://marrec.io (Mobile 4G)

[2019-09-15 15:17] leolux commented on #192
Manual tracking with `this.$ga.page()` leads to the following message in Google Tag Assistant:
`Same web property ID is tracked twice.`

What `page` value should one pass for SPA applications? If the real URL is like `https://mysite.com/#/about` should the manual tracking work with this code?
[code]

[2019-09-16 06:42] MatteoGabriele commented on #192
I'm afraid you need to skip adding router as an option and go full manual when tracking your page views. There's no way I can detect when you finish firing a specific type of event: it is something you need to do yourself because you have control on it

[2019-09-16 09:43] leolux commented on #192
Alright, thanks!
Manual tracking works well.

[2019-09-27 09:42] emerg commented on #208
@MatteoGabriele I just sent you an email about this a little bit ago before I came across this thread. I thought it was interesting that the lighthouse report comes back with this as well, because I was a little confused by the
[code]
when the resource the lighthouse report is talking about is a script tag.
Anyway, the report I'm getting back from Lighthouse is exactly the same as @kevinmarrec 's

[2019-10-02 21:58] nawalnew opened #244 "After Page Reload, disabled again ."
### Description

What are you reporting?

The function this.$ga.enable() is working as expected. But after reload the "enabled" state is gone.  I use vue-cookie-law for a cookie banner. The Cookie is set as expected.

### Expected behavior
Tracking should be saved with the cookie selection.

### Actual behavior

After page reload the Enabled function istn working anymore and the Google Tag is not

[2019-10-03 18:20] MatteoGabriele commented on #244
you can read about `disabled` option here. https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/opt-out.md

you can simply pass the value of the cookie: can be a boolean, a function returning a boolean or even a promise return a boolean, but since you have a cookie, just take the value of the cookie

[2019-10-03 18:20] #244 closed

[2019-10-03 19:56] MatteoGabriele commented on #240
hey @jrtnq514
I've never checked but the first option might not work tbh, but you can try.
the second one will work for sure but I get it that it's a bit hacky and doesn't sound like a nice piece of code to write.
I can expose the helper, but I won't help with the cause.
I'm gonna need to have a look at how few things:
- how to bootstrap later
- load on demand
- share utilities

I hope I can come

[2019-10-03 19:59] MatteoGabriele commented on #228
I'm not sure about this idea tbh and also I just find the directive not nice to use in the first place and wonder if it actually adds value

[2019-10-03 20:03] MatteoGabriele commented on #221
hi @gnwankpa it's kinda tricky to fix this one because some devDependencies are so nested that you get lost, I not even know why you have these alert: this package has not dependencies and everything I use it's just for compilation or testing.

I will try to see if an update of the compiler to later packages will help

[2019-10-03 21:36] gnwankpa commented on #221
Thanks, I appreciate the follow-up let me know what else you find.

On Thu, Oct 3, 2019 at 4:03 PM Matteo Gabriele <notifications@github.com>
wrote:

[2019-10-03 23:07] goatandsheep commented on #135
@MatteoGabriele can we just import the latest one and then people can just put a pull request every time there is an update. What's the issue with it being outdated?

[2019-10-08 19:08] gecko-8 opened #245 "Any plans to support gtag?"
Just asking as Google seems to be pushing everyone to use gtag.js now and there aren't any good plugins for it yet. This seems to be the most polished plugin so it would be great to see it added.
Thanks,
Jason

[2019-10-09 15:26] jratzenboeck opened #246 "Set custom dimension when using multiple trackers"
### Description

As pointed out in the documentation you can specify multiple trackers in the configuration of the plugin to send hits two multiple ga properties. This works fine. However, the plugin gives me an error if I use `this.$ga.set('dimension1', 'A')` to set a custom dimension, which from then on should be send along each pageview and tracked event. Every tracked hit lacks of the custom d

[2019-10-10 19:39] #81 closed

[2019-10-10 19:39] #156 closed

[2019-10-10 19:39] #184 closed

[2019-10-10 19:39] #193 closed

[2019-10-10 19:39] #203 closed

[2019-10-10 19:39] #218 closed

[2019-10-10 19:39] #220 closed

[2019-10-10 19:39] #206 closed

[2019-10-10 19:39] #233 closed

[2019-10-10 19:39] #192 closed

[2019-10-11 07:43] cassioscabral commented on #240
I actually think this is quite important for EU legislation and the whole GDPR issues. The user must consent to the usage of tracking before any tracking script loading.

I tried to set the disabled property on main.js and later do `$ga.enable()` but realized that's not actually working.

When setting disabled at first, GA will think that the user has already opt-out and I can't get to activate la

[2019-10-11 07:49] MatteoGabriele commented on #240
yeah but if you set `disabled` to `true` on plugin install, you are not tracking: just loads a js file that is not actively used by the application, so as for the GDPR rules should be ok.
does this make sense?

[2019-10-13 08:30] Sardtok commented on #145
I think I'm experiencing the same issue. I have a page where the user can choose whether they want to allow GA cookies, in an attempt to adhere to the EU cookie law. In my handler where I call ga.disable, I delete any cookies that have been set, if they happened to allow cookies earlier. VueAnalytics is configured to start out disabled, so the user has to opt in first to get the cookies at all. Sh

[2019-10-15 08:09] cassioscabral commented on #240
Setting disabled to true at installing it's fine, it safe for GDPR as far as I know (which is very little).

But enabling (with `this.$ga.enable()`) later, let's say after the user has done the consent, I don't see it the same GA cookies or the others like when I set disabled to false.

I did some local testings and if I could control the bootstrap function, exposing it, it does work, but I don't

[2019-10-16 07:14] MatteoGabriele commented on #240
it makes sense indeed. I should have finally some time to work on it this week. I'll update you
thanks a lot for your feedback

very much appreciated

[2019-10-17 16:21] woodgates opened #247 "lodash vulnerabilities"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

Hi.
After installing I got this message
found 525 vulnerabilities (10 moderate, 514 high, 1 critical) in 28926 scanned packages

lodash was responsable for a the ones I could see.

### Expected behavior

Non having this message

### Recommended solution:
This is a know issue, I

[2019-10-17 23:26] goatandsheep commented on #135
What do I still need to confirm?

[2019-10-22 12:51] Bergrebell opened #248 "Track branch information for split-testing"
I want to perform a split-test on one of my sites. Usually I would add a method call that sends the branch-name to analytics in a script like this:

[code]

how can I achieve this in vue-analytics?

[2019-10-22 13:57] MatteoGabriele commented on #248
for a manual hit like this you can simply use the `this.$ga.query` inside your component, which is nothing more that the exposed `ga` library inside the Vue instance.

[code]

[2019-10-22 13:57] #248 closed

[2019-10-22 13:58] MatteoGabriele commented on #247
I am currently updating the entire compiler and also all tests too, so I guess when that will be done all vulnerabilities will go away.
the are all part of devDependencies tbh, this library has zero dependencies, but for some reasons npm keeps on alert you.

[2019-10-22 14:00] MatteoGabriele commented on #247
duplicate of #221

[2019-10-22 14:00] #247 closed

[2019-10-22 14:01] MatteoGabriele commented on #221
currently working on the compiler update. this should just stop alerting people on download.
I do think that this it's NPM's fault because the library has 0 dependencies. The only dependencies I install are for the compiler so it should alert me while developing the library, not a developer just using the compiled version

[2019-10-22 14:04] MatteoGabriele commented on #246
don't really understand that error you added in the image, but would be nice to have a reproduction. if I have enough time I will try it myself.

thanks for you time

[2019-10-22 14:07] MatteoGabriele commented on #245
yeah I know. but unfortunately I have been having less and less time so right now I mainly try to fix bug and give some easy feature back.
I need to read the API again, last time I checked was too soon and was unclear gibberish

totally valid point tho

I hope I can schedule some time for this

[2019-10-22 14:09] MatteoGabriele commented on #135
no nothing, just that the fixed url doesn't seem to be the most nice thing to me, but probably it's better than nothing

[2019-10-22 15:53] jratzenboeck commented on #246
Thank you for taking a look on this! For your information: In the meantime I could manage to send the dimension along every event I track and with the `pageViewTemplate` function inside the `autoTracking` I can add the dimension to every pageview as well.

[2019-10-24 20:37] #228 closed

[2019-10-27 20:36] woodgates opened #249 "ERR_UNSAFE_REDIRECT with https"
### Description
Hi. I'm implementing my app on production and I'm getting this error:
vue-analytics.js:1 GET https://www.google-analytics.com/analytics.js net::ERR_UNSAFE_REDIRECT

my page is https.

this is my main.js

Vue.use(VueAnalytics,{
  id:'UA-150321348-1',
  router,
  debug:{
    enabled:!isProd,
    sendHitTask:isProd
  }
})

please your help.

[2019-10-27 20:38] woodgates commented on #247
the problem gets solved following npm fix instructions.

[2019-10-28 11:30] Bergrebell commented on #246
@jratzenboeck - nice that you found a solution! would you mind sharing it here? I'm having the same issue.

[2019-11-07 11:53] cassioscabral commented on #240
Just an FYI, I was able to overcome this a bit by using Promises with the disabled property. The only drawback is that you must create an App prop with this promise that's it's set on main.js file and provided on the Vue app instantiation phase.

Later on, you just need to execute the promise when the user has done the consent.

[2019-11-08 14:16] doutatsu commented on #208
I am getting the same report as @kevinmarrec. Would be great to get this sorted

[2019-11-11 10:23] MattixNow commented on #208
Any news about this issue ?

[2019-11-11 10:41] xiev commented on #240
Hey @cassioscabral, could you provide a snippet how you handled this? I have the exact same problem, that `this.$ga.enable()` isn't doing what I thought it would.

I'm fairly new to Vue.js and don't really understand what you mean by:

[2019-11-11 11:44] cassioscabral commented on #240
Sure, no problem.

On your main.js file
[code]

on you App.vue props definition
[code]

Then, when the user accepts it just call `this.disabledVueGA(false); // or true (depends on the consent`

Remember that the disabled property set to false is equal to activating the library. So, it can be confusing.

And after adding the cookies, disabling(`this.$ga.disable()`) it will not remove the cookies, j

[2019-11-12 07:50] xiev commented on #240
Thank you! This looks good to me, no cookies get set until the user clicks the accept button and also the realtime view shows the correct behavior.

I really appreciate your answer and help!

[2019-11-12 15:12] #245 closed

[2019-11-12 15:43] MatteoGabriele commented on #221
Didn't have time to finish yet the compiler but I am reopening this ticket

[2019-11-12 20:19] MatteoGabriele commented on #221
I have updated the entire compiler + packages.
this error should be gone

[2019-11-12 20:39] MatteoGabriele commented on #221
ok weirdly enough it didn't fix it because it comes from third party packages so they suggest to use "resolutions" which is a property of the package.json where u can sort of define the package range number of you dependencies dependencies 🤣
fucking npm is becoming a mess!
I'll give it a shot!

[2019-11-12 20:43] #221 closed

[2019-11-12 20:45] MatteoGabriele commented on #221
ok I think it worked now! let's pray all the gods!
cheers and thanks to be patient @gnwankpa

[2019-11-12 21:12] MatteoGabriele commented on #249
this is almost certainly an ad block issue

[2019-11-12 21:12] #249 closed

[2019-11-13 01:35] mikerogerz opened #252 "SSR broken in 5.17.3"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

Latest version breaks in SSR.

### Expected behavior

Work the same as 5.17.2.

### Actual behavior

`window is not defined`
`at Object../node_modules/vue-analytics/dist/vue-analytics.js`

### Environment

Run this command in the project folder and fill in their results:

`npm

[2019-11-13 07:18] jratzenboeck commented on #246
first of all, sorry for the late answer. I hope you can still use my solution. It looks like this.

[code]

In this project I use VueJS and have the `dimensionName` and `dimensionValue` stored in the Vuex Store as pointed out in the destructuring statement `const { dimensionName, dimensionValue } = store.state.ga;`.
This will be set as soon as I need the dimension information to be tracked.

[2019-11-13 07:39] cymiranda3 commented on #132
Just want to point out that this also solved this issue for me... I think the documentation just needs to be reworded because the assumption is that that code chunk should be included w/o any further configuration, when I assume some is necessary (which is why nothing was being sent)?

[2019-11-13 08:16] deepenpatel19 commented on #252
Same issue I face on production.
I'm not able to load even single page due to this library.

Library:
- vue-analytics@5.17.3
- vue@2.6.10

Browser:
Chrome (77.0.3865.120).

OS:
- AMI

[2019-11-13 08:28] MatteoGabriele commented on #252
yeah I see! somehow webpack is adding the window object in the compiled file, it's not the library itself. I'm trying to understand what am I missing but for the time being just use 5.17.2

sorry for the inconvenience

[2019-11-13 09:10] #252 closed

[2019-11-13 09:11] MatteoGabriele commented on #252
@mikerogerz should be fixed, let me know and thanks a lot for the feedback

[2019-11-13 09:17] MatteoGabriele commented on #252
:tada: This issue has been resolved in version 5.17.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-analytics)
- [GitHub release](https://github.com/MatteoGabriele/vue-analytics/releases/tag/v5.17.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-13 09:17] MatteoGabriele commented on #221
:tada: This issue has been resolved in version 5.17.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-analytics)
- [GitHub release](https://github.com/MatteoGabriele/vue-analytics/releases/tag/v5.17.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-13 12:58] mikerogerz commented on #252
New version works great. Thanks for the quick response.

[2019-11-15 18:29] MatteoGabriele commented on #208
:tada: This issue has been resolved in version 5.18.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-analytics)
- [GitHub release](https://github.com/MatteoGabriele/vue-analytics/releases/tag/v5.18.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-15 20:27] doutatsu commented on #208
Have you tested your fix @MatteoGabriele? I've just upgraded and tested it out, but I am still seeing the same warning in Audit.

![image](https://user-images.githubusercontent.com/4270980/68973483-4df51000-07e6-11ea-8ccf-affe84ede285.png)

[2019-11-15 20:29] MatteoGabriele commented on #208
Yes I did. Did you update? You can check the rendered script tag in the head?

[2019-11-15 20:32] doutatsu commented on #208
Yup, its there. Not sure why Audit is still failing. I'll keep looking if its something on my side, thanks for the fix on the pacakge side 👍
![image](https://user-images.githubusercontent.com/4270980/68973715-dc699180-07e6-11ea-998e-6ee6a245c346.png)

[2019-11-21 19:31] MatteoGabriele commented on #245
@gecko-8 I've release a version of [vue-gtag](https://github.com/MatteoGabriele/vue-gtag) still need to finish tests and documentation, but would be nice if you could try it and get some feedback

cheers :)

[2019-11-21 19:32] MatteoGabriele commented on #67
@timothynott I've release a version of vue-gtag still need to finish tests and documentation, but would be nice if you could try it and get some feedback

cheers :)

[2019-11-22 21:11] Matiyeu commented on #208
Any news? Tested @MatteoGabriele ?

[2019-11-22 21:15] MatteoGabriele commented on #208
Well I have attached the attribute. Not sure what to do more :)

[2019-11-24 14:00] manuelgeek opened #253 "Analytics not working with some options enabled"
The vue analytics doesn't work when autoTracking is added, even with only `sreenview: true` option enebled.
The debug options, only enable works when added. This is the code
[code]
the below code works very well

[code]
Any suggestion on how better to you use the options.
NB: i have all my routes named for screenview

[2019-11-25 10:33] FilipeamTeixeira opened #254 "Add demographics"
I'm trying to add demographics analytics to my code, but I'm not sure how to incorporate this in the vue-analytics plugin.
According to the google analytics support page (https://support.google.com/analytics/answer/2444872), it should be possible to add that information by adding `ga('require', 'displayfeatures');` between the create and send.

However, I'm not really sure how to do it here.

Than

[2019-11-25 15:00] MatteoGabriele commented on #254
I'm quite sure it was in the documentation but now I'm doubting. it is possible to inject a collection of `set` or `require` in the plugin options and those will be fired after the trackers are initialised.
if you need something before, you can use the `beforeFirstHit` callback method

[code]

[2019-11-25 15:00] #254 closed

[2019-11-25 15:03] MatteoGabriele commented on #254
Sorry, you can actually use it like this

[code]

[2019-11-25 15:08] MatteoGabriele commented on #253
which version are u using?

[2019-11-25 15:24] manuelgeek commented on #253
version 5.18.0

[2019-11-27 08:15] MatteoGabriele commented on #246
I have to be honest, I'm lately working on the vue-gtag package which will basically replace this one soon. So I'll probably move all feature requests to the other package

[2019-11-27 08:58] MatteoGabriele commented on #253
can u make a reproduction app on codesendbox and send me the link? much appreciate
thanks

[2019-12-03 09:29] #240 closed

[2019-12-03 14:02] MatteoGabriele commented on #240
@jrtnq514 @cassioscabral @xiev I have implemented this feature un vue-gtag so I won't spend time here because this package will probably be deprecated soon. Google is moving its library and I am doing the same.

thanks for your feedback

[2019-12-05 13:25] dsturm commented on #235
Hey @MatteoGabriele, is there any progress on this?

[2019-12-08 20:02] gecko-8 commented on #245
@MatteoGabriele Sorry for the slow response, I've been sick with the flu and job hunting for the past few weeks. Unfortunately I don't have any projects I can test it on but it looks really good!

[2019-12-08 20:13] MatteoGabriele commented on #245
@gecko-8 no worries at all, get better and good luck with job hunting!

[2019-12-09 12:04] hungnv-sr opened #255 "No implementation for sending virtual pageview yet"
I'm trying to send virtual pageview because my I'm using ajax for search function in my vue app. However, I found no document about this in vue-analytics.
Please add it. Thanks

[2019-12-09 12:47] MatteoGabriele commented on #255
Don't know what virtual pages are. Can u point out some  official documentation? Thanks

[2019-12-09 16:33] oduvan opened #256 "Question: Is it possible to skip the first page openning ?"
If I have a legacy  ga layer on top of vue-js app. This layer tracks page opening when application is loading. But when it is loaded all router actions are trackable inside of the app.

So in order to avoid duplication of ga-pageview event (one from legacy and one from vue), can I ask vue do not track first openinig?

Thank you

[2019-12-09 17:56] MatteoGabriele commented on #256
https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/page-tracking.md#disable-pageview-hit-on-page-load

[2019-12-09 17:56] #256 closed

[2019-12-09 18:53] sebastian-raubach opened #257 "Add router at a later stage"
Is there a way to add the `router` after the initialisation like through a `$ga.setRouter` method or something like that? I'm in a situation where I create vie-analytics in the `store`, but the `router` imports the `store`, hence, if I try to use `router` in `store`, I've got a circular dependency.

[2019-12-09 21:25] oduvan commented on #256
thank you.

[2019-12-10 10:42] sebastian-raubach commented on #257
Ended up just calling `Vue.$ga.page(router)` from the router in `beforeEach`.

[2019-12-10 19:25] #161 closed

[2019-12-10 19:27] MatteoGabriele commented on #161
:tada: This issue has been resolved in version 5.19.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-analytics)
- [GitHub release](https://github.com/MatteoGabriele/vue-analytics/releases/tag/v5.19.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-12 01:54] mrwwalmsley opened #261 "Support Google Optimize"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

I am already using the plugin along with e-commerce support via the @nuxtjs.=/google-analytics module.

I'd like to implement Google Optimize which requires the following code:

[code]

There is a `'require'` command that needs to be added before the analytics is created.

###

[2019-12-13 06:43] MatteoGabriele commented on #257
I'm sorry but your use case is too specific. Not sure why would you install a plug-in from Vuex. Hopefully your implementation will be enough

Cheers :)

[2019-12-13 06:43] #257 closed

[2019-12-14 15:15] kevinmarrec commented on #208
@MatteoGabriele `rel` isn't a valid thing for `script` : https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script, it is just ignored and does nothing.

It needs to be an additional
[code]

`preconnect` only works with `link` tag, and there is only `link` mention in https://developers.google.com/web/fundamentals/performance/resource-prioritization?utm_source=lighthouse&utm_medium=devtools#

[2019-12-14 15:22] kevinmarrec commented on #208
Still, I don't think so it is achievable around `vue-analytics` plugin, cause the `link` needs to be present in the HTML of the first call (i.e. can be done with Vue SSR / Nuxt).

[2019-12-14 15:28] MatteoGabriele commented on #208
Ah good to know! Didn't know that. I can still do it. Thanks

[2019-12-14 20:15] #246 closed

[2019-12-16 16:44] wdwatkins commented on #156
I'd just like to make another vote for this feature

[2019-12-18 11:21] #253 closed

[2019-12-28 13:38] MatteoGabriele opened #267 "pageviewTemplate is resolved before routes ready"
see https://github.com/nuxt-community/analytics-module/issues/8#issuecomment-569280979

[2019-12-28 13:45] #267 closed

[2019-12-28 13:47] MatteoGabriele commented on #267
:tada: This issue has been resolved in version 5.20.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-analytics)
- [GitHub release](https://github.com/MatteoGabriele/vue-analytics/releases/tag/v5.20.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-30 13:18] #255 closed

[2020-01-01 14:44] paolog22 opened #269 "$ga does not exist on type VueConstructor"
![image](https://user-images.githubusercontent.com/12680745/71642553-05d37380-2ce8-11ea-8814-aa5c43b9ed08.png)

What am i missing ?
thank you

environment
"vue-analytics": "^5.20.2",
"vue": "^2.6.10",
typescript: 3.5.3

[2020-01-02 02:35] #261 closed

[2020-01-07 05:28] paolog22 commented on #269
help ?

[2020-01-07 07:27] MatteoGabriele commented on #269
The type definition has been done with support of other collaborators, I honestly don't work with TS so I don't know how to fix this.
Maybe @romansp knows it :)

[2020-01-07 07:58] romansp commented on #269
@paolog22 `$ga` is available on Vue instance itself. Does this work for you?

[code]

I'm not so sure about augmenting `VueConstructor` types. Neither `vue-router` nor `vuex` do it.

[2020-01-07 08:18] paolog22 commented on #269
@MatteoGabriele @romansp thank you.. did not saw that . thank you for your time sorry for the bother :) . will now close this

[2020-01-07 08:18] #269 closed

[2020-01-07 08:43] MatteoGabriele commented on #269
Thanks a lot @romansp

[2020-01-07 20:41] mrwwalmsley commented on #261
Any updates with this request?

[2020-01-08 14:09] MatteoGabriele commented on #208
:tada: This issue has been resolved in version 5.22.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-analytics)
- [GitHub release](https://github.com/MatteoGabriele/vue-analytics/releases/tag/v5.22.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-08 22:00] ricardogobbosouza opened #270 "Link preconnect"
https://github.com/MatteoGabriele/vue-analytics/blob/master/src/helpers.js#L19

@MatteoGabriele Wouldn't it be correct to use the domain instead of the script link?

[2020-01-08 22:02] MatteoGabriele commented on #270
I don't understand what do you mean. You can read and comment about this in the issue #208

[2020-01-08 22:02] #270 closed

[2020-01-08 22:09] ricardogobbosouza commented on #208
The link should be `<link rel="preconnect" href="https://www.google-analytics.com">` instead of `<link rel="preconnect" href="https://www.google-analytics.com/analytics.js">` no?

[2020-01-08 22:13] MatteoGabriele commented on #208
ah sorry, now I actually understand what you mean! you're right!
I'll fix it right away
thanks @ricardogobbosouza

[2020-01-08 22:24] ricardogobbosouza commented on #208
@MatteoGabriele Need to update here too https://github.com/MatteoGabriele/vue-gtag/blob/master/src/util.js#L8

[2020-01-08 22:34] #208 closed

[2020-01-08 22:36] MatteoGabriele commented on #208
:tada: This issue has been resolved in version 5.22.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-analytics)
- [GitHub release](https://github.com/MatteoGabriele/vue-analytics/releases/tag/v5.22.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-11 10:27] demiro opened #272 "Error when building (missing vuex)"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

I installed, set the main.ts file with required (tracking router)... and when build...

### Expected behavior
Well I expect it to work

### Actual behavior

### Environment
`-- vue-analytics@5.22.1 `
win10 (latest)
Chrome (latest)

[2020-02-11 11:52] carrera commented on #172
@MatteoGabriele @thepepperone I'm also having this same problem where the screenviews are zero. I'm using nuxt version

[2020-02-11 12:31] MatteoGabriele commented on #172
Would like to have a proof that is not working without nuxt first so we can understand better if it's the SSR env or not. Very often has been a nuxt issue

[2020-02-11 12:34] carrera commented on #172
Is there a way to disable ssr in this module?

[2020-02-11 12:44] MatteoGabriele commented on #272
I just realised that it's trying to use 3 dev dependencies, so it won't work at all.
I should definitely remove that stuff.
let me know if for now just installing Vuex on your hand will fix it ( probably it should ) but I will definitely delete it: this package has no dependencies.

[2020-02-11 12:53] carrera commented on #172
**nuxt.config.js**
`    ['@nuxtjs/google-analytics', {
      id: process.env.ANALYTICS_ID,
      autoTracking: {
        page: false,
        screenview: true,
        exception: true,
        // pageviewOnLoad: false,
      },
      debug: {
        enabled: true,
        sendHitTask: true
      }
    }],`
****

[2020-02-11 12:53] carrera commented on #172
@MatteoGabriele

[2020-02-11 12:58] MatteoGabriele commented on #172
I have to be honest with you, I did the wrapper for nuxt few years ago but then they started adding and modifying default properties of it so I'm kinda lost ahahahah
you should drop the issue in the nuxt one.
on my side, if you reproduce the same bug with a simple minimal codesandbox vue app, then I will look into it. if you can't , most likely it's some weird SSR stuff

[2020-02-11 13:00] carrera commented on #172
Ah i totally understand, do you know if theres a possibility to disable the ssr?

[2020-02-11 13:02] MatteoGabriele commented on #172
@carrera looks like is disabled by default
https://github.com/nuxt-community/analytics-module/blob/master/lib/module.js#L33

[2020-02-11 13:04] carrera commented on #172
Strange, is the nuxt one up to date with your current repo?

[2020-02-11 13:22] MatteoGabriele commented on #172
Yeah I think they have an auto update based on my releases

[2020-02-11 13:23] MatteoGabriele commented on #172
Small note,  if u just started with a project I would try vue-gtag tbh. I do not support this package anymore and I'm going to deprecate it

[2020-02-11 13:29] carrera commented on #172
Thanks for the heads up

[2020-02-11 13:29] carrera commented on #172
I'll check it out

[2020-02-11 15:39] demiro commented on #272
yeah, if I install it is not complaining any more

[2020-02-23 12:40] MatteoGabriele commented on #272
so I do not have enough typescript knowledge tbh, if you think you can remove these dependencies from the ts file, let me know. much appreciated

[2020-03-24 00:02] jscuba opened #274 "crossorigin attribute property missing on link"
### Description

What are you reporting?

From Lighthouse report:
Preconnect to required origins
Warnings: A preconnect <link> was found for "https://www.google-analytics.com" but was not used by the browser. Check that you are using the `crossorigin` attribute properly.

It looks like adding the crossorigin attribute in loadScript() would fix it...

### Expected behavior

Tell us what you think s

[2020-04-10 12:40] dontlemmedown commented on #48
Is it possible to set `allowLinker`?
When i set `linkers: []` ga created without autolinker flag

`Running command: ga("create", "UA-XXXX-1", "auto", {})`

[2020-04-14 00:39] #274 closed

[2020-04-14 20:07] rafahill opened #275 "Nuxt Vue analytics with multiple IDs"
Hello! i have some issue to add an aditional ID in a specific page:

Work as expected, tracking my pages.

But in a specific page i need to add another ID.
i already try to use all methods that i find in docs, but its doesn work for me

**> My method in a specific page:

im also try to use set option like:
this.$ga.set('userID', xxxxx)

but still not work for me

Could someone help me?
Thanks

[2020-04-15 07:50] shuyanzi opened #276 "跨域问题"
### Description

Access to fetch at 'https://www.google-analytics.com/analytics.js' from origin 'https://xx.xx.net' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

[2020-05-06 00:10] #275 closed

[2020-05-06 09:10] #276 closed

[2020-05-08 08:13] marioanloru opened #277 "Cannot make vue-analytics work"
I am playing around with vue and google analytics, and I am not able to make both work together. I would like to see if something is wrong on my code or the problem is on google analytics side. I have to say I created google analytics account yesterday, refering to [#122](https://github.com/MatteoGabriele/vue-analytics/issues/122)

Analytics is not detecting any data, I tried to check with the ext

[2020-05-08 14:36] janswist opened #278 "Label is not being sent to GA"
### Description

I'm sending `event` to Google Analytics and all values go through except for label. Instead of my custom labels I just see `label` value.
![image](https://user-images.githubusercontent.com/5583954/81415998-6e74a600-9149-11ea-8ff4-8d917ef816da.png)

Tried this and object as well. Both work the same:
[code]

### Expected behavior

Should also have proper label in place.

### Actual

[2020-05-18 09:22] jcfinnerup commented on #137
Thanks! I had the same issue, but it wasn't fixed until i did both of the suggestions above.
So 1. removed the "string" value and replaced it with an Integer and 2. set `trackEvent: true`

[2020-05-22 14:25] outOFFspace commented on #22
setTimeout only helps:
`trackPageLoad() {
                const timeout = setTimeout(() => {
                    this.$ga.commands.trackEvent.apply(this, ['Search_Rashirenyi_poisk', 'Prosmotr_stranitsy', 'Forma_poiska']);
                    clearTimeout(timeout);
                }, 0);
            }`

[2020-05-29 09:14] #277 closed

[2020-05-29 15:32] #278 closed

[2020-06-03 10:58] OlegShchurin opened #279 "Return Client ID"
### Description

Hello, could you please add a feature that will return GA Client ID or how to do it using Vue-analytics?

[In Google Analytics its something like this:](https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-user-id#getting_the_client_id_from_the_cookie):

[code]

[2020-06-16 20:58] MatteoGabriele commented on #279
try
[code]

[2020-06-16 20:58] #279 closed

[2020-06-26 11:46] artrayd opened #280 "Doesn't work in Chrome Extension"
I'm building chrome extensions for Chrome using "kocal/vue-web-extension".

### Description

 After installing vue-analytics I am getting this error:
vue-analytics.js:1 Refused to load the script 'https://www.google-analytics.com/analytics.js' because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-eval'". Note that 'script-src-elem' was not explicitly set,

[2020-06-28 21:34] artrayd commented on #280
Seems like it's a problem inside "kocal/vue-web-extension", because when I tried to that without plugin it doesn't work either.

[2020-06-28 21:34] #280 closed

[2020-07-25 19:43] rajeshwarpatlolla commented on #180
I am also facing the same issue. Auto tracking is not working. But if i add `this.$ga.page('/login');` manually, then it is working.

[2020-07-25 19:52] rajeshwarpatlolla commented on #180
I too had the same issue. The solution is we need to pass the router instance to vue analytics to work with automatic page tracking.

<img width="1060" alt="Screenshot 2020-07-26 at 1 21 26 AM" src="https://user-images.githubusercontent.com/9896335/88465165-64f41200-cede-11ea-824a-7f8080630501.png">

[2020-08-06 22:27] axe-me commented on #177
for 5.x
[code]

[2020-08-06 22:29] axe-me commented on #280
for 5.x this works for me
[code]

also the domain you put into the `content_security_policy` is wrong, should be:
`"content_security_policy": "script-src 'self' https://www.google-analytics.com; object-src 'self'"`

[2020-10-07 18:09] SamuelRacine opened #287 "Single Page Application tracking"
Hi there,

I need to implement page tracking in my nuxt typescript SPA.

According to [this GA documentation](https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications), in order to do proper page tracking for SPA you should make those 2 calls:
[code]

Therefore the first call for the set page would translate to something like this right? :
`this.$ga.page('/

[2020-10-12 10:19] microchi opened #288 "Using in vue3 will get "Cannot set property '$ga' of undefined" Error"
Using in vue3 will get "Cannot set property '$ga' of undefined" Error

Online SandBox https://codesandbox.io/s/dazzling-pike-riv8o

![Screen](https://user-images.githubusercontent.com/13308256/95735436-60f2b780-0cb7-11eb-8e85-8f5fc741f40e.png)

[2020-10-12 10:42] MatteoGabriele commented on #288
Well no surprises here: this plugin is not made for Vue 3 and probably will never be.
If you are creating a new project I would suggest you to use vue-gtag which has a Vue 3 updated version I'm working at. You can install it under vue-gtag-next, but it's still finishing the documentation

[2020-10-19 06:46] microchi commented on #288
Got it! Thanks!

[2020-10-19 07:04] #288 closed

[2020-10-26 03:12] ridhof opened #290 "Tracking each page using Google Analytics 4"
Hi there, I tried to track user activities on my app using vue-analytics that referenced in [this article](https://webdeasy.de/en/vue-analytics-en/) that published on 9th October. Author mentioned that to use vue-analytics I have to configure it on main vue file like below
[code]
and then I realized that the id is using UA which stands for Universal Analytics that refers to previous generation of

[2020-10-26 07:21] MatteoGabriele commented on #290
@ridhof to be able to use Google Analytics 4 you need to switch to gtag.js so I you have to change package.
if you are using Vue 2, you can install [vue-gtag](https://github.com/MatteoGabriele/vue-gtag) or, if you are using Vue 3, install [vue-gtag-next](https://github.com/MatteoGabriele/vue-gtag-next) ( this will soon be directly integrated inside vue-gtag once Vue 3 goes out of the `next` flag )

[2020-10-26 07:21] #290 closed

[2020-10-26 10:29] ridhof commented on #290
ah I see, I was using vue-gtag and it's already working pretty well.
but I'll try vue-gtag-next too, thank you!

[2020-10-29 06:27] #287 closed

[2020-10-29 06:55] MatteoGabriele commented on #287
Sorry for the delay, if you are manually tracking then you can use `query('send', 'pageview')` or just use the vue-analytics built-in router tracking that does it for you automatically.

Strange that I never exposed that method. It's probably because most of the time developers use the automatic tracking system

[2020-10-29 12:45] SamuelRacine commented on #287
Hi there,

It turns out that it's working fine without the `ga('send', 'pageview');`.

Best regards,

Sam

[2020-11-02 08:56] jerrychong25 commented on #290
@MatteoGabriele @ridhof Thanks for proving this solution.

Same issue on facing new ID G-XXXX as well.

**vue-gtag** is working perfectly!

[2020-11-04 12:24] janswist opened #291 "[help] addTransaction no being received by Google Analytics"
### Description

Question about implementation:
[code]

### Expected behavior

After successful purchase see checkout value in Google Analytics and conversion to be bigger than 0%. I did a purchase myself and no luck.

### Actual behavior

Data is not on Google Analytics.

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-analytics`:
frontend@0.1.0 /Us

[2020-11-04 17:39] MatteoGabriele commented on #291
not sure but, looking at the Google Analytics documentation, looks like after these operations you need to explicitly send an `ecommerce:send` action as here specified https://developers.google.com/analytics/devguides/collection/analyticsjs/ecommerce#sendingData

so after all your events you might need to add a `this.$ga.ecommerce.send()`

[2020-11-07 18:18] janswist commented on #291
Sorry for late answer. This is what I get:

![image](https://user-images.githubusercontent.com/5583954/98448641-c3f83280-212d-11eb-8272-12b3404a8ad8.png)

Even though I can see `send` function in ecommerce object:
![image](https://user-images.githubusercontent.com/5583954/98448671-00c42980-212e-11eb-943d-331cd35ec3fe.png)

[2020-11-07 19:34] MatteoGabriele commented on #291
can you show me your installation snippet?

[2020-11-07 19:35] janswist commented on #291
Sure, here it is:
![image](https://user-images.githubusercontent.com/5583954/98449970-be541a00-2138-11eb-8c1d-7ef0045139d4.png)

[2020-11-11 11:09] janswist commented on #291
@MatteoGabriele ping in case it went unnoticed :)

[2020-11-11 18:54] janswist commented on #291
I made a little inspection and seems like it could have more to do with GA itself than `vue-analytics` plugin:
![image](https://user-images.githubusercontent.com/5583954/98848929-bce56300-2452-11eb-90ed-5b710c6e988f.png)

Seems like when `ecommerce: { enhanced: true }` it loads only Enhanced Ecommerce methods via `ec.js`, but not the basic ones. When it's turned off then it loads then the basic on

[2020-11-11 19:22] MatteoGabriele commented on #291
Oh thanks! Sorry had a lot to work and forgot to check in. Thanks for your debugging

[2020-11-11 19:23] #291 closed

[2020-11-17 02:35] senayrup opened #292 "Wrong type definition in vue-analytics.d.ts?"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description
I'm assuming type definition of EcommerceProduct is incorrect, written in vue-analytics.d.ts as such:
[code]
I think this should be:
[code]

### Expected behavior
Below code should not show type error
[code]
Reference: https://developers.google.com/analytics/devguides/collection

[2020-12-02 08:32] didiosn opened #294 "No data in Google Analytics after 4 days ."
Hi, I've add vue-analytics in my project but still got no data at all. The new tracking id is not in UA-***** format. Is that the problem ?

[2020-12-02 09:14] didiosn commented on #294
It was a mistake with the tracking ID. But now I'm facing the : "Maximum call stack size exceeded" error. Just can't find the problem.

[2020-12-02 11:59] MatteoGabriele commented on #294
Yes, this package doesn't support v4. For that you would have to use vue-gtag

[2020-12-02 13:36] didiosn commented on #294
All right. Let me try it.

[2020-12-02 13:39] didiosn commented on #294
Still not working. I'm facing a **Maximum call stack size exceeded** error.

[2020-12-02 13:46] didiosn commented on #294
I fixed it. To recap, install Vue-gtag instead of vue-analytics when using Google Analytics V4. Then add the router as the third parameter in the initialization.

Bad implementation :

`Vue.use(VueAnalytics, {
    id: 'G-******',
    router
});`

Good one

`Vue.use(
        VueAnalytics,
        {
            id: 'G-******'
        },
        router);`

[2020-12-02 13:47] #294 closed

[2020-12-08 09:35] #292 closed

[2020-12-11 05:56] Suprabhanu opened #296 "Collect call not being fired"
### Description

The google Collect call is not being fired when the GA tag (v-track) has been placed for an element.

### Expected behavior

The google collect call should be triggered every time

### Actual behavior

The collect call is not being fired.

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-analytics`:

`-- UNMET DEPENDENCY vue-analytics

[2020-12-23 21:00] boicetomlin commented on #174
The custom vars can be viewed in analytics under Audience -> custom -> custom variables.  I also see no way to call the __setCustomVar method.  it's not an event.  it's not a page view.  set method does not seem to work because the __setCustomVar method takes four arguements:[ index, name, value, opt_scope].

https://developers.google.com/analytics/devguides/collection/gajs/gaTrackingCustomVariabl

[2020-12-24 19:49] HenglyEver opened #297 "ignoreRoutes with wildcard"
ignoreRoutes is really powerful that you can ignore some path or route name but can we also have wild card ignore? Something like if I put `/^admin-.+/`, it is going to ignore all route names start with admin?

[2021-01-01 19:58] #296 closed

[2021-01-13 15:15] liqueflies commented on #48
Hello, why have you removed the check for adding "allowLinker"?

https://github.com/MatteoGabriele/vue-analytics/blob/cf1bde0f71806acfed9e75659858671c9ac0716c/src/create-trackers.js#L29

Thank you!

[2021-01-16 09:57] #297 closed

[2021-01-16 13:43] KappaLambda commented on #294
This answer confused me a little bit. I use the GA4. So do I need vue-analytics or vue-gtag. You mention that you installed vue-gtag instead of vue-analytics but your example below still uses vue analytics and not vue-gtag.

Here is an example from Vue Gtag documentation.

[code]

[2021-02-05 14:11] mimar19 opened #298 "Google Analytics 4"
Is it currently working with GA4 and the new measurement ID, if not, will it be adapted for it?

[2021-02-09 13:48] pandalion commented on #109
Hi @MatteoGabriele does your vue-gtag library have a similar enableTracking and disableTracking? I am trying to replace `vue-analytics` with this one. thank you :)

[2021-02-10 12:54] acuD1 commented on #298
I tested with GA4, it doesn't seems to work.

[2021-02-11 07:10] MatteoGabriele commented on #298
no, you have to switch from analytics.js to gtag.js so I would suggest something like vue-gtag or another package that uses gtag.js which is the new Google Analytics standard script

[2021-02-11 07:10] #298 closed

[2021-03-15 18:02] edarioq commented on #161
If anyone needs it, with the recent update you can:

[code]

Declare the variable:
[code]

Then you can use it in your code:
[code]

[2021-03-30 16:49] seanggani opened #301 "ga.disable() and ga.enable() are not working"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

Hello there, I initialized Vue analytics with disabled: true and in the effort to be compliant with GDPR, want to invoke ga.enable() once the user gives consent. To test this out, I tried putting a $ga.event("Hi") right after the enable, and I see that the event is not being tr

[2021-04-03 12:40] gudirut commented on #301
Hey, I faced the same issue and switched to the maintained rep of MatteoGabriele: https://github.com/MatteoGabriele/vue-gtag

Here, enable and disabale works on the fly!

[2021-04-12 22:47] carlitoscarrara commented on #298
Hello Matteo,
I think it would help a lot if you post the info of the last comment on the main readme.

PS: thanks for your libraries. They are very helpful!

[2021-04-13 10:05] MatteoGabriele commented on #298
I'll put a note in the Readme file, thanks

[2021-05-25 15:39] josephkobti commented on #301
vue-gtag requires Vue ^3.0.0, any solution that works with Vue 2?

[2021-06-16 21:54] #301 closed

[2021-06-18 19:37] ilmoi opened #302 "GA instrumentation won't work. What am I missing?"
I've read previous answers and re-read the guidelines multiple times, and I can't find a mistake in my code. For some reason GA doesn't instantiate.

My router/index.js:
[code]

And main.js:
[code]

Can someone help me spot an error?

And just to be clear - the above alone should be enough to start tracking pageviews, or do I also need to add tracking code to each page separately?

[2021-06-18 21:11] MatteoGabriele commented on #302
All looks okay from the snippet, but I notice that the ID passed does not have the typical analytics format: what is it?
usually, it starts with `UA-`, your is `G-`

[2021-06-20 15:21] ilmoi commented on #302
So it seems the problem has to do with Google Analytics 4 - the new version of GA. With GA4 they don't give you a `UA-` code anymore and instead they give you a `G-` code. You need to go through advanced options [as explained here](https://support.google.com/analytics/answer/10269537) to setup the old GA and get a `UA-` code.

With UA code everything seems to work fine. Hope helps anyone with a si

[2021-06-20 16:54] MatteoGabriele commented on #302
If u need ga4, u probably should switch to 'vue-gtag' package

[2021-06-21 06:23] MatteoGabriele commented on #302
I will close this ticket since the issue seems to be in analytics itself, more than in the plugin.

[2021-06-21 06:23] #302 closed

[2021-07-28 19:58] YanDevDe commented on #301
This issue is still there. It should have high priority.

[2021-07-29 10:31] dio5 commented on #41
So, we seem to have a very similar issue with the latest version.
In dev mode, both the first load track and the afterEach next tick track are called.
Compiled however, it only tracks once... but there is one page type where it does track trigger both the initial load and the afterEach... I'm not sure yet what is the correct behavior with this module.

[2021-09-15 15:33] gnicolas31 opened #303 "Not tracked on dynamic content"
Hi,

I'm reporting an issue with this, or maybe I'm doing something wrong.

Everything work fine for nearly all of my website.

The problem come in my blog on the single post pages, where user is not detected.

However, the googletagmanager is loaded normally in thoses page, as the others pages.

My single post pages load content from external wordpress endpoint and inject them in my page with thi

[2021-11-24 12:54] iustin-gheorghe commented on #94
@psnoonan We are currently migrating one of our apps to Nuxt, and after adding new properties to the analytics account, we are facing the same issue: the new properties get random sessions generated.

![image](https://user-images.githubusercontent.com/63230351/143242120-54194559-8584-484c-b80f-b4a4685b775b.png)

We can't use the [other plugin](https://github.com/ScreamZ/vue-analytics) because it d

[2021-11-24 17:22] psnoonan commented on #94
@iustin-gheorghe
we don't have complex analytics needs on our Nuxt 2 sites, so we moved away from using any analytics package and created our own plugin.

In the plugin (which is only loaded on client), we initialize using Google's provided script, then track pageviews using the following:
[code]

Then to track events we use a helper method:
[code]

[2021-11-25 12:03] iustin-gheorghe commented on #94
I see, that's was our next step also. Thanks a lot for getting back!

[2022-02-18 12:32] aboutmydreams commented on #288
Hi, is there anyway to fix it or use GA in vue3 ?

[2022-02-19 18:21] MatteoGabriele commented on #288
If you started a new project, I'd suggest you to use vue-gtag. I'm not supporting this package anymore

[2022-04-24 07:04] MOAB7698 opened #304 "Measurement ID instead of Tracking ID"
hi
in doc use Tracking ID like this "UA-XXX-X" but in panel i have Measurement ID like this "G-XXXXXXXXXX" how use Measurement ID

[2022-04-28 12:36] sanyaches commented on #304
@MOAB7698 Hi!
You can use the new package for Google Analytics 4 - [vue-gtag](https://github.com/MatteoGabriele/vue-gtag)